.subscribe-coupon-container {
    position: fixed;
    left: 40px;
    bottom: 40px;
    max-width: 640px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 8px 30px -20px rgba(10, 32, 41, 0.6), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    display: none;
    z-index: 100;
    
    &.open {
        display: flex;
    }
    

    > .close-btn {
        position: absolute;
        right: -20px;
        top: -20px;
        border-radius: 100%;
        background: #fff;
        padding: 20px;
        opacity: 1;
        text-shadow: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        z-index: 100;
        transition: all 0.2s;

        &:not(:disabled):not(.disabled):hover,
            &:not(:disabled):not(.disabled):focus:hover,
            &:not(:disabled):not(.disabled):focus {
            opacity: 1 !important;
        }

        .icon {
            transition: all 0.2s;
        }

        @media (min-width: 1024px) {
            &:hover {

                background-color: @color-primary;

                .icon {

                    background-image: url('../icons/icon-close-big-white.svg');
                }
            }
        }

        @media (max-width: 575px) {
            padding: 8px;
            border-radius: 0;
            box-shadow: none;
            right: 12px;
            top: 12px;
        }
    }
    
    > .left {
        padding: 24px 32px;
        width: 100%;
        
        .title {
            font-size: 20px;
            line-height: 28px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        
        .sub-title {
            color: @color-text-semi;
        }
        
        .input-container {
            margin: 24px 0;
            display: flex;
            align-items: stretch;
            
            input[type="email"], input[type="text"] {
                background: @color-gray;
                padding: 12px;
                font-size: 16px;
                line-height: 24px;
                color: @color-text-primary;
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 8px 0px 0px 8px;
                width: 100%;
            }
            
            button {
                border-radius: 0px 8px 8px 0px;
                padding-left: 24px;
                padding-right: 24px;
                
                span {
                    display: flex;
                    align-items: center;
                    
                    &:after {
                        content: "";
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.10658 5.55395L11 11.7793L19.8934 5.55395C19.728 5.22692 19.388 5 19 5H3C2.61204 5 2.27196 5.22692 2.10658 5.55395ZM20 7.92066L11.5735 13.8192C11.2291 14.0603 10.7709 14.0603 10.4265 13.8192L2 7.92066V18C2 18.5477 2.45228 19 3 19H19C19.5477 19 20 18.5477 20 18V7.92066ZM0 6C0 4.34772 1.34772 3 3 3H19C20.6523 3 22 4.34772 22 6V18C22 19.6523 20.6523 21 19 21H3C1.34772 21 0 19.6523 0 18V6Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
                        width: 22px;
                        height: 22px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin-left: 8px;
                    }
                }
            }
            
            &.error + .error-message {
                display: block;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 24px;
            }
            
            &.error {
                margin-bottom: 8px;
                
                input[type="email"], input[type="text"] {
                    border: 2px solid @color-error;
                }
            }
        }
        
        .agreement-text {
            font-size: 14px;
            line-height: 20px;
            color: @color-text-secondary;
        }
        
        .confirmed-text {
            color: @color-text-semi;
            
        }
    }
    
    > .right {
        width: 160px;
        border-radius: 0 12px 12px 0;
        flex-shrink: 0;
        background-position: center center;
        background-size: cover;
        min-height: 180px;
    }
    
}

@media (max-width: 1024px)
{
    .subscribe-coupon-container {
        left: 2.5%;
        bottom: 24px;
        max-width: 95%;
        
    }
}

@media (max-width: 575px)
{
    .subscribe-coupon-container {
        
        left: 0;
        bottom: 0;
        max-width: 100%;
        border-radius: 12px 12px 0 0;
        box-shadow: 0px 8px 30px 0px rgba(10, 32, 41, 0.6);
        
        > .left {
            padding: 18px;
            
            .input-container {
                margin: 16px 0;
                
                button {
                    span {
                        text-indent: -9999px;
                        
                        &:after {
                            margin-left: 0;
                        }
                    }
                }
            }
            
            .agreement-text {
                font-size: 13px;
                line-height: 15px;
            }
            
            .confirmed-text {
                margin-bottom: 12px;
            }
        }
        
        > .right {
            display: none;
        }
    }
}