@keyframes spinner {
  to {transform: rotate(360deg);}
}

.order-simple-container {
    margin: 0 auto;
    max-width: 968px;
    position: relative;
    
    .unconfirmed {
        position: relative;
        
        &:before {
            content: "";
            position: absolute;
            width: 50%;
            height: ~'calc(100% - 200px)';
            top: 200px;
            left: 0;
            background: #fff;
            opacity: .7;
            z-index: 10;
        }
    }
    
    @media (max-width: 991px) {
        
        .unconfirmed:before {
            width: 100%;
            top: 230px;
            height: ~'calc(100% - 230px)';
        }
    }
    
    @media (max-width: 968px) {
        margin: 0 12px;
        
        .unconfirmed:before {
            width: 100%;
            top: 210px;
            height: ~'calc(100% - 210px)';
        }
    }
    
    &.ajax-loading:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(255,255,255, 0.7);
    }
    
    &.ajax-loading:after {
        content: '';
        box-sizing: border-box;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 45px;
        height: 45px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 5px solid @color-gray-border;
        border-top-color: @color-primary;
        animation: spinner 1s linear infinite;
        z-index: 101;
    }
    
    @media (max-width: 968px) {
        .row.sended-sms {
            .col-phone-input {
                display: none;
            }
        }
    }
    
    .properties-container {
        margin-bottom: 44px;
        
        > .head-title {
            .h3;
            margin-bottom: 0;
            margin-top: 0;   
        }
        
        > .head-sub-text {
            font-size: 18px;
            color: @color-text-secondary;
        }
        
        .properties-list {
            margin-top: 32px;
            
            @media (max-width: 968px) {
                    margin-top: 12px;
                }
            
            .field-row {
                margin-bottom: 24px;
            }
            
            .custom-input-wrap {
                position: relative;
            }
            
            .custom-input {
                position: relative;
                width: 100%;
                
                &.confirmed:after {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 7L9 17L4.5 12' stroke='%234EA42D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-position: center center;
                    background-repeat: no-repeat;
                    right: -36px;
                    top: 18px;
                }
            }
        }
        
        .send-smscode {
            display: inline-block;
            position: relative;
            font-size: 16px;
            color: @color-text-semi;
            text-decoration: none;
            border-bottom: 1px dotted #c4c4c4;
            
            &:after {
                content: "";
                width: 12px;
                height: 10px;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893L11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L7.70711 9.70711C7.31658 10.0976 6.68342 10.0976 6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289L8.58579 6H1C0.447715 6 0 5.55228 0 5C0 4.44772 0.447715 4 1 4H8.58579L6.29289 1.70711C5.90237 1.31658 5.90237 0.683418 6.29289 0.292893Z' fill='black' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
                position: absolute;
                right: -20px;
                top: 8px;
            }
        }
        
        .field-description {
            font-size: 16px;
            color: @color-text-secondary;
            margin-top: 8px;
        }
        
        .delivery-types {
            display: flex;
            margin-bottom: 24px;
            
            .item {
                color: @color-text-semi;
                text-decoration: none;
                padding: 12px 24px;
                border: 1px solid #EDEDED;
                font-weight: 500;
                
                &:first-child {
                    border-radius: 8px 0px 0px 8px;
                }
                
                &:last-child {
                    border-radius: 0px 8px 8px 0px;
                }
                
                &:last-child:not(.active) {
                    border-left: none;
                }
                
                &:first-child:not(.active) {
                    border-right: none;
                }
                
                &.active {
                    color: @color-text-primary;
                    border: 2px solid @color-primary;
                }
                
                &.disabled {
                    opacity: 0.3;
                    cursor: default;
                }
            }
        }
        
        .radio-list {
            margin-bottom: 24px;
            
            .item {
                margin-bottom: 8px;
                
                @media (max-width: 968px) {
                    margin-bottom: 0;
                }
                
                .custom-control-label {
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }
                
                span {
                    margin-right: 5px;
                }
                
                .price:before {
                    content: '\2014';
                    margin: 0 5px;
                }
                
                .description {
                    color: @color-text-secondary;
                    margin-top: 4px;
                    width: 100%;
                }
            }
        }
        
        .order-add-comnent {
            display: inline-block;
            font-weight: 500;
            color: @color-text-semi;
            text-decoration: none;
            border-bottom: 1px dotted #c4c4c4;
        }
        
        .select-pickpoint-container {
            border: 1px solid rgba(0, 0, 0, 0.07);
            padding: 16px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 12px;
            margin-bottom: 44px;
            
            .head-title {
                color: @color-text-secondary;
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                
                
                &:before {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.2414 13.0909C29.2414 23.2727 16 32 16 32C16 32 2.75861 23.2727 2.75861 13.0909C2.75861 9.61899 4.15368 6.28926 6.63692 3.83424C9.12016 1.37922 12.4882 0 16 0C19.5118 0 22.8798 1.37922 25.3631 3.83424C27.8463 6.28926 29.2414 9.61899 29.2414 13.0909Z' fill='black' fill-opacity='0.6'/%3E%3Crect x='11.5862' y='8.82715' width='8.82759' height='8.82759' rx='4.41379' fill='white'/%3E%3C/svg%3E%0A");
                    width: 32px;
                    height: 32px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 8px;
                }
            }
            
            &.error {
                .error-message {
                    font-size: 12px;
                    line-height: 16px;
                    display: block;
                    color: #df2e2e;
                    margin-top: 4px;
                }
            }
        }
        
        .selected-pickpoint-container {
            
            position: relative;
            padding-left: 40px;
            margin-bottom: 44px;
            
            &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.2414 13.0909C29.2414 23.2727 16 32 16 32C16 32 2.75861 23.2727 2.75861 13.0909C2.75861 9.61899 4.15368 6.28926 6.63692 3.83424C9.12016 1.37922 12.4882 0 16 0C19.5118 0 22.8798 1.37922 25.3631 3.83424C27.8463 6.28926 29.2414 9.61899 29.2414 13.0909Z' fill='black' fill-opacity='0.6'/%3E%3Crect x='11.5862' y='8.82715' width='8.82759' height='8.82759' rx='4.41379' fill='white'/%3E%3C/svg%3E%0A");
                    width: 32px;
                    height: 32px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 8px;
            }
            
            .head-title {
                color: @color-text-primary;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 12px;
            }
            
            .description {
                color: @color-text-semi;
                margin-bottom: 16px;
            }
            
            .btn-show-more {
                width: auto;
                padding: 12px 24px;
                color: @color-text-semi;
            }
        }
        
    }
    
    .locations-list {
        position: absolute;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 8px 30px -20px rgba(10, 32, 41, 0.6), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
        z-index: 10;
        margin-top: 8px;
        
        > a {
            display: block;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.06);
            padding: 12px 16px;
            color: @color-text-secondary;
            text-decoration: none;
            
            b {
                font-weight: normal;
                color: @color-text-primary;
            }
        }
    }
    
    .pickup-container-wrapper {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        height: ~"calc(var(--vh, 1vh) * 100)";
        left: 0;
        top: 0;
        background: rgba(0,0,0, 0.48);
        backdrop-filter: blur(30px);
        z-index: 1000;
        align-items: center;
        justify-content: center;
                
        &.open {
            display: flex;
        }
        
        > .container {
            position: relative;
            border-radius: 12px;
            width: 100%;
            background: #fff;
            padding: 0;
            margin: 0 32px;
            
            
            > .close-button {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: -32px;
                top: -32px;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                background: #fff;
                z-index: 1;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 0px 2px rgba(0, 0, 0, 0.2);
                
                &:before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L12 12M18 18L12 12M12 12L6 18M12 12L18 6' stroke='black' stroke-opacity='0.6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            
            .pickup-container {
                display: flex;
                align-items: stretch;
                overflow: hidden;
                border-radius: 12px;
                min-height: 300px;
                    
                @media (max-width: 968px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            
            
            
            .pickup-list {
                max-width: 470px;
                width: 100%;
                padding: 16px 6px 16px 16px;
                height: 80vh;
                
                @media (max-width: 968px) {
                    order: 2;
                    max-width: 100%;
                    height: 50vh;
                    padding: 16px 12px;
                }

                .scrollbar-inner {

                    @media (max-width: 968px) {
                        width: ~"calc(100% + 12px)";
                        padding-right: 12px;
                    }
                }
                
                .pickup-item {
                    padding: 12px 16px;
                    margin-bottom: 4px;
                    
                    .address {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 4px;
                        font-weight: 600;
                    }
                    
                    .additional {
                        color: @color-text-semi;
                        margin-bottom: 4px;
                    }
                    
                    .btn {
                        margin-top: 4px;
                        padding: 12px 24px;
                        color: @color-text-semi;
                        border: 1px solid rgba(0, 0, 0, 0.07);
                        border-radius: 8px;
                    }
                }
            }
            
            .pickup-map {
                background-color: @color-bg-gray;
                width: 100%;
                
                @media (max-width: 968px) {
                    order: 1;
                    height: 40vh;
                }
            }
        }
        
    }
    
    
    
    .order-actions {
        
        .btn-primary:disabled {
            background: @color-bg-gray;
            color: @color-text-disable!important;
            
            &:hover {
                background-color: @color-bg-gray!important;
                color: @color-text-disable!important;
                border-color: @color-bg-gray!important;
            }
        }

        @media (max-width: 968px) {
            .btn-primary {
                width: 100%;
                text-align: center;
            }
        }
        
        .agree-policy {
            margin-top: 16px;
            font-size: 14px;
            line-height: 20px;
        }
        
        .phone-confirm-error {
            span {
                color: #721c24;
                text-decoration: underline;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
    
    .order-simple-basket {
        position: sticky;
        top: 0;
        border: 1px solid rgba(0, 0, 0, 0.07);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 16px;
        
        @media (max-width: 968px) {
            margin-top: 24px;
        }
        
        > .head-title {
            color: @color-text-secondary;
            margin-bottom: 16px;
        }
        
        .basket-items {
            .item {
                display: flex;
                margin-bottom: 16px;
                
                .image {
                    border: 1px solid rgba(0, 0, 0, 0.07);
                    box-sizing: border-box;
                    border-radius: 8px;
                    width: 64px;
                    height: 64px;
                    margin-right: 12px;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    flex-shrink: 0;
                }
                
                .info {
                    .name {
                        color: @color-text-primary;
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 8px;
                        text-decoration: none;
                        display: block;
                    }
                    
                    .price {
                        font-size: 16px;
                        color: @color-text-secondary;
                        
                        .measure:before {
                            content: '\2014';
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        
        .summary-container {
            
            &:before {
                content: "";
                display: block;
                width: 100%;
                background: rgba(0, 0, 0, 0.07);
                margin-bottom: 16px;
                height: 1px;
            }
            
            .item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4px;
                
                .item-label {
                    color: @color-text-secondary;
                }
                
                .item-value {
                    text-align: right;
                    color: @color-text-primary;
                    font-weight: 700;
                }
                
                &.item-discount {
                    .item-value {
                        padding: 2px 6px;
                        background-color: @color-label-action;
                        border-radius: 4px;
                    }
                }
                
                &.item-total {
                    margin-top: 16px;
                    
                    .item-label {
                        color: @color-text-primary;
                    }
                    
                    .item-value {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}

.order-simple-confirm {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 968px;
    margin: 64px auto 80px auto;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    padding: 32px 32px 32px 144px;
    
    &:before {
        content: "";
        position: absolute;
        left: 32px;
        top: 32px;
        width: 96px;
        height: 96px;
        background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67 88H17.2778C16.0596 88 15.109 86.946 15.2344 85.7343L20.8094 31.8429C20.9177 30.7958 21.8 30 22.8527 30H30M30 30V15.902C30 10.9855 33.9855 7 38.902 7H48.098C53.0145 7 57 10.9855 57 15.902V38M30 30V38M36 30H63' stroke='black' stroke-opacity='0.4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M72 57L61.5 67L57 62' stroke='black' stroke-opacity='0.4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='64' cy='62' r='16' stroke='black' stroke-opacity='0.4' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    @media (max-width: 968px) {
        padding: 24px 12px 24px 96px;
        margin: 24px 12px 80px 12px;
        width: ~'calc(100% - 24px)';
        
        &:before {
            width: 64px;
            height: 64px;
            left: 12px;
            top: 24px;
        }
    }
    
    > h1 {
        margin: 0 0 24px 0;
    }
    
    .important-description {
        font-size: 18px;
        line-height: 26px;
        margin: 12px 0;
    }
    
    .description {
        color: @color-text-semi;
        margin: 12px 0;
    }
}

.delay-error {
  outline: 0 !important;
  background-color: #ff00001f !important;
  animation-name: bounce !important;
  animation-duration: .5s !important;
  animation-delay: 0.25s !important;
}
@keyframes bounce {
  0% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    animation-timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    animation-timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    animation-timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    animation-timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
}

@media (max-width: 968px) {
    
    .order-simple-container .properties-container .properties-list .custom-input.confirmed:after {
        right: 8px;
    }
    
    .order-simple-container .pickup-container-wrapper {
            
            
            > .container {
                margin: 0;
                height: 100%;
                border-radius: 0;
                
                > .close-button {
                    right: 0;
                    top: 0;
                    border-radius: 0 0 0 50%;
                }
                
                .pickup-list {
                    height: 50vh;
                }
                
                .pickup-map {
                    height: 50vh;
                }
                
                .pickup-list .pickup-item {
                    padding: 0 0 12px;
                    
                    .address {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    
                    .additional {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    
                    .btn {
                        width: 100%;
                        text-align: center;
                        padding: 6px 0;
                    }
                }
            }
    }
}