/* less */
html {
    overflow-x: hidden;
}
.bx-basket {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 72px 0;
    // font-family: @font-family;
    font-family: "Inter", sans-serif;

    @media (max-width: 992px) {
        margin: 0 0 48px;
    }

    * {
        // font-family: @font-family;
        font-family: "Inter", sans-serif;
    }


    .row:not(:last-child) {
        width: 76.64%;

        @media (max-width: 1200px) {
            width: auto;
        }
    }

    .row:last-child {
        position: absolute;
        width: 25.41%;
        top: 0;
        bottom: 0;
        right: 0;

        @media (max-width: 1200px) {
            position: static;
            width: auto;
        }

        .basket-checkout-container {
            padding: 16px;
            border: 1px solid @color-border-7;
            border-radius: 12px;

            @media (max-width: 1200px) {
                display: flex;
                flex-direction: column;
            }
        }

        .basket-coupon-alert-section {
            margin-bottom: 8px;
        }

        .basket-coupon-block-field {
            padding-right: 0;

            .form-group {
                margin-bottom: 0;
            }

            .form-control {
                height: 48px;
                padding: 11px 32px 11px 12px;
            }

            .basket-coupon-block-field-description {
                .font-body-2;
                margin-bottom: 8px;
            }
        }

        .basket-checkout-section-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .basket-checkout-block-total-price {
            padding-left: 0;
        }

        .basket-checkout-block.basket-checkout-block-total {
            padding: 0;
            text-align: left;
        }

        .basket-checkout-block-total-price-inner {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            padding: 0;
        }

        .basket-coupon-block-total-price-current {
            .font-price-large;
            order: -1;
            text-align: left;
            width: 100%;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .basket-checkout-block-total-inner {
            margin-bottom: 3px;
        }

        .basket-checkout-block-btn {
            padding: 0;
            margin-top: 16px;
            width: 100%;

            .btn {
                .font-large-button;
                width: 100%;

                @media (min-width: 992px) {
                    &:hover {
                        background-color: @color-primary !important;
                        border-color: @color-primary !important;
                    }
                }
            }
        }

        .basket-coupon-block-coupon-btn {
            border: 0;
            width: 12px;
            height: 24px;
            background-image: url('../icons/icon-arrow-right-text-button.svg');
            background-position: center;
            transform: none;
            top: 14px;
            right: 11px;
        }

        .basket-coupon-section {
            margin-bottom: 8px;
        }

        .basket-checkout-block-total-title {
            .font-title;
            margin-bottom: 4px;
        }

        .basket-checkout-block-total-description {
            .font-body-small;
            color: @color-text-secondary;
            margin-bottom: 4px;
        }
    }
}

.basket-items-list-item-descriptions {
    width: 60%;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 12px;
    }
}

.basket-item-price-title {
    width: 100%;
    color: @color-text-secondary;
}

.basket-item-price-old {
    .font-body-small;
}

.basket-item-price-old-text {
    .font-body-small;
    color: @color-text-secondary;
    text-decoration: line-through;
}

.basket-items-search-field {

    @media (max-width: 768px) {
        display: none;
    }

    &+ .basket-items-list-header-filter {

        @media (max-width: 768px) {
            padding-left: 0;
            text-align: left;
        }
    }
}

.basket-items-list-item-container-expend {
    .basket-items-list-item-notification {
        width: 100%;
        display: flex;
    }

    .basket-items-list-item-notification-removed {
        width: 100%;
    }

    .basket-items-list-item-removed-container {
        .font-title;
        padding: 0;
        background: transparent;
        color: @color-text-secondary;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: normal;
        }

        strong {
            color: @color-text-primary;
        }

        div {
            padding: 0;
        }
    }

    a {
        .font-large-button;
        display: block;
        color: @color-text-semi;
        margin-right: 16px;

        @media (max-width: 768px) {
            margin-right: auto;
        }

        &:hover {
            color: @color-primary;
        }
    }
}


.basket-items-search-clear-btn {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 0;
    right: 12px;

    &:active,
    &:focus {
        outline: none;
    }
}

.basket-items-list-wrapper {
    margin: -20px 30px 0 0;

    @media (max-width: 1200px) {
        margin-right: 0;
    }

    @media (max-width: 575px) {
        margin-top: -16px;
    }
}

.basket-items-list-container {
    margin-top: -20px;
}

.basket-items-list-header {
    padding: 20px 0;
    border-color: transparent;
    background-color: #fff;

    @media (max-width: 768px) {
        align-items: flex-start;
    }
}

.basket-item-label-ring.basket-item-label-small {
    display: none;
}

.form-control {
    .font-body-2;
    height: auto;
    background-color: @color-gray;
    padding: 11px 44px 11px 12px;
    border-radius: 8px;
    border: 1px solid @color-border-7;
    color: @color-text-primary;

    &::placeholder {
        color: @color-text-secondary;
    }

    &:hover,
    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 1px @color-primary;
        background-color: #fff;
    }

    &:focus {
        background-color: #fff;
    }
}

.input-group > .form-control {
    width: 290px;
}

.form-group {
    margin-bottom: 0;
}

.input-group {

    >.custom-select:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid @color-border-7;
        background-color: @color-gray;
    }

    >.custom-file {
        .custom-file-input:focus~.custom-file-label {
            outline: none;
            box-shadow: none;
            border: 1px solid @color-border-7;
            background-color: @color-gray;
        }
    }
}

.basket-items-list-header-filter {
    padding: 0;
}

.basket-items-list-header-filter-item,
.basket-items-list-header-filter-item.active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: @color-text-semi;
    padding: 12px 10px;
    border-radius: 8px;

    &:hover {
        border-color: transparent;
    }
}

.basket-items-list-header-filter-item {
    position: relative;
    display: inline-flex;
    border: 1px solid transparent;

    &:not(:last-of-type) {
        margin-right: 4px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        bottom: 12px;
        border-bottom: 1px dotted @color-text-primary;
        opacity: 0.4;
        transition: 0.2s;
    }

    &:hover {
        color: @color-text-semi;
        border-color: @color-border-7;

        &::after {
            border-bottom-color: transparent;
        }
    }
}

.basket-items-list-header-filter-item.active {
    background: @color-gray;
    cursor: default;

    &::after {
        border-bottom-color: transparent;
    }
}

.basket-items-list {
    padding: 0;
}

.basket-item-block-actions {
    display: flex;
    padding-top: 6px;

    @media (max-width: 768px) {
        align-items: center;
        padding-top: 0;
    }
}

.page-container {

    .basket-item-info-name {
        .font-title;
        margin-bottom: 12px;
        padding-top: 6px;

        @media (max-width: 768px) {
            padding-top: 0;
            margin-bottom: 8px;
        }
    }
}

.basket-item-block-info {
    display: flex;
    flex-direction: column;
}

.basket-item-actions-remove {

    &:hover {
        svg *{
            fill: #6A6A6A;
        }
    }
}

.basket-item-block-info .basket-item-actions-remove {
    @media (max-width: 768px) {
        display: block !important;
        top: 0;
    }
}

.basket-items-list-item-container {
    display: flex;
    margin: 32px 0;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        margin: 24px 0;
    }

    &.basket-items-list-item-container-expend {
        display: flex;
        padding: 15px;
        border: 1px solid @color-border-7;
        border-radius: 12px;

        @media (max-width: 768px) {
            padding: 11px 12px;
        }
    }

    >td {
        border: 0;
        padding: 0;

        &:first-child {
            margin-right: 16px;

            @media (max-width: 768px) {
                margin-right: 0;
            }
        }

        &:last-child {
            order: 4;
        }
    }

    .basket-items-list-item-amount {
        margin: 0 16px;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .basket-item-block-amount {
        padding: 16px 15px;
        border: 1px solid @color-border-7;
        border-radius: 8px;

        @media (max-width: 991px) {
            display: flex;
            justify-content: space-around;
        }

        &.disabled {
            .basket-item-amount-btn-plus,
            .basket-item-amount-btn-minus {
                pointer-events: none;
            }
        }

        .basket-item-amount-btn-plus,
        .basket-item-amount-btn-minus {
            display: flex;
            width: 24px;
            height: 24px;
            background: transparent;

            &:hover {
                svg * {
                    fill-opacity: 1;
                }
            }
        }

        .basket-item-amount-filed {
            .font-p-small;
            font-weight: normal;
            border: 0;
            width: 100%;
            height: 24px;

            &:active {
                outline: 0;
                box-shadow: none;
            }
        }

        .basket-item-amount-field-description {
            display: none;
        }
    }

    .basket-item-block-price {
        padding: 0;
        display: flex!important;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media (max-width: 768px) {
            justify-content: flex-start;
            height: 100%;
            text-align: left;
        }

        .basket-item-price-current {
            width: 100%;
            order: -1;
            padding: 0;
        }
    }

    .basket-item-info-name-link {
        .font-title;
        font-family: "Inter", sans-serif;
        margin-bottom: 12px;
        padding: 0;
        transition: color 0.2s;

        &:hover {
            text-decoration: none;
            color: @color-primary;
        }
    }

    .basket-item-property:not(.basket-item-property-scu-image) {
        display: flex !important;
    }

    .basket-item-property-scu-image {
        .basket-item-property-name {
            margin-bottom: 4px;
        }
    }

    .basket-item-price-current-text {
        .font-body;
        font-weight: bold;
    }

    .basket-item-scu-item {
        margin: 0;
        width: 64px;
        height: 64px;
        border: 1px solid @color-border-7;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 4px;

        &.selected {
            border: 1px solid @color-primary;

            .basket-item-scu-item-inner {
                box-shadow: inset 0 0 0 1px @color-primary;
                border-radius: 8px;
            }
        }

        @media (min-width: 1024px) {
            &:not(.selected):hover {
                border: 1px solid @color-border-hover;
            }
        }
    }

    .basket-item-scu-color .basket-item-scu-item-inner,
    .basket-item-property-scu-image .basket-item-scu-item-inner {
        width: 100%;
        height: 100%;
        border: 0
    }

    .basket-item-property,
    .basket-item-property-custom {
        .font-body-small;
        margin-bottom: 4px;
        padding: 0;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    .basket-item-property-name,
    .basket-item-property-custom-name {
        .font-body-small;
        color: @color-text-secondary;

        @media (max-width: 768px) {
            .font-body-small;
        }
    }

    .basket-item-property-value,
    .basket-item-property-custom-value {
        .font-body-small;
        color: @color-text-primary;
        font-weight: normal;

        @media (max-width: 768px) {
            .font-body-small;
        }
    }

    .basket-item-block-image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        width: 128px;
        height: 128px;
        flex-shrink: 0;

        @media (max-width: 768px) {
            width: 96px;
            height: 96px;
            margin-right: 12px;
        }
    }

    .basket-items-list-item-price {
        margin: 0 16px;
        padding-top: 6px;

        @media (max-width: 768px) {
            margin: 0 12px;
            padding-top: 0;
        }
    }

    .basket-items-list-item-price-for-one {

        @media (max-width: 768px) {
            display: none;
        }

        .basket-item-block-price {

            @media (max-width: 768px) {
                justify-content: center;
                text-align: right;
            }
        }
    }

    .basket-items-list-item-price:not(.basket-items-list-item-price-for-one) {
        min-width: 109px;
        max-width: 109px;

        @media (max-width: 992px) {
            min-width: 94px;
            max-width: 94px;
        }

        @media (max-width: 768px) {
            min-width: 45%;
            max-width: 45%;
        }

        @media (max-width: 343px) {
            min-width: auto;
            max-width: 40%;
        }

        .basket-item-block-price {
            flex-direction: row;
            align-items: center;
            margin: 0 -2px;

            @media (max-width: 992px) {
                flex-direction: column;
                align-items: flex-end;
            }

            @media (max-width: 768px) {
                flex-direction: row;
                align-items: center;
            }

            &>div {
                margin: 0 2px;
            }
        }
    }

    .basket-item-image-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid @color-border-7;
        border-radius: 8px;
        overflow: hidden;
    }
}

.product-item-label-ring.product-item-label-small {
    display: none;
}

.product-item-image-wrapper {
    padding-top: 100%;
    border-radius: 8px;
    border: 1px solid @color-border-7;
    overflow: hidden;
}

.bx-no-touch .product-item-container,
.product-item-container {
    height: 100% !important;

    .product-item {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .product-item-label-text {
        display: none;
    }

    .product-item-info-container:not(.product-item-price-container) {

        .btn,
        .btn.btn-link.btn-sm {
            .btn;
            .btn-primary;
            .btn-large;
            border-radius: 8px;
            font-size: 16px;
            line-height: 24px;
            text-align: center !important;
            padding: 12px !important;
            display: flex !important;
            justify-content: center !important;
            color: #fff !important;
            width: 100%;
            margin: 0;
        }

        .btn.btn-link.btn-sm {
            background-color: @color-gray  !important;
            color: @color-text-primary  !important;
        }

        border-radius: 0;
    }

    .product-item-info-container {
        margin: 0;
    }

    .product-item-image-wrapper {
        margin-bottom: 16px;
        order: -2;
    }

    .product-item-title {
        .font-title;
        margin-top: auto;
        text-align: left;
        margin-bottom: 16px;
    }

    .product-item-price-container {
        text-align: left;
        display: flex;
        order: -1;
        align-items: center;
        margin-bottom: 4px;
    }

    .product-item-price-current {
        .font-body;
        order: -1;
        margin-right: 8px;
    }

    .product-item-price-old {
        .font-body-small;
    }

    .product-item-info-container.product-item-hidden {
        display: block;
        opacity: 1;
        margin-top: auto;
    }

    &.hover {
        .product-item {
            padding: 0;
            position: static;
            animation: none;
            box-shadow: none;
        }
    }
}

.sale-products-gift {
    padding: 0;
    margin: 0 0 36px;
    .product-items .item-wrap {
        padding: 0;
        @media (max-width: 575px) {
            padding: 0 12px;
            margin-bottom: 0;
        }
    }

    @media (max-width: 1366px) {
        margin: 0 0 32px;
    }

    @media (max-width: 1366px) {
        margin: 0 0 28px;
    }

    @media (max-width: 992px) {
        margin: 0 0 24px;
    }
    
    .basket-gift .product-day-item {
        border: none;
        display: flex;
        flex-direction: column;
        .image-block {
            width: 100%;
            padding-bottom: 100%;
            max-width: 100%;
            border-radius: 12px;
            border: 1px solid rgba(0,0,0,0.07);
            box-sizing: content-box;
            overflow: hidden;
            .product-image {
                border-radius: 12px; 
            }
            .label.gift {
                background: #EDCCFD;
            }
        }
        .info-block {
            padding: 16px 0;
            .main-info {
                display: flex;
                flex-direction: column;
                .buttons-block {
                    order: -1;
                    .buttons-wrap {
                        width: 100%;
                        .to-basket {
                            margin-right: 0;
                            width: 100%;
                            padding: 12px 35px;
                            margin-bottom: 16px;
                            .icon {
                                display: none;
                            }
                        }
                    }
                }
                .title {
                    margin-bottom: 16px;
                    height: 48px;
                    overflow: hidden;
                    @media (max-width: 575px) {
                        font-size: 14px;
                    }
                }
                div .sku-list {
                    .sku-title {
                        margin-bottom: 8px;
                    }
                    .list {
                        padding: 1px;
                        flex-wrap: nowrap;
                        overflow-x: auto;
                        .sku-element {
                            margin-right: 4px;
                            &.image {
                                padding: 0;
                            }
                            div {
                                width: 48px;
                                height: 48px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .basket-gift {
        padding: 12px 0;
    }
   .basket-gift .product-day-item .image-block .badge-in-stock {
        display: none;
    }
}

.product-item-image-original,
.product-item-image-alternative {
    background-size: cover;
}

.catalog-block-header {
    .h2;
    border: 0;
    padding: 0;
    margin: 0 0 40px 0;
}

.product-item-list-col-4 {
    margin-bottom: -24px;

    .col-6 {
        @media (max-width: 992px) {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 24px;
        }
    }
}

.basket-items-list-item-removed-block {
    display: flex;
    align-items: center;
    margin-left: 12px;

    @media (max-width: 768px) {
        margin: 12px 0 0;
    }
}

.basket-items-list-item-remove {
    display: flex;

    @media (max-width: 768px) {
        margin-left: auto;
    }
}

.basket-item-amount-filed-block {
    display: flex;
    width: 40px;
    margin: 0 4px;
}

.basket-coupon-alert {
    .font-body-small;
    display: flex;
    align-items: center;

    &.text-danger {
        color: #E25454!important;
    }

    &.text-success {
        color: #4EA42D!important;
    }

    .close-link {
        display: flex;

        &:hover {
            svg * {
                fill: #6A6A6A;
            }
        }
    }
}

.basket-items-list-item-clear-btn {

    &:hover {
        svg * {
            fill: #6A6A6A;
        }
    }
}

.basket-items-list-item-warning-container {
    margin: 12px 0;

    @media (max-width: 768px) {
        margin: 8px 0 0;
        order: 3;
    }

    @media (max-width: 575px) {
        max-width: 215px;
    }

    .alert {
        .font-body-2;
        padding: 7px 12px;
        color: @color-text-primary;
        border-color: transparent;
        background-color: rgba(18, 180, 246, 0.1);
        margin: 0;

        a {
            color: @color-primary;
            transition: 0.2s;

            &:hover {
                color: @color-text-primary;
            }
        }
    }
}

.basket-coupon-block-total-price-old {
    .font-body-small;
    white-space: nowrap;
    margin-right: 4px;
    text-decoration: line-through;
}

.basket-coupon-block-total-price-difference {
    display: flex;
    align-items: center;
    .font-tiny-text;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: @color-label-action;
    color: @color-blur-60;

    span {

        &:before {
            content: '- ';
        }
    }
}

.basket-item-price-difference {
    .font-tiny-text;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: @color-label-action;
    color: @color-blur-60;

    @media (max-width: 768px) {
        padding: 2px 6px;
    }

    span {

        &:before {
            content: '-';
        }
    }
}

.basket-search-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 178px;
    padding: 16px;
    border: 1px solid @color-border-7;
    border-radius: 12px;
    margin: 32px 0;

    @media (max-width: 768px) {
        margin: 24px 0;
    }
}

.basket-search-not-found-text {
    .font-title;
    color: @color-text-secondary;
    text-align: center;
}

/** Compact **/
.page-container .basket-items-list-wrapper-compact .basket-item-info-name {
    padding-top: 0;
    margin-bottom: 0;
}

.basket-items-list-wrapper-compact {

    .basket-items-list-container {
        margin-top: 0;
    }

    .basket-items-list-item-container {
        margin: 0;
        padding: 10px 0;



        &:not(:last-of-type) {
            border-bottom: 1px solid @color-border-7;
        }
    }

    .basket-items-list-item-container .basket-item-block-amount {
        padding: 10px;
    }

    .basket-items-list-item-container .basket-items-list-item-price {
        padding-top: 0;
    }

    .basket-item-block-actions {
        padding-top: 0;
    }

    .basket-items-list-item-warning-container {
        margin: 6px 0;
    }

    .basket-items-list-item-warning-container .alert {
        .font-small-button;
    }

    .basket-items-list-item-container-expend {
        border: 0;
        border-radius: 0;

        .basket-items-list-item-notification {
            margin-right: 0;
        }

        .basket-items-list-item-removed-container {
            .font-body-2;
        }

        a {
            .font-body-2;
        }
    }
}