

.blog-list {

    .image-wrap {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 16px;
    }
    .labels {
        display: flex;
        position: absolute;
        bottom: 12px;
        left: 12px;
        z-index: 1;

        .label {
            display: flex;
            padding: 2px 6px;
            background-color: @color-blur-60;
            color: #fff;
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
    .image {
        padding-bottom: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.3s;
    }

    .blog-items {
        margin-bottom: 8px;
    }

    .btn-show-more {
        margin-bottom: 16px;
    }
    
    .blog-list-item {
        margin-bottom: 36px;
        color: @color-text-primary;
        
        
        @media (min-width: 1024px) {
            &:hover {
                color: @color-primary;
                .image {
                    transform: scale(1.1);
                }
            }
        }
    }
    .title {
        transition: color 0.2s;
    }
    .date {
        color: @color-text-secondary;
        margin-bottom: 4px;
    }

    .blog-sidebar-menu {
        padding: 8px 16px 0 12px;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        .title {
            margin: 0 0 8px 0;
            padding-bottom: 7px;
            border-bottom: 1px solid @color-border-7;
        }
        .list {
            li {
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
            .item {
                width: 100%;
                padding: 8px 0;
                display: flex;
                justify-content: space-between;
                color: @color-text-primary;
                transition: color 0.2s;
                @media (min-width: 1024px) {
                    &:hover {
                        color: @color-primary;
                    }
                }
                .count {
                    color: @color-text-secondary;
                }
            }
        }

        .blog-tags {
            margin-top: 16px;
        }
    }

    .sidebar-left {
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &.type-2 {
        .col-md-8 {
            .image {
                padding-bottom: 48.039%;
                @media (max-width: 767px) {
                    padding-bottom: 100%;
                }
            }
        }
    }
    &.inner {
        >.container {
            >.row {
                >.col {
                    @media (max-width: 1023px) {
                        padding: 0;
                    }
                }
            }
        }
        .content-wrapper {
            padding: 24px;
            border: 1px solid @color-border-7;
            border-radius: 12px;
            display: flex;
            @media (max-width: 1023px) {
                padding: 0;
                border: 0;
            }
            .content {
                padding: 0 7.486%;
                @media (max-width: 1366px) {
                    padding: 0 6.706%;
                }
                @media (max-width: 1023px) {
                    padding: 0;
                }
            }
        }
        .blog-tags {
            @media (max-width: 1023px) {
                overflow-x: scroll;
                flex-wrap: nowrap;
                width: 90vw;
            }
            .item {
                white-space: nowrap;
            }
        }
        
        .inner-text + .article-info{
            margin-top: 48px;
        }

        &.inner-type-2 {
            .content-head {
                position: relative;
                height: 500px;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                padding: 40px 11.448%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: hidden;
                @media (max-width: 1366px) {
                    height: 400px;
                }
                @media (max-width: 1023px) {
                    padding: 40px 12px;
                    border-radius: 12px;
                    margin-bottom: 24px;
                }
                .article-info {
                    margin-bottom: 16px;
                }
                .title {
                    color: #fff;
                }
                .tag {
                    color: #fff;
                    border: 1px solid #fff;
                }
                .date {
                    color: #fff;
                }
            }
            .background {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .wrap {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            
            .content-wrapper {
                border-radius: 0;
            }
        }
    }
}

.sidebar-left {
    .subscribe {
        position: sticky;
        top: 0;
        padding: 31px;
        border: 1px solid @color-border-7;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        .subscribe-image {
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            margin-bottom: 12px;
        }
        .title {
            margin-bottom: 12px;
            color: @color-text-primary;
        }
        .text {
            margin-bottom: 24px;
            color: @color-text-secondary;
        }
    }
}

.article-info {
    display: flex;
    align-items: center;
    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: flex-start;
    }
    .blog-tags {
        margin: 0 16px 0 0;
        @media (max-width: 1023px) {
            margin: 0;
        }
        .item {
            padding: 0;
            margin-right: 8px;
        }
    }
    .date {
        display: flex;
        margin: 0;
        @media (max-width: 1023px) {
            width: 100%;
            order: -1;
            margin-bottom: 16px;
            align-items: center;
        }
        .social {
            display: none;
            @media (max-width: 1023px) {
                display: flex;
                margin-left: auto;
            }
        }
        .icon:not(.icon-share-2) {
            margin-right: 8px;
        }
    }
}


.article-body {
    margin-bottom: 40px;

}

.blog-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    .item {
        display: inline-flex;
        padding: 4px;
    }

    .tag {
        padding: 11px 15px;
        border: 1px solid @color-border-7;
        border-radius: 8px;
        max-width: 100%;
        overflow: hidden;
        color: @color-text-primary;
        transition: border 0.2s;

        @media (min-width: 1024px) {
            &:hover {
                border: 1px solid @color-border-hover;
            }
        }
    }
}