


.categories-with-photo {
    padding: 36px 0;
    @media (max-width: 575px) {
        padding: 28px 0;
    }

    @media (max-width: 575px) {
        padding: 24px 0;
    }

    .categories-list {
        display: flex;
        margin: 0 -12px;

        @media (max-width: 768px) {
            margin: 0 -4px;
        }

        // @media (max-width: 575px) {
        //     flex-direction: column;
        // }
    }
    .category-wrap {
        padding: 0 12px;
        &.col-3 {
            margin-bottom: 24px;
            @media (max-width: 768px) {
                margin-bottom: 4px;
            }
        }

        @media (max-width: 768px) {
            padding: 0 4px;
        }
        @media (max-width: 575px) {
            &:not(:last-of-type) {
                margin-bottom: 8px;
            }
        }
        
    }
    .category {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        // padding: 16px;
        text-decoration: none;
        border: 1px solid rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        overflow: hidden;

        &:hover {
            @media(min-width: 1025px) {
                .bg-img {
                    transform: scale(1.1);
                }
                .overlay {
                    
                    .hover-content {
                        max-height: 200px;
                        margin-top: 4px;
                        opacity: 1;
                        visibility: visible;
                    }
                }

            }
        }

        .image-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .bg-img {
            display: flex;
            position: relative;
            padding-top: 100%;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #FAFAFA;
            transition: transform 0.25s;
        }
        .overlay {
            position: absolute;
            left: 15px;
            bottom: 15px;
            width: ~'calc(100% - 30px)';
            // width: 100%;
            padding: 12px 16px;
            margin-top: auto;
            background: @color-blur-48;
            will-change: auto;
            border-radius: 8px;
            height: auto;
            transition: 0.25s;
            z-index: 1;
            overflow: hidden;
            text-align: left;
            body:not(.macos) & {
                @media (min-width: 1025px) {
                    backdrop-filter: blur(3px); 
                    -webkit-backdrop-filter: blur(3px);
                }
            }
            @media (max-width: 1366px) {
                left: 11px;
                bottom: 11px;
                width:~'calc(100% - 22px)';
                padding: 8px 12px;
            }
            @media (max-width: 575px) {
                left: 7px;
                bottom: 7px;
                width:~'calc(100% - 14px)';
                padding: 6px 8px;
            }

            .count {
                color: @color-blur-text-secondary;
            }

            .title {
                color: #fff;

                @media (max-width: 575px) {
                    height: 1.2em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .subtitle {
                color: #fff;
            }

            .desc {
                margin-bottom: 8px;
                color: @color-blur-text-secondary;

                height: 1.5em;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 7px;
                color: #fff;
                border-top: 1px solid @color-blur-cutter;
                transition: padding 0.2s, opacity 0.2s;

                @media (min-width: 1024px) {
                    &:hover {
                        padding-left: 4px;
                        padding-right: 4px;
                        opacity: 0.7;
                    }
                }
           }

            .hover-content {

                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);
            }
        }
    }

    &.type2 {
        .categories-list {
            @media (max-width: 1024px) {
                margin: 0 -4px;
            }
        }
        .category-wrap {
            @media (max-width: 1024px) {
                padding: 0 4px;
            }
            @media (max-width: 768px) {
                &:not(:last-of-type) {
                    margin-bottom: 8px;
                }
            }
        }
        .category {
            .overlay {
                .title {
                    @media (max-width: 575px) {
                        height: auto;
                        max-height: 2.4em;
                        white-space: normal;
                    }
                }
            }
        }
    }

    &.type3 {

        .category {
            .overlay {
                .title {
                    max-height: 2.7em;
                    overflow: hidden;
                    @media(max-width: 1024px) {
                        font-size: 15px;
                        line-height: 18px;
                    }
                }
            }
        }

        .swiper-slider {
            max-width: 1528px;
            width: 100%;
            padding: 0 32px;
            margin: 0 auto;
        }

        .swiper-container {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: 47%;

            @media(max-width: 1366px) {
                top: 46%;
            }
        }

        .swiper-slider {
            position: relative;
        }

        .swiper-arrows {
            @media(max-width: 1024px) {
                display: none;
            }
        }

        .swiper-slide {
            @media(max-width: 1024px) {
                width: 232px !important;
                height: 232px;
                border-radius: 12px;
                overflow: hidden;
            }
        }

        .swiper-slider {
            @media(max-width: 1024px) {
                padding: 0;
                overflow: hidden;
                width: 100%;
            }

            @media(max-width: 1528px) {
                max-width: 1312px;
                width: 100%;
            }
        }

        .swiper-container {
            @media(max-width: 1024px) {
                padding: 0 12px;

            }
        }
    }

    &.type5 {
        .categories-with-photo.type3;
        .category-wrap:not(:last-of-type) {
            @media (max-width: 768px) {
                margin-bottom: 8px;
            }
        }
    }

    &.type4 {
        .categories-list {
            &>.category-wrap {
                &:not(:last-of-type) {
                    @media(max-width: 768px) {
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .category-wrap {
            > .row {
                margin: 0 -12px;
                margin-bottom: -24px;
                @media(max-width: 768px) {
                    margin: 0 -4px;
                    margin-bottom: -4px;
                }

            }
            &.col-6 {
                margin-bottom: 24px;
                @media(max-width: 768px) {
                    margin-bottom: 8px;
                }
                &:nth-last-of-type(-n+2) {
                    margin-bottom: 0;

                }
            }
        }
        .category {
            .overlay {
                .title {
                    max-height: 2.7em;
                    overflow: hidden;
                    @media (max-width: 575px) {
                        height: auto;
                        max-height: 2.4em;
                        white-space: normal;
                    }
                }
            }
        }
    }
}