

.inner-page {
    .categories-block {
        &.type-1, &.type-2, &.type-3, &.type-4 {
            padding: 0;
        }
    }
}

.categories-block{
    &.type-1, &.type-2, &.type-3, &.type-4, &.type-5 {
        padding: 36px 0;
        @media (max-width: 575px) {
            padding: 28px 0;
        }
        @media (max-width: 575px) {
            padding: 24px 0;
        }
        .section-name {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 40px;
            @media (max-width: 1366px) {
                margin-bottom: 32px;
            }
            @media (max-width: 575px) {
                margin-bottom: 24px;
                text-align: left;
            }
            .title {
                margin: 0 0 12px;
                @media (max-width: 575px) {
                    margin-bottom: 8px;
                }
            }
            .subtitle {
                display: flex;
                justify-content: center;
                color: @color-text-semi;
                transition: all 0.2s;
                @media (min-width: 992px) {
                    &:hover {
                        color: @color-primary;
                        .icon {
                            margin-left: 16px;
                        }
                    }
                }
                @media (max-width: 575px) {
                    justify-content: flex-start;
                }
                .icon {
                    transition: all 0.2s;
                    margin-left: 8px;
                }
            }
        }
        .categories-list {
            display: flex;
            margin: 0 -12px -24px;
            >div {
                // margin-bottom: 24px;
            }
            
            @media (max-width: 575px) {
                flex-direction: column;
            }
        }
        .item {
            display: block;
            background-color: @color-gray;
            border-radius: 12px;
            padding: 16px 16px 20px;
            transition: padding 0s;
            height: 100%;
            width: 100%;
            overflow: hidden;
            @media (max-width: 1366px) {
                padding: 12px 12px 16px;
            }
            @media (min-width: 1024px) {
                &:hover{
                    .title {
                        
                        // backdrop-filter: blur(30px);
                        padding: 16px 20px;
                        background: @color-blur-48;
                        color: #fff;
                        
                    }
                    .image {
                        
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            
            .title {
                transition: all 0.65s cubic-bezier(0.5, 0, 0, 1);
                text-align: center;
                border-radius: 10px;
                color: @color-text-primary;
                // white-space: nowrap;
                // text-overflow: ellipsis;
                position: absolute;
                bottom: 20px;
                right: 0;
                left: 0;
                margin: 0 32px;
            }
        }
           
        .image {
            margin-bottom: 38px;
            width: 100%;
            padding: 0 0 93.896% 0;
            // margin-bottom: 46px;
            display: flex;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            
            @media (max-width: 575px) {
                // padding: 8.25% 0;
                margin-bottom: 4px;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                pointer-events: none;
                transition: opacity .35s cubic-bezier(0.7, 0.25, 0.54, 1.03);
                body:not(.macos) & {
                    @media (min-width: 1025px) {
                        backdrop-filter: blur(7px);
                        -webkit-backdrop-filter: blur(7px);
                    }
                }
            }
        }
        .col-sm-6 {
            padding: 0 12px;
            @media (max-width: 575px) {
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
        img {
            width: 100%;
        }
    }
    &.type-2 {
        .col-md-4 {
            padding: 0 12px;
            @media (max-width: 767px) {
                padding: 0 4px;
                margin-bottom: 8px;
            }
        }
        .item {
            .title {
                @media (max-width: 575px) {
                    bottom: 12px;
                    margin: 0;
                }
            }
        }
        .categories-list {
            flex-wrap: nowrap;
            @media (max-width: 767px) {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 -4px;
            }
        }
    }
    &.type-5 {
        .col-md-3 {
            padding: 0 12px;

            @media (max-width: 767px) {
                padding: 0 4px;
                margin-bottom: 8px;
            }
        }

        .item {
            .title {
                @media (max-width: 575px) {
                    bottom: 12px;
                    margin: 0;
                }
            }
        }

        .categories-list {
            flex-wrap: nowrap;

            @media (max-width: 767px) {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 -4px;
            }
        }
    }
    &.type-3 {
        .item {
            border-radius: 12px;
            overflow: hidden;
        }
        .section-name {
            padding-left: 40px;
            @media (max-width: 992px) {
                padding-left: 0;
            }
        }
        
        .image {
            // padding: 3.667% 0;
            padding: 0 0 82.1% 0;
            margin-bottom: 24px;
            position: relative;
            
            @media(max-width: 991px) {
                padding: 0;
            }
            img {
                position: absolute;
                top: 3.667%;
                text-indent: -10000px;
                opacity: 0;
                transition: opacity 0.2s;
                &.swiper-lazy-loaded {
                    opacity: 1;
                }
            }
        }
        .title {
            overflow: hidden;
        }
        .swiper-slider {
            // max-width: 1528px;
            width: 100%;
            // padding: 0 32px;
            margin: 0 auto;
        }

        .swiper-container {
            width: 100%;
            // height: 348px;
            margin-left: auto;
            margin-right: auto;
        }
        .swiper-button-next, .swiper-button-prev {
            top: 47%;
        }
        .swiper-slider {
            position: relative;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            height: auto;
            justify-content: center;
            align-items: center;
        }
        .swiper-arrows {
            @media(max-width: 991px) {
                display: none;
            }
            .swiper-button-next {
                right: -32px;
                @media (max-width: 1366px) {
                    right: -4px;
                }
            }
            .swiper-button-prev {
                left: -32px;
                @media (max-width: 1366px) {
                    left: -4px;
                }
            }
        }

        .categories-list {
            padding: 0;
            margin: 0;
        }

        .swiper-slide {
            @media(max-width: 991px) {
                width: 232px !important;
                height: 232px;
                border-radius: 12px;
                overflow: hidden;
            }
        }

        .swiper-slider {
            @media(max-width: 991px) {
                padding: 0;
                overflow: hidden;
                width: 100%;
            }
            @media(max-width: 1528px) {
                max-width: 1312px;
                width: 100%;
            }
        }

        .swiper-container {
            @media(max-width: 991px) {
                padding: 0 12px;
                
            }
            @media(max-width: 1528px) {
                // height: 294px;
            }
        }
    }
    &.type-4 {
        .categories-list {
            @media (max-width: 767px) {
                margin: 0;
            }
            >.col-12 {
                >.row {
                    // margin-bottom: -24px;
                }
            }
            .col-3 {
                margin-bottom: 24px;
            }
            .item {
                @media (max-width: 767px) {
                    padding: 8px 8px 12px;
                }
                .title {
                    @media (max-width: 767px) {
                        margin: 0;
                        bottom: 12px;
                    }
                }
                &.big {
                    .image{
                        margin-bottom: 40px;
                        @media (max-width: 1366px) {
                            margin-bottom: 32px;
                        }
                        @media (max-width: 767px) {
                            // padding: ~"calc(12vw - 24px)" 0px;
                        }
                    }
                }
            }
            &>.col-md-6:nth-child(1) {
                @media (max-width: 767px) {
                    margin-bottom: 8px;
                }
            }
            &>.col-md-6:nth-child(2) {
                .col-6 {
                    &:nth-child(1), &:nth-child(2) {
                        margin-bottom: 24px;
                        @media (max-width: 767px) {
                            margin-bottom: 8px;
                        }
                    }
                }
            }
            .col-6, .col-12 {
                padding: 0 12px;
                @media (max-width: 767px) {
                    padding: 0 4px;
                }
            }
            .row {
                margin: 0 -12px;
                @media (max-width: 767px) {
                    margin: 0 -4px;
                }
            }
        }
    }
}