/* custom less file */

.header .main-header .logo {
  height: 60px;
}

.header .main-header .logo .slogan {
  display: none;
}

footer .logo {
  max-width: 350px;
  height: 70px;
}

.header.type2 .top-header .menu {
  max-width: 50%;
}

.footer-text{
  color: rgba(255,255,255,0.75);
  font-size: 14px;
  line-height: 20px;
}

.page-container .table-delivery td {
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 8px;
  border-bottom: 2px solid rgba(0,0,0,0.07000000000000001);
  text-align: left;
}

.page-container .table-delivery td:first-child {
  font-weight: bold;
}

.image-wrapper{
  border: 1px inset rgba(0,0,0,0.07000000000000001);
  border-radius: 12px;
}

.map-section .map {
  height: 450px;
}

body.fixed {
  overflow: scroll;
}

.advantages .type-1 .icon,
.advantages .advantage-title{
  text-align: center;
}

.advantages .type-1 .icon svg{
  max-width: 72px;
}

.content-page {
  padding: 0 0 48px 0;
  border: none;
}

.content-page>.image {
  margin-left: 0;
  width: 100%;
  border-radius: 12px;
}

.phone-block{
  display: flex;
}

.phone-block .dropdown-item{
  padding: 3px 7px;
}

.header .phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.type2 .top-header .menu {
  max-width: 37% !important;
}

.btn.btn-primary.btn-callback{
  margin: 5px 0 5px 20px;
  background: #F2F2F2;
  padding: 5px 10px;
  color: #161A1D;
  border: none;
}

.btn.btn-primary.btn-callback:hover{
  background-color: #b8aa83 !important;
  color: #fff;
  transition: background-color .2s, color .2s;
  border: none;
}

@media (max-width: 1600px){
  .header.type2 .top-header .menu {
    max-width: 43% !important;
  }
  .header .location {
    margin-right: 10px;
  }
}

@media (max-width: 1300px){
  .header.type2 .top-header .menu {
    max-width: 100% !important;
  }
  .header .location {
    display: none;
  }
}

.product-card .product-image-block .image-slider .product-image {
  background-size: contain;
  border-radius: unset;
}

@media (min-width: 1025px){
  .item-detail .sidebar-block {
    min-height: 100% !important;
  }
}

.subcategories .subcategory .image-wrap.without-image {
  height: 71px;
}

.collection-property{
  position: absolute;
  top: 10px;
  right: 10px;
}

.collection-property span{
  /*color: #000000;*/
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  padding: 2px 10px;
  line-height: 16px;
  margin-right: 3px;
  border-radius: 3px;
}

.collection-new{
  background-color: #3cb588;
}

.collection-hit{
  background-color: #bba983;
}

.collection-sale{
  background-color: #e30f28;
}

.collection-in-salon {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  line-height: 14px;
  background-color: rgba(0,0,0,0.48);
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 0 10px;
  max-height: 25px;
  border-radius: 3px;
}

.collection-in-salon span.in-salon {
  color: #ffffff;
  display: block;
  white-space: nowrap;
  font-size: 14px;
  padding-bottom: 2px;
  margin-left: 5px;
}

.collection-in-salon img {
  max-width: 25px;
}

@media (max-width: 575px){
  .categories-with-photo.type5 .collection-in-salon img{
    display: none;
  }

  .categories-with-photo.type5 .collection-in-salon {
    top: 12px;
    display: flex;
    line-height: 20px;
    padding: 0 5px 0 5px;
    max-height: 25px;
  }
}


.categories-with-photo .category .bg-img.factory {
  background-size: contain;
}

.brand-item .item-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 7px;
}

.brand-item {
  padding: 0;
}

.modal-open {
  position: static;
}

.product-card .product-info .name{
  font-weight: bold;
}

.additional-properties{
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 22px;

  .prop{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #161A1D;
    margin-bottom: 10px;

    img{
      margin-right: 10px;
    }
  }

  .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7A8086;
    margin-bottom: 10px;
  }

  .tel{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #161A1D;
  }
}

.collection-fancybox{
  margin-bottom: 80px;
}

.other_collections-title{
  text-align: left;
  margin-bottom: 30px;
}

.categories-with-photo.other-collections-slider .swiper-slider {
  padding: 0;
}

.other-collections-slider .swiper-button-next {
  right: -32px;
}

.other-collections-slider .swiper-button-prev {
  left: -32px;
}

.collection-fancybox img{
  width: 250px;
  border: 1px inset rgba(0,0,0,0.07000000000000001);
  border-radius: 12px;
  margin-right: 15px;
  height: 100%;
}

.product-card.item{
  border: 1px inset rgba(0,0,0,0.07000000000000001);
  border-radius: 12px;
  padding: 0 15px 15px;
}

.advantages .type-collection .icon svg {
  max-width: 72px;
}

.advantages .type-collection .icon {
  margin-bottom: 12px;
  width: auto;
  height: auto;
  text-align: center;
}

.advantages .type-collection{
  width: auto;
}

.collection_min-price{
  color: @color-white;
  margin-bottom: 5px;
}

.title_gold{
  font-weight: bold;
  color: #b8aa83;
}
//
//@media (max-width: 767px){
//  .advantages .type-collection  {
//    flex-wrap: wrap;
//  }
//}

.alphabet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .alphabet_letter{
    position: relative;
    cursor: pointer;
    padding: 2px 6px;
    background-color: #ffffff;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 8px 8px 0px 0px;

    span{
      font-size: 16px;
      line-height: 20px;
      color: #161A1D;
      font-weight: 500;
    }

    .alphabet_letter__factory{
      position: absolute;
      padding: 20px 24px;
      box-shadow: 0px 0px 1px rgba(10, 32, 41, 0.25), 0px 8px 30px -20px rgba(10, 32, 41, 0.25);
      border-radius: 0px 0px 8px 8px;
      background-color: white;
      min-width: 300px;
      display: none;
      top: 29px;
      left: 0;
      z-index: 1;

      ul{
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
          white-space: nowrap;
          flex: 50%;
          a{
            color: #7A8086;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
            &:hover{
              color: #B8AA83;
            }
          }
        }
      }
    }

    &.disabled{
      cursor: default;
      span{
        color: #7A8086;
      }
      &:hover{
        border-color: #ffffff;
      }
    }

    &:hover{
      border-color: #EDEDED;

      .alphabet_letter__factory{
        display: block;
      }
    }
  }

  .alphabet_all__factory a{
    font-size: 16px;
    line-height: 20px;
    color: #161A1D;
    font-weight: 500;
    &:hover{
      color: #B8AA83;
    }
  }

  @media (max-width: 1050px){
    display: none;
  }

}


.brand-items-list .brand-item{
  max-height: 200px;
}

.brand-item-country{
  width: 30px;
  height: auto;
  position: relative;
  z-index: 10;
  top: -200px;
  right: -311px;
}

.brand_detail .detail_picture {
  float: left;
  margin: 0 32px 32px 0;
  max-width: 350px;
  max-height: 200px;
  object-fit: contain;
}

.text_collection {
  max-height: 100px;
  overflow: hidden;
}

.text_collection.open{
  max-height: 100%;
}

@media (max-width: 575px) {
  .brand_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand_detail .detail_picture {
    margin-right: 0;

  }
}
