
@font-size-tablet: 16px;
@font-size-mobile: 15px;

html {
    height: 100%;

    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: @color-text-primary;
    font-family: @font-family, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    &.overflow {
        overflow: hidden;
        touch-action: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
* {
    box-sizing: border-box;
    outline: none;
    // backdrop-filter: none !important;
    // -webkit-backdrop-filter: none !important;
    // filter: none !important;
    // transition: none !important;
    // opacity: 1 !important;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


// @supports (font-variation-settings: normal) {
//     body {
//         font-family: 'Inter var', sans-serif;
//     }
// }

@color-primary: #12B4F7;
@color-primary-hover: darken(@color-primary, 17);
@color-gray: #F5F5F5;
@color-black: #161A1D;
@color-black-2: #23282C;
@color-light: #A7A7A7;
@color-rating: #FFD957;
@color-green: #60C339;
@color-white: #fff;
@color-gray-border: #F2F2F2;
@color-links: #449DD5;
@color-error: #DF2E2E;

@color-border-7: rgba(0, 0, 0, 0.07);
@color-border-14: rgba(0, 0, 0, 0.14);
@color-border-hover: rgba(0, 0, 0, 0.2);

@color-bg-gray: #F8F8F8;

@color-blur-48: rgba(0, 0, 0, 0.48);
@color-blur-60: rgba(0, 0, 0, 0.60);
@color-blur-80: rgba(0, 0, 0, 0.8);
@color-blur-cutter: rgba(255, 255, 255, 0.15);
@color-blur-text-main: #fff;
@color-blur-text-secondary: rgba(255, 255, 255, 0.75);

@color-icon-dark-60: rgba(0, 0, 0, 0.6);
@color-icon-dark-100: #000;
@color-icon-light-70: rgba(255, 255, 255, 0.7);
@color-icon-light-100: #fff;

@color-text-primary: #161A1D;
@color-text-semi: #505A62;
@color-text-secondary: #7A8086;
@color-text-disable: #94999E;

@color-label-action: #FFA940;
@color-label-new: #A4CE25;


.d1,
.d2,
.d3,
.d4,
h1,
h2,
h4,
h5,
h6,
.h1,
.h2,
.h4,
.h5,
.h6 {
    font-weight: bold;
}


.d1 {
    font-size: 96px;
    line-height: 108px;
}

.d2 {
    font-size: 72px;
    line-height: 80px;

    @media (max-width: 1366px) {
        font-size: 64px;
        line-height: 72px;
    }

    @media (max-width: 575px) {
        font-size: 54px;
        line-height: 56px;
    }
}

.d3 {
    font-size: 60px;
    line-height: 68px;
}

.d4 {
    font-size: 48px;
    line-height: 52px;

    @media (max-width: 1366px) {
        font-size: 40px;
        line-height: 44px;
    }
    @media (max-width: 575px) {
        font-size: 30px;
        line-height: 34px;
    }
}

h1,
.h1 {
    font-size: 44px;
    line-height: 48px;
    margin: 32px 0;

    @media (max-width: 1366px) {
        font-size: 40px;
        line-height: 44px;
    }

    @media (max-width: 575px) {
        font-size: 28px;
        line-height: 32px;
    }
}

.font-h1 {
    font-size: 44px;
    line-height: 48px;

    @media (max-width: 1366px) {
        font-size: 40px;
        line-height: 44px;
    }

    @media (max-width: 575px) {
        font-size: 28px;
        line-height: 32px;
    }
}

h2,
.h2 {
    font-size: 36px;
    line-height: 44px;
    margin: 32px 0 28px;

    @media (max-width: 1366px) {
        font-size: 32px;
        line-height: 40px;
    }

    @media (max-width: 575px) {
        font-size: 24px;
        line-height: 28px;
        margin: 24px 0 20px;
    }
}

.font-h2 {
    font-size: 36px;
    line-height: 44px;

    @media (max-width: 1366px) {
        font-size: 32px;
        line-height: 40px;
    }

    @media (max-width: 575px) {
        font-size: 24px;
        line-height: 28px;
    }
}

h3,
.h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 32px 0 24px;
    font-weight: bold;

    @media (max-width: 1366px) {
        font-size: 24px;
        line-height: 28px;
        margin: 24px 0 24px;
    }

    @media (max-width: 575px) {
        font-size: 20px;
        line-height: 24px;
        margin: 24px 0 16px;
    }

}

.font-h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;

    @media (max-width: 1366px) {
        font-size: 24px;
        line-height: 28px;
    }

    @media (max-width: 575px) {
        font-size: 20px;
        line-height: 24px;
    }
}

h4,
.h4 {
    font-size: 24px;
    line-height: 28px;
    margin: 32px 0 20px;
    @media (max-width: 1366px) {
        margin: 24px 0 20px;
    }
    @media (max-width: 575px) {
        font-size: 18px;
        line-height: 24px;
        margin: 24px 0 16px;
    }
}

h5,
.h5 {
    font-size: 20px;
    line-height: 28px;
    margin: 32px 0 16px;
}

.font-h5 {
    font-size: 20px;
    line-height: 28px;
}

h6,
.h6 {
    font-size: 18px;
    line-height: 28px;
    margin: 32px 0 12px;
}

.font-lead {
    font-size: 20px;
    line-height: 32px;
    @media (max-width: 1366px) {
        font-size: 18px;
        line-height: 28px;
    }
    @media (max-width: 575px) {
        font-size: 15px;
        line-height: 24px;
    }
}

.font-p,
p {
    font-size: @font-size;
    line-height: @font-line-height;

    @media (max-width: 1366px) {
        font-size: @font-size-tablet;
        line-height: @font-line-height;
    }

    @media (max-width: 575px) {
        font-size: @font-size-mobile;
        line-height: @font-line-height;
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.font-p-small {
    font-size: 16px;
    line-height: 24px;
}

.bold {
    font-weight: bold;
}


.font-title {
    font-size: 18px;
    line-height: 26px;

    @media (max-width: 1366px) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 575px) {
        font-size: 15px;
        line-height: 18px;
    }
}

.font-title-small {
    font-size: 15px;
    line-height: 18px;

    // @media (max-width: 1366px) {
    //     font-size: 16px;
    //     line-height: 20px;
    // }

    @media (max-width: 575px) {
        font-size: 15px;
        line-height: 16px;
    }
}

.font-body {
    font-size: 18px;
    line-height: 28px;

    @media (max-width: 1366px) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 575px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.font-body-2 {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 1366px) {
        font-size: 15px;
        line-height: 20px;
    }

    @media (max-width: 575px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.font-body-2-linethrough {
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
}

.font-body-small {
    font-size: 14px;
    line-height: 20px;
}

.font-body-linethrough {
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
}

.font-tiny-text {
    font-size: 12px;
    line-height: 16px;
}

.font-large-button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.font-small-button {
    font-size: 14px;
    line-height: 16px;
}

.font-price-large {
    font-size: 36px;
    line-height: 40px;

    @media (max-width: 1366px) {
        font-size: 32px;
        line-height: 36px;
    }
    @media (max-width: 575px) {
        font-size: 24px;
        line-height: 28px;
    }
}

.font-price-medium {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

.price-old, .old-price {
    text-decoration: line-through;
}

.counter {
    display: inline-flex;
    border-radius: 8px;
    padding: 17px 12px;
    border: 1px solid @color-border-7;
    transition: 0.25s;
    justify-content: space-between;

    &:hover {
        border-color: @color-border-hover;
    }
    
    input {
        .font-body-2;
        border: none;
        outline: none;
        width: 40px;
        color: @color-icon-dark-100;
        text-align: center;
        padding: 0;
        background: transparent;

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            font-size: 16px!important;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .measure {
        font-size: 12px;
        line-height: 12px;
        margin-left: 4px;
        margin-right: 3px;
        margin-top: 1px;
        align-self: center;
        color: #fff;
    }
    .minus {
        margin-right: 4px;
    }
    .plus {
        margin-left: 4px;
    }

    .minus, .plus {
        transition: opacity 0.2s;
        @media (min-width: 1024px) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.modal-opened {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
}

.sku-element {
    .font-large-button;
    border-radius: 8px;
    display: inline-block;
    padding: 11px 15px;
    border: 1px solid @color-border-7;
    color: @color-text-primary;
    font-weight: 500;
    transition: border 0.2s;
    &:not(.selected):not(.unavailable):hover {
        color: @color-text-primary;
    }
    @media (min-width: 992px) {
        &:not(.selected):not(.unavailable):hover {
            border: 1px solid @color-border-hover;
        }
    }
    &.selected {
        border: 1px solid @color-primary;
        box-shadow: 0px 0px 0px 1px @color-primary;
    }
    &.unavailable {
        color: @color-text-disable;
    }
}

input {
    outline: none !important;
}

.btn {
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    justify-content: center;

    &:active,
    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }

    &.btn-show-more {
        padding: 17px 32px;
        width: 100%;
        border: 1px solid @color-border-7;
        transition: border 0.2s;
        @media (min-width: 1024px) {
            &:hover {
                border: 1px solid @color-border-hover;
            }
        }
    }

    &.btn-primary, &.btn-secondary {
        .icon{
            margin-left: 8px;
        }
    }
    
    &.btn-tag {
        display: block;
        .font-body-2;
        color: @color-white;
        padding: 7px 19px;
        background-color: @color-blur-48;
        border-radius: 20px;
        white-space: nowrap;
        @media(min-width: 992px) {
            &:hover{
                background: @color-blur-60;
            }
        }
        @media (max-width: 1366px) {
            padding: 3px 11px;
        }
        @media (max-width: 575px) {
            padding: 11px 19px;
        }
    }
    &.btn-round {
        border-radius: 1000px;
    }
    &.btn-to-favorites {
        padding: 17px;
        border: 1px solid @color-border-7;
        transition: border 0.2s;
        &.active {
            .icon {
                .icon-heart-filled;
                transition: background-image 0.2s;
            }
        }
        @media (min-width: 992px) {
            &:hover {
                border: 1px solid @color-border-hover;
            }
        }
    }
    &.btn-large {
        padding: 17px 35px;
    }

    &.btn-medium {
        padding: 11px 23px;
    }

    &.btn-primary {
        background-color: @color-primary;
        border: 1px solid transparent;
        color: @color-white;
        transition: background-color 0.2s, border 0.2s;
        @keyframes btn-click-animation {
            0% {
                transform: scale(1);
            }
            80% {
                opacity: 0.2;
            }
            100% {
                transform: scale(1.2, 1.45);
                opacity: 0;
            }
        }
        &:after {
            display: none;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: fade(@color-primary, 40);
            border-radius: 12px;
            pointer-events: none;
        }
        &.animating {
            position: relative;
            &:after {
                display: block;
                animation: btn-click-animation 0.3s cubic-bezier(0.5, 0, 0, 1);
            }
        }
        &:active,
        &:focus:not(:hover) {
            border: 1px solid @color-primary;
            background-color: @color-primary;
        }

        &:not(:disabled):not(.disabled):not(:hover):active {
            background-color: @color-primary;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: @color-primary-hover !important;
                border-color: @color-primary-hover !important;
            }
        }
    }

    &.btn-secondary {
        border: 1px solid @color-primary;
        background-color: transparent;
        color: @color-text-primary;
    }
    &.btn-link {
        .font-large-button;
        color: @color-text-semi;
        padding: 0;
        text-align: left;
        justify-content: flex-start;
        &:hover {
            text-decoration: none;
        }
        @media (max-width: 575px) {
            width: 100%;
            padding-bottom: 7px;
            border-bottom: 1px solid @color-border-7;
            justify-content: space-between;
            .icon {
                margin-left: auto;
            }
        }
        .icon {
            margin-left: 10px;
        }
    }
}

.custom-radio-star-select {
    display: flex;
    .custom-radio-star {
        display: flex;
        &.checked {
            .icon {
                background-image: url('../icons/icon-star-32.svg');
            }
        }
        input {
            display: none;
        }
        label {
            margin: 0;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 8px;
            }
            
        }
        input:checked + label {
            .icon {
                background-image: url('../icons/icon-star-32.svg');
            }
        }
    }
}
.custom-input {
    position: relative;
    display: inline-flex;
    border: 1px solid @color-border-7;
    border-bottom: 1px solid @color-border-14;
    border-radius: 8px 8px 0 0;

    &.error {
        // border: 1px solid @color-error !important;
        input,
        textarea {
            border-bottom: 2px solid @color-error !important;
        }
    }

    input,
    textarea {
        .font-body-2;
        color: @color-text-primary;
        background-color: @color-gray;
        width: 100%;
        border: none;
        border-bottom: 2px solid transparent;
        padding: 17px 11px 16px;
        transition: border-bottom 0.2s;

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            font-size: 16px!important;
        }

        &:focus,
        &:active {
            border: none;
            border-radius: 0;
            outline: none;
        }

        &:focus,
        &.filled {
            border-bottom: 2px solid @color-primary;
            padding: 27px 11px 6px;
            &+label {
                .font-tiny-text;
                top: 6px;
            }
        }

        &:hover {
            border-bottom: 2px solid @color-primary;
        }

        &::placeholder {

            @media (max-width: 575px) {
                font-size: 14px;
            }
        }

    }

    textarea {
        // padding-top: 0;
        // margin-top: 33px;
    }

    label {
        position: absolute;
        display: block;
        top: 17px;
        left: 11px;
        transition: all 0.2s ease-in-out;
        color: @color-text-semi;
        pointer-events: none;

        @media (max-width: 768px) {
            top: 13px;
        }
    }
    &.error+.error-message {
        .font-tiny-text;
        display: block;
        color: @color-error;
        margin-top: 4px;
    }
}
.error-message {
    display: none;
}

.ps__rail-x,
.ps__rail-y {
    background-color: @color-border-7;
}

.ps__thumb-x,
.ps__thumb-y {
    background-color: @color-primary;
}

.scrollbar-inner,
.menu-scrollbar-inner {
    position: relative;
    height: 100%;
}

.label:not(label) {
    .font-tiny-text;
    background: #DEDDDD;
    display: inline-flex;
    padding: 2px 6px;
    border-radius: 4px;
    &.action {
        color: @color-icon-dark-60;
        background-color: @color-label-action;
    }
    &.new {
        color: @color-white;
        background-color: @color-label-new;
    }
    &.badge-in-stock {
        background-color: @color-blur-48;
        color: @color-white;
        .in-stock:not(:last-child) {
            padding-right: 4px;
        }
        .out-stock:not(:last-child) {
            padding-right: 4px;
        }
        .rating {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                padding-left: 4px;
                border-left: 1px solid rgba(255, 255, 255, 0.15);
            }
            .icon {
                margin-right: 3px;
            }
        }
    }
}



.nav {
    border: none;
    .nav-item {
        &:not(:last-child) {
            margin-right: -1px;
        }
        &:first-child {
            .nav-link {
                padding-left: 23px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
        &:last-child {
            .nav-link {
                
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
        .nav-link {
            .font-large-button;
            border-radius: 0;
            padding: 11px 24px 11px 25px;
            border: 1px solid @color-border-7;
            color: @color-text-semi;
            transition: color, border 0.2s;
            &.active {
                color: @color-text-primary;
                border: 1px solid @color-primary;
                box-shadow: inset 0 0 0 1px @color-primary;
            }
            @media (min-width: 992px) {
                &:not(.active):hover {
                    color: @color-text-primary;
                    border: 1px solid @color-border-hover;
                }
            }
        }
        
    }
}



.swiper-slider {
    position: relative;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: 1;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
}

.swiper-pagination-bullet-active {
    &::before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: @color-primary;

    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: #fff;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
    transition: background 0.25s;

    &.swiper-button-disabled {
        // background: @color-gray;
        opacity: 0;
    }

    &:hover {
        background: @color-primary;
    }
}

.swiper-button-next {
    right: 0;

    &:after {
        display: none;
    }

    &:before {
        content: '';
        width: 24px;
        height: 24px;
        background: url('../icons/icon-arrow-right.svg') no-repeat center;
    }
}

.swiper-button-prev {
    left: 0;

    &:after {
        display: none;
    }

    &:before {
        content: '';
        width: 24px;
        height: 24px;
        background: url('../icons/icon-arrow-left.svg') no-repeat center;
    }
}

.swiper-button-md {
    width: 48px;
    height: 48px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
}



.reset-ul-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        margin: 0;
        padding: 0;

        &:after {
            display: none;
        }
    }
}

.nav-scroll {

    @media (max-width: 1024px) {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
}

.section-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 1366px) {
        margin-bottom: 32px;
    }

    @media (max-width: 575px) {
        margin-bottom: 24px;
        text-align: left;
    }

    .title {
        margin: 0 0 12px;

        @media (max-width: 575px) {
            margin-bottom: 8px;
        }
    }

    .subtitle {
        .section-name.link;
    }

    .link {
        display: flex;
        width: max-content;
        margin: auto;
        justify-content: center;
        color: @color-text-semi;
        transition: all 0.2s;
        // color: @color-text-secondary;

        @media (max-width: 1366px) {
            font-size: 18px;
            line-height: 28px;
        }
        @media (min-width: 992px) {
            &:hover {
                color: @color-primary;

                .icon {
                    margin-left: 16px;
                }
            }
        }
        @media (max-width: 575px) {
            font-size: 15px;
            line-height: 24px;
            width: auto;
            margin: 0;
            justify-content: space-between;
            padding-bottom: 7px;
            border-bottom: 1px solid @color-border-7;

        }

        .icon {
            transition: all 0.2s;
            margin-left: 8px;
            background-size: contain;
            background-position: top;
        }
    }
}

.modal-container {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    visibility: visible;
    opacity: 1;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    &.modal-right {
        .modal-content-container {
            left: auto;
            right: 0;
            order: 1;
            margin-left: auto;
        }
        &.hidden {
            .modal-content-container {
                transform: translateX(100%);
            }
        }
    }

    &.hidden {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        
        .modal-content-container {
            transform: translateX(-100%);
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        .close-area {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            cursor: default;
        }
    }

    .scrollbar-inner>.ps__rail-y,
    .menu-scrollbar-inner>.ps__rail-y {
        right: 6px!important;
        margin: 8px 0;
        z-index: 10;
    }

    .modal-content-container {
        position: relative;
        width: 680px;
        display: block;
        background-color: #fff;
        transform: translateX(0);
        transition: transform 0.35s;
        z-index: 1;
        padding: 32px 0;
        @media (max-width: 800px) {
            width: 100%;
            height: 75vh;
            margin-top: auto;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
        @media (max-width: 575px) {
            height: 100vh;
            height: ~"calc(var(--vh, 1vh) * 100)";
            padding: 24px 0;
            border-radius: 0;
        }

        .close {
            display: none;

            @media (max-width: 575px) {
                display: block;
                position: absolute;
                right: 12px;
                top: 12px;
                background: #fff;
                opacity: 1;
                text-shadow: none;
                z-index: 100;
                transition: all .2s;
                padding: 8px;
            }
        }
    }
    .content-wrapper {
        padding: 0 64px;
        @media (max-width: 575px) {
            padding: 0 12px;
        }
    }

    .close-area {
        flex: 1;
        // background-color: rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.48);
        will-change: auto;
        transition: all 0.2s;
        cursor: url('../icons/icon-modal-cursor.svg') 32 32, auto;
        // transition: all 0.2s;
        position: fixed;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        body:not(.macos) & {
            @media (min-width: 1025px) {
                backdrop-filter: blur(3px); 
                -webkit-backdrop-filter: blur(3px);
            }
        }
        @media (max-width: 800px) {
            margin-bottom: -12px;
        }
    }
}

.header-title {
    padding: 16px 0 32px;

    @media (max-width: 575px) {
        padding-bottom: 16px;
    }
    
    h1 {
        margin: 0;
    }
}

.breadcrumbs {
    color: @color-text-primary;
    // margin: 16px 0 28px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
        margin-bottom: 8px;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .icon {
        display: inline-block;
        margin: 0 4px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    a {
        color: @color-text-primary;
        transition: color 0.2s;

        &:not(:last-child) {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        &:last-child {
            @media (max-width: 1024px) {
                display: flex;
                align-items: center;
            }

            .icon {
                display: none;

                @media (max-width: 1024px) {
                    display: block;
                    margin-left: 0;
                    transform: rotate(180deg);
                }
            }
        }

        @media (min-width: 1024px) {
            &:hover {
                color: @color-primary;
            }
        }
    }
}

.accordion-head {
    .accordion-body {
        display: none;
    }

    &.open {
        > .accordion-body {
            display: block;
        }
    }
}

.inner-page-content {
    max-width: 1092px;
    &.catalog-sections-inner-text {
        @media (max-width: 1024px) {
            display: none;
        }
    }
    ul {
        .font-p;
        padding: 0;
        li {
            list-style: none;
            position: relative;
            padding-left: 23px;

            @media(max-width: 1366px) {
                padding-top: 2px;
                padding-bottom: 2px;
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: ~"calc(50% - 1px)";
                width: 15px;
                height: 1px;
                background-color: @color-primary;
            }
        }
    }
    p:not(:last-child) {
        margin: 0 0 32px;

        @media(max-width: 1366px) {
            margin-bottom: 24px;
        }
    }
    img {
        width: 100%;
        max-height: 614px;
        object-fit: cover;

        @media(max-width: 1366px) {
            max-height: 523px;
        }
    }
}

.pagination {
    display: flex;
    max-width: 620px;
    justify-content: center;
    margin: 0 auto;
    > .page-item {

        @media (max-width: 768px) {
            &:first-child {
                order: 1;
            }
    
            &:last-child {
                order: 1;
            }
        }
    }
    .page-item {
        &:not(:last-child) {
            margin-right: 4px;
        }
        &.active {
            .page-link {
                background: transparent;
                border: 1px solid @color-border-7;
                color: @color-text-primary;
                transition: border 0.2s;


                &:hover {
                    border: 1px solid @color-border-7;
                }
            }
        }
        &.disabled {
            display: none;
        }
    }
    .page-link {
        // padding: 0;
        // margin: 0;
        border: 1px solid transparent;
        color: @color-text-secondary;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;
        background: transparent;

        &:first-child, &:last-child {
            border-radius: 8px;
            &:hover {
                border-radius: 8px;
            }
            
        }
        &.no-link {
            pointer-events: none;
        }
        &:not(.no-link) {
            @media (min-width: 1024px) {  
                &:hover {
                    border: 1px solid @color-border-hover;
                }
            }

        }
        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
        .icon {
            width: 24px;
            height: 24px;
            background-size: contain;
        }
    }
    .page-items {
        display: flex;
        li {
            @media(max-width: 575px) {
                &:not(:nth-last-child(-n+2)):not(:nth-child(1)):not(:nth-child(2)) {
                    display: none;
                }
            }
        }
    }
}
.chars {
    .chars-title {
        margin-bottom: 12px;
    }

    .props {
        .char {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
            background-image: url('../icons/background-line.svg');
            background-repeat: repeat-x;
            background-position: 0 1em;
            color: @color-text-secondary;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .char-name {
            padding-right: 8px;
            background-color: #fff;
            max-width: 70%;
        }

        .char-value {
            padding-left: 8px;
            background-color: #fff;
            color: @color-text-primary;
            width: 50%;
        }

        .chars-hidden {
            display: none;

            &.open {
                display: block;
            }
        }
    }
}

.article {
    .article-title {
        color: @color-text-semi;
    }
    .article-value {
        color: @color-text-primary;
    }
}

.sizes,
.sku-list {
    margin-bottom: 24px;

    &.images {
        .list {
            .item {
                padding: 2px;
                margin-right: 7px;
                > * {
                    border-radius: 8px;
                }
            }
        }
    }

    .sizes-table {
        margin-bottom: 12px;
    }

    .title {
        margin-bottom: 4px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -8px;

        @media (max-width: 1024px) {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }

        .item {
            margin-right: 8px;
            margin-bottom: 8px;
            white-space: nowrap;
        }
    }
}

.menu-button {
    .btn {
        .hamburger {
            margin-right: 10px;
        }
        &.opened {
            .hamburger {
                .hamburger-inner {
                    transform: translate3d(0, 8px, 0) rotate(45deg);
    
                    &:after,
                    &:before {
                        background-color: #fff;
                    }
    
                    &:after {
                        transform: translate3d(0, -14px, 0) rotate(-90deg);
                    }
    
                    &:before {
                        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
                        opacity: 0;
                    }
                }
                
            }
        }
    }
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0 3px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 16px;
    }

    .hamburger-inner {
        top: 2px;
        background: #fff;
        &, &:after, &:before {
            display: block;
            content: "";
            position: absolute;
            width: 18px;
            height: 2px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: #fff;
        }
        &:after {
            bottom: -10px;
            top: 14px;
        }
        &:before {
            top: 7px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform,opacity;
            width: 12px;
        }
    }
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
}

/* wysiwyg styles */

.page-container h1 {
    color: #161A1D;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 32px;
}

.page-container  h2 {
    color: #161A1D;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
    
    @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }
}

.page-container  h3 {
    font-size: 28px;
    line-height: 36px;
    color: #161A1D;
    font-weight: bold;
    margin-bottom: 24px;
    
    @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
}


.page-container h4 {
    font-size: 24px;
    line-height: 28px;
    color: #161A1D;
    font-weight: bold;
    margin-bottom: 20px;
    
    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
    }
}


.page-container h5 {
    color: #161A1D;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    
    @media (max-width: 1024px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }
}

.page-container h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #161A1D;
    margin-bottom: 12px;
    
    @media (max-width: 1024px) {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 12px;
    }
}

.page-container div + .page-container h2, .page-container p + .page-container h2,
.page-container div + .page-container h3, .page-container p + .page-container h3,
.page-container div + .page-container h4, .page-container p + .page-container h4,
.page-container div + .page-container h5, .page-container p + .page-container h5,
.page-container div + .page-container h6, .page-container p + .page-container h6 {
    margin-top: 32px;
}

@media (max-width: 1024px) {
    .page-container div + .page-container h2, .page-container p + .page-container h2,
    .page-container div + .page-container h3, .page-container p + .page-container h3,
    .page-container div + .page-container h4, .page-container p + .page-container h4,
    .page-container div + .page-container h5, .page-container p + .page-container h5,
    .page-container div + .page-container h6, .page-container p + .page-container h6
    {
        margin-top: 20px;
    }
}

.page-container ul:not(.reset-ul-list):not(.ya-share2__list) {
    margin: 30px 0;
    padding: 0;
}

.page-container ul:not(.reset-ul-list):not(.ya-share2__list) > li {
    list-style-type: none;
    position: relative;
    min-height: 28px;
    padding-left: 24px;
    margin: 8px 0;
}

.page-container ul:not(.reset-ul-list):not(.ya-share2__list) > li p {
    margin: 0;
    padding: 0;
}

.page-container ul:not(.reset-ul-list):not(.ya-share2__list):not(.bx-soa-pp-list) > li:before {
    content: "";
    width: 16px;
    height: 1px;
    position: absolute;
    background: @color-primary;
    left: 0;
    top: 12px;
}

.page-container ol:not(.reset-ul-list) {
    counter-reset: myCounter;
    margin: 30px 0;
    padding: 0;
}

.page-container ol:not(.reset-ul-list) > li {
    list-style-type: none;
    margin: 8px 0;
    padding: 0;
}

.page-container ol:not(.reset-ul-list) > li:before {
    counter-increment: myCounter;
    content: counter(myCounter) ".";
    color: #12B4F7;
    display: inline-block;
    width: 28px;
    text-align: right;
    margin-right: 8px;
}

.page-container hr {
    background: rgba(0, 0, 0, 0.07);
    height: 1px;
    display: block;
    margin: 32px 0;
    width: 100%;
    border: none;
}

.page-container .leadtext {
    color: @color-text-semi;
    font-size: 20px;
    line-height: 32px;
    
    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 28px;
    }
}

.page-container div.note {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    color: #161A1D;
    padding-left: 34px;
    margin: 24px 0;
    
    @media (max-width: 1024px) {
        padding-left: 12px;
    }
}

.page-container div.note:before {
    content: "";
    width: 2px;
    height: 100%;
    background: @color-primary;
    border-radius: 2px;
    left: 0;
    top: 0;
    position: absolute;
}

.page-container div.row.images > div img {
    width: 100%;
}

.page-container div.infobox {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #161A1D;
    padding-left: 43px;
    min-height: 32px;
    position: relative;
    margin: 32px 0;
}

.page-container div.infobox:before {
    content: "";
    display: block;
    background-image: url('/bitrix/wizards/nextype/alpha/site/templates/alpha/icons/icon-infobox.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    position: absolute;
}

.page-container blockquote, .page-container div.blockquote {
    display: block;
    position: relative;
    margin: 32px 0;
    padding-left: 43px;
    font-size: 20px;
    line-height: 32px;
    color: #161A1D;
    min-height: 32px;
}

.page-container blockquote:before, .page-container div.blockquote:before {
    content: "";
    display: block;
    background-image: url('/bitrix/wizards/nextype/alpha/site/templates/alpha/icons/icon-quote.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    position: absolute;
}

.page-container blockquote .author, .page-container div.blockquote .author {
    display: block;
    position: relative;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #7A8086;
    padding-left: 20px;
    min-height: 20px;
}

.page-container blockquote .author:before, .page-container div.blockquote .author:before {
    content: "";
    display: block;
    width: 14px;
    height: 1px;
    position: absolute;
    background: #7A8086;
    top: 10px;
    left: 0;
}

.page-container table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.page-container table th {
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding: 12px 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    text-align: left;
}

.page-container table td {
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #161A1D;
}

.page-container table.table-props {
    display: flex;
    flex-direction: column;
    
    tr {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        margin-top: 12px;
        background-image: url(/local/templates/alpha/icons/background-line.svg);
        background-repeat: repeat-x;
        background-position: 0 1em;

        td {
            border: none;
            padding: 0;
            background-color: #fff;
        }
        
        td:first-child {
            padding-right: 8px;
            max-width: 70%;
            color: @color-text-secondary;
        }
        
        td:last-child {
            padding-left: 8px;
            width: 50%;
        }
        
        @media (max-width: 1024px) {
            flex-direction: column;
            background-image: none;
            
            td:first-child {
                padding-right: 0;
                width: 100%;
                max-width: 100%;
            }
            
            td:last-child {
                padding-left: 0;
                width: 100%;
            }
        }
    }
}
