

.favorites-section {
    &.empty {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
        .text {
            margin-bottom: 16px;
        }
    }

    .delete {
        display: flex;
        align-items: center;
        margin-left: auto;
        color: @color-text-semi;
        transition: color 0.2s;
        .icon {
            margin-left: 8px;
        }
        @media (min-width: 1024px) {
            &:hover {
                color: @color-primary;
            }
        }
    }

    .product-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        .product-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            .buttons {
                margin-top: auto;
            }
        }
        .product-image-block {
            @media (min-width: 1024px) {
                &:hover {
                    .icon-block {
                        bottom: 16px;
                    }
                    .image-slider {
                        .gallery-top {
                            .swiper-pagination {
                                bottom: 16px;
                            }
                        }
                    }
                }
            }
            .image-slider {
                .gallery-thumbs {
                    height: 100%;
                }
            }
        }

        

        
    }
    .product-items.items-col-3 {
        .item-wrap {
            margin-bottom: 32px;
            @media (max-width: 1023px) {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
            @media (max-width: 767px) {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 24px;
            }
        }
    }

    .buttons {
        display: flex;
    }

    .name {
        margin-bottom: 16px;
    }

    .to-basket.btn.btn-primary {
        flex: 1;
        margin-right: 8px;
        white-space: nowrap;
        @media (max-width: 575px) {
            margin-right: 4px;
            padding: 11px 16px;
        }
        span {
            @media (max-width: 374px) {
                display: none;
            }
        }
        .icon {
            @media (max-width: 575px) {
                display: none;
            }
            @media (max-width: 374px) {
                display: block;
                margin: 0;
            }
        }
    }
    .sort-filter {
        .sort {
            .sort-link {
                transition: color 0.2s;
                @media (min-width: 1024px) {
                    &:hover {
                        color: @color-primary;
                    }
                }
            }
        } 
    }
    .btn.btn-secondary.btn-delete {
        padding: 11px;
        border: 1px solid @color-border-7;
        flex-shrink: 0;
        transition: border 0.2s;
        @media (min-width: 1024px) {
            &:hover {
                border: 1px solid @color-border-hover;
            }
        }
        .icon {
            margin: 0;
            width: 24px;
            height: 24px;
        }
    }
    
}