/* less */
.product-item-label-ring.product-item-label-small {
    display: none;
}

.product-item-image-wrapper {
    padding-top: 100%;
    border-radius: 8px;
    border: 1px solid @color-border-7;
    overflow: hidden;
}

.bx-no-touch .product-item-container,
.product-item-container {
    height: 100% !important;

    .product-item {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .product-item-label-text {
        display: none;
    }

    .product-item-info-container:not(.product-item-price-container) {

        // top: 84%;
        // position: absolute;
        // width: 100%;
        // z-index: 9999;
        // border-radius: 0;
        // transform: translateY(-100%);
        .btn,
        .btn.btn-link.btn-sm {
            .btn;
            .btn-primary;
            .btn-large;
            border-radius: 8px;
            font-size: 16px;
            line-height: 24px;
            text-align: center !important;
            padding: 12px !important;
            display: flex !important;
            justify-content: center !important;
            color: #fff !important;
            width: 100%;
            margin: 0;
        }

        .btn.btn-link.btn-sm {
            background-color: @color-gray  !important;
            color: @color-text-primary  !important;
        }

        border-radius: 0;
    }

    .product-item-info-container {
        margin: 0;
    }

    .product-item-image-wrapper {
        margin-bottom: 16px;
        order: -2;
    }

    .product-item-title {
        .font-title;
        margin-top: auto;
        text-align: left;
        margin-bottom: 16px;
    }

    .product-item-price-container {
        text-align: left;
        display: flex;
        order: -1;
        align-items: center;
        margin-bottom: 4px;
    }

    .product-item-price-current {
        .font-body;
        order: -1;
        margin-right: 8px;
    }

    .product-item-price-old {
        .font-body-small;
    }

    .product-item-info-container.product-item-hidden {
        display: block;
        opacity: 1;
        margin-top: auto;
    }

    &.hover {
        .product-item {
            padding: 0;
            position: static;
            animation: none;
            box-shadow: none;
        }
    }
}

.sale-products-gift {
    padding: 0;
    margin: 0 0 36px;

    @media (max-width: 1366px) {
        margin: 0 0 32px;
    }

    @media (max-width: 1366px) {
        margin: 0 0 28px;
    }

    @media (max-width: 992px) {
        margin: 0 0 24px;
    }
}

.product-item-image-original,
.product-item-image-alternative {
    background-size: cover;
}

.catalog-block-header {
    .h2;
    border: 0;
    padding: 0;
    margin: 0 0 40px 0;
}

.product-item-list-col-4 {
    margin-bottom: -24px;

    .col-6 {
        @media (max-width: 992px) {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 24px;
        }
    }
}