.icon {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-vk {
    background-image: url('../icons/icon-vk.svg');
}

.icon-fb {
    background-image: url('../icons/icon-fb.svg');
}

.icon-metro {
    background-image: url('../icons/icon-metro.svg');
}

.icon-list-table {
    background-image: url('../icons/icon-list-table.svg');
}

.icon-Im {
    background-image: url('../icons/icon-ig.svg');
}

.icon-viber {
    background-image: url('../icons/icon-viber.svg');
}

.icon-ok {
    background-image: url('../icons/icon-ok.svg');
}

.icon-yt {
    background-image: url('../icons/icon-yt.svg');
}

.icon-tw {
    background-image: url('../icons/icon-tw.svg');
}

.icon-mail {
    background-image: url('../icons/icon-mail.svg');
}

.icon-ln {
    background-image: url('../icons/icon-ln.svg');
}

.icon-zen {
    background-image: url('../icons/icon-zen.svg');
}

.icon-telegram {
    background-image: url('../icons/icon-telegram.svg');
}

.icon-skype {
    background-image: url('../icons/icon-skype.svg');
}

.icon-ws {
    background-image: url('../icons/icon-ws.svg');
}

.icon-tiktok {
    background-image: url('../icons/icon-tiktok.svg');
}

.icon-vk-white {
    background-image: url('../icons/icon-vk-white.svg');
}

.icon-fb-white {
    background-image: url('../icons/icon-fb-white.svg');
}

.icon-Im-white {
    background-image: url('../icons/icon-ig-white.svg');
}

.icon-ok-white {
    background-image: url('../icons/icon-ok-white.svg');
}

.icon-viber-white {
    background-image: url('../icons/icon-viber-white.svg');
}

.icon-skype-white {
    background-image: url('../icons/icon-skype-white.svg');
}

.icon-yt-white {
    background-image: url('../icons/icon-yt-white.svg');
}

.icon-tw-white {
    background-image: url('../icons/icon-tw-white.svg');
}

.icon-mail-white {
    background-image: url('../icons/icon-mail-white.svg');
}

.icon-ln-white {
    background-image: url('../icons/icon-ln-white.svg');
}

.icon-zen-white {
    background-image: url('../icons/icon-zen-white.svg');
}

.icon-telegram-white {
    background-image: url('../icons/icon-telegram-white.svg');
}

.icon-ws-white {
    background-image: url('../icons/icon-ws-white.svg');
}

.icon-tiktok-white {
    background-image: url('../icons/icon-tiktok-white.svg');
}

.icon-gift-advantage {
    background-image: url('../icons/icon-gift-advantage.svg');
    width: 48px;
    min-width: 48px;
    height: 48px;
}

.icon-phone-24-advantage {
    background-image: url('../icons/icon-phone-24-advantage.svg');
    width: 48px;
    min-width: 48px;
    height: 48px;
}

.icon-sale-advantage {
    background-image: url('../icons/icon-sale-advantage.svg');
    width: 48px;
    min-width: 48px;
    height: 48px;
}

.icon-truck-advantage {
    background-image: url('../icons/icon-truck-advantage.svg');
    width: 48px;
    min-width: 48px;
    height: 48px;
}

.icon-basket {
    background-image: url('../icons/icon-busket.svg');
}

.icon-basket-white {
    background-image: url('../icons/icon-busket-white.svg');
}

.icon-menu {
    background-image: url('../icons/icon-menu.svg');
}

.icon-menu-2 {
    background-image: url('../icons/icon-menu-2.svg');
}

.icon-more-fill {
    background-image: url('../icons/icon-more-fill.svg');
}

.icon-search-2-line {
    background-image: url('../icons/icon-search-2-line.svg');
}

.icon-search-2-line-white {
    background-image: url('../icons/icon-search-2-line-white.svg');
}

.icon-bx-heart {
    background-image: url('../icons/icon-bx-heart.svg');
}

.icon-star-24 {
    background-image: url('../icons/icon-star-24.svg');
}

.icon-star-32 {
    background-image: url('../icons/icon-star-32.svg');
    width: 32px;
    height: 32px;
    min-width: 32px
}

.icon-star-32-empty, .icon-star-32.empty {
    background-image: url('../icons/icon-star-32-empty.svg');
    width: 32px;
    height: 32px;
    min-width: 32px
}

.icon-star {
    background-image: url('../icons/icon-star.svg');
    width: 16px;
    height: 16px;
}

.icon-star-empty {
    background-image: url('../icons/icon-star-empty.svg');
    width: 16px;
    height: 16px;
}

.icon-star-12 {
    background-image: url('../icons/icon-star-12.svg');
    width: 12px;
    height: 12px;
}

.icon-bx-location {
    background-image: url('../icons/icon-bx-location.svg');
    width: 10px;
    height: 16px;
}

.icon-arrow-right {
    background-image: url('../icons/icon-arrow-right.svg');
}

.icon-arrow-right-white {
    background-image: url('../icons/icon-arrow-right-white.svg');
}

.icon-arrow-left {
    background-image: url('../icons/icon-arrow-left.svg');
}

.icon-bx-minus {
    background-image: url('../icons/icon-bx-minus.svg');
}

.icon-bx-minus-white {
    background-image: url('../icons/icon-bx-minus-white.svg');
}

.icon-bx-plus {
    background-image: url('../icons/icon-bx-plus.svg');
}

.icon-bx-plus-white {
    background-image: url('../icons/icon-bx-plus-white.svg');
}

.icon-check {
    background-image: url('../icons/icon-check.svg');
}

.icon-check-white {
    background-image: url('../icons/icon-check-white.svg');
}

.icon-gift {
    background-image: url('../icons/icon-gift.svg');
}

.icon-message-square {
    background-image: url('../icons/icon-message-square.svg');
}

.icon-send {
    background-image: url('../icons/icon-send.svg');
}

.icon-share-2 {
    width: 20px;
    height: 20px;
    background-image: url('../icons/icon-share-2.svg');
}

.icon-thumbs-up {
    background-image: url('../icons/icon-thumbs-up.svg');
}

.icon-thumbs-down {
    background-image: url('../icons/icon-thumbs-down.svg');
}

.icon-user-16 {
    background-image: url('../icons/icon-person-16.svg');
    width: 16px;
    height: 16px;
}

.icon-user-24 {
    background-image: url('../icons/icon-person-24.svg');
}

.icon-bx-heart-2 {
    background-image: url('../icons/icon-bx-heart-2.svg');
    height: 32px;
    width: 32px;
}

.icon-arrow-up {
    background-image: url('../icons/icon-arrow-up.svg');
}

.icon-arrow-down {
    background-image: url('../icons/icon-arrow-down.svg');
}

.icon-arrow-right-text-button {
    background-image: url('../icons/icon-arrow-right-text-button.svg');
    width: 12px;
    height: 24px;
}

.icon-arrow-right-text-button-white {
    background-image: url('../icons/icon-arrow-right-text-button-white.svg');
    width: 12px;
    height: 24px;
}

.icon-arrow-down-text-button {
    background-image: url('../icons/icon-arrow-down-text-button.svg');
    width: 12px;
    height: 24px;
}

.icon-arrow-light-down {
    background-image: url('../icons/arrow-light-down.svg');
    width: 8px;
    height: 16px;
}

.icon-arrow-light-right {
    background-image: url('../icons/arrow-light-down.svg');
    width: 8px;
    height: 16px;
    transform: rotate(360deg);
}
.icon-arrow-light-left {
    background-image: url('../icons/arrow-light-down.svg');
    width: 8px;
    height: 16px;
    transform: rotate(90deg);
}

.icon-arrow-light-down {
    background-image: url('../icons/arrow-light-down.svg');
    width: 8px;
    height: 16px;
}

.icon-arrow-light-down-white {
    background-image: url('../icons/arrow-light-down-white.svg');
    width: 8px;
    height: 16px;
}


.icon-arrow-light-right {
    background-image: url('../icons/arrow-light-right.svg');
    width: 8px;
    height: 16px;
}

.icon-bx-down-arrow-alt {
    background-image: url('../icons/icon-bx-down-arrow-alt.svg');
    width: 12px;
    height: 24px;
}

.icon-bx-down-arrow-alt-2 {
    background-image: url('../icons/icon-bx-down-arrow-alt-2.svg');
}

.icon-arrow-light-up {
    background-image: url('../icons/arrow-light-up.svg');
}

.icon-close {
    background-image: url('../icons/icon-close.svg');
    width: 8px;
    height: 16px;
}

.icon-close-big {
    background-image: url('../icons/icon-close.svg');
}

.icon-close-big-white {
    background-image: url('../icons/icon-close-big-white.svg');
}

.icon-pin {
    background-image: url('../icons/icon-pin.svg');
    width: 58px;
    height: 58px;
}

.icon-trash {
    background-image: url('../icons/icon-trash.svg');
    width: 18px;
    height: 18px;
}

.icon-favorites {
    background-image: url('../icons/icon-favorits.svg');
    width: 32px;
    height: 32px;
}

.icon-favorites-hover {
    background-image: url('../icons/icon-favorits-hover.svg');
    width: 32px;
    height: 32px;
}

.icon-favorites-active {
    background-image: url('../icons/icon-favorits-active.svg');
    width: 32px;
    height: 32px;
}

.icon-heart-filled {
    background-image: url('../icons/icon-heart-filled.svg');
    width: 24px;
    height: 24px;
}

.icon-envelop {
    background-image: url('../icons/icon-envelop.svg');
}
.icon-3col-grid {
    background-image: url('../icons/icon-3col-grid.svg');
    width: 16px;
    height: 24px;
}
.icon-2col-grid {
    background-image: url('../icons/icon-2col-grid.svg');
    width: 10px;
    height: 24px;
}
.icon-4col-grid {
    background-image: url('../icons/icon-4col-grid.svg');
    width: 22px;
    height: 24px;
}
.icon-list-grid {
    background-image: url('../icons/icon-list-grid.svg');
    width: 16px;
    height: 24px;
}
.icon-restore {
    background-image: url('../icons/icon-restore.svg');
    width: 24px;
    height: 24px;
}
.icon-catalog {
    background-image: url('../icons/icon-catalog.svg');
    width: 24px;
    height: 24px;
}
.icon-catalog-white {
    background-image: url('../icons/icon-catalog-white.svg');
    width: 16px;
    height: 24px;
}
.icon-sorting {
    background-image: url('../icons/icon-sorting.svg');
    width: 24px;
    height: 24px;
}
.icon-filter {
    background-image: url('../icons/icon-filter.svg');
    width: 24px;
    height: 24px;
}
.icon-calendar {
    background-image: url('../icons/icon-calendar.svg');
    width: 20px;
    height: 20px;
}

.icon-calendar-white {
    background-image: url('../icons/icon-calendar-white.svg');
    width: 20px;
    height: 20px;
}

.icon-btn-profile {
    background-image: url('../icons/icon-btn-profile.svg');
    width: 44px;
    height: 44px;
}
.icon-btn-favorites {
    background-image: url('../icons/icon-btn-favorites.svg');
    width: 44px;
    height: 44px;
}
.icon-btn-search {
    background-image: url('../icons/icon-btn-search.svg');
    width: 44px;
    height: 44px;
}
.icon-btn-cart {
    background-image: url('../icons/icon-btn-cart.svg');
    width: 44px;
    height: 44px;
}

.icon-google {
    background-image: url('../icons/icon-google.svg');
}

.icon-ya {
    background-image: url('../icons/icon-ya.svg');
}

.icon-blogger {
    background-image: url('../icons/icon-blogger.svg');
}
.icon-bx24{
    background-image: url('../icons/icon-bx24.svg');
}
.icon-login-google {
    background-image: url('../icons/icon-login-google.svg');
}
.icon-li {
    background-image: url('../icons/icon-li.svg');
}
.icon-life-id{
    background-image: url('../icons/icon-life-id.svg');
}
.icon-openid{
    background-image: url('../icons/icon-openid.svg');
}
.icon-yandex{
    background-image: url('../icons/icon-yandex.svg');
}
.icon-lj {
    background-image: url('../icons/icon-lj.svg');
}

.icon-lk-bag {
    background-image: url('../icons/icon-lk-bag.svg');
}

.icon-lk-money {
    background-image: url('../icons/icon-lk-money.svg');
}

.icon-lk-person {
    background-image: url('../icons/icon-lk-person.svg');
}

.icon-lk-history {
    background-image: url('../icons/icon-lk-history.svg');
}

.icon-lk-profiles {
    background-image: url('../icons/icon-lk-profiles.svg');
}

.icon-lk-cart {
    background-image: url('../icons/icon-lk-cart.svg');
}

.icon-lk-subs {
    background-image: url('../icons/icon-lk-subs.svg');
}

.icon-lk-contacts {
    background-image: url('../icons/icon-lk-contacts.svg');
}

.icon-arrow-refresh {
    background-image: url('../icons/icon-arrow-refresh.svg');
}