.instagram-section{
    display: flex;
    justify-content: center;
    padding: 36px 0;
    @media (max-width: 1366px) {
        padding: 28px 0;
    }
    @media (max-width: 575px) {
        padding: 24px 0;
    }
    .container {
        max-width: 1552px;
        padding: 0 12px;
        @media (max-width: 1366px){
            max-width: 1336px;
            padding: 12px;
        }
        @media (max-width: 575px) {
            padding: 0 12px;
        }
    }
    .instagram-list {
        position: relative;
        padding: 0 32px;
        @media (max-width: 992px) {
            padding: 0;
        }
    }
    .swiper-arrows {
        @media (max-width: 992px) {
            display: none;
        }
    }
    .items {
        .swiper-container {
            z-index: 5;
        }
    }
    .scrollbar-inner {

        .ps__rail-y {
            margin-top: 16px;
            height: 90%;
            right: 4px;
            top: 0;
        }
    }
    .link {
        @media (max-width: 992px) {
            padding-bottom: 7px;
            border-bottom: 1px solid @color-border-7;
        }
        .icon {
            @media (max-width: 992px) {
                margin-left: auto;
            }
        }
    }

    .scrollbar-inner {
        .ps__rail-x,
        .ps__rail-y {
            box-shadow: inset 0 0 4px rgba(0, 0, 0, .11);
        }
    }

    .swiper-slide {
        @media (max-width: 992px) {
            width: 292px !important;
            height: 292px;
        }
    }
    .item {
        position: relative;
        @media (max-width: 992px) {
            width: 292px;
            height: 292px;
        }
        a {
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow: hidden;
            @media (max-width: 992px) {
                padding-bottom: 0;
            }
            .image {
                position: relative;
                padding: 100% 0 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:hover {
                
                .text_wrapper {
                    opacity: 1;
                    
                }
            }
    
            .text_wrapper {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.60);
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.2s;
                border-radius: 12px;
                body:not(.macos) & {
                    @media (min-width: 1025px) {
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(3px);
                    }
                }
                
                .text {
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0;
                    display: block;
                    margin: 16px 16px 0;
                    // padding-right: 24px;
                    padding-bottom: 15px;
                    font-style: normal;
                    color: #f3f3f3;
                    overflow-y: auto;
                    max-height: 80%;
                    // background-color: #fff;
    
                    .date {
                        display: block;
                        font-style: normal;
                        color: rgba(0,0,0, 0.75);
                        margin-bottom: 14px;
                    }
                }
            }
    
        }
    }
}
