.item-detail {

    &.type-2 {

        .img-block,
        .text-block {
            width: 49.181%;
        }
        
        .sidebar-block {
            width: ~"calc(50.82% - 24px)";
        }
        .text-sidebar {
            display: none;
        }
    }

    .container {
        padding: 0 24px;
        max-width: 1512px;

        @media (max-width: 1366px) {
            max-width: 1296px;
        }

        @media (max-width: 1024px) {
            max-width: 1272px;
            padding: 0 12px;
        }
    }

    .header-product {

        .container {

            @media (max-width: 1366px) {
                max-width: 100%;
                padding: 0;
            }
        }

        .product-container {
            display: flex;
            align-items: center;
            padding: 8px 0;

            @media (max-width: 1366px) {
                padding: 8px;
            }

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                margin-right: 16px;
                border-radius: 8px;
                flex-shrink: 0;

                @media (max-width: 1024px) {
                    margin-right: 8px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    object-fit: contain;
                }
            }

            .content {
                display: flex;
                align-items: center;
                flex-grow: 1;

                @media (max-width: 1024px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-grow: 1;
            }

            .name {
                .font-body-2;
            }

            .stock {
                margin-top: 8px;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            .price-block {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-left: 40px;
                flex-shrink: 0;

                @media (max-width: 1024px) {
                    flex-direction: row;
                    align-items: center;
                    margin: 6px 0 0;
                }

                .price {
                    font-size: 18px;
                    line-height: 28px;

                    @media (max-width: 1366px) {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    @media (max-width: 575px) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

                .price-old-block {
                    display: flex;
                    align-items: center;
                }

                .label {
                    margin-right: 4px;

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }

                .price-old {
                    .font-body-small;
                    font-weight: 400;
                    color: @color-text-secondary;

                    @media (max-width: 1024px) {
                        margin-left: 4px;
                    }
                }
            }
        }

        .btn-container {
            margin-left: 24px;

            @media (max-width: 1024px) {
                margin-left: 8px;
            }

            .btn {

                @media (max-width: 1024px) {
                    padding: 17px;
                }

                span {

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }

                .icon {

                    @media (max-width: 1024px) {
                        margin: 0;
                    }
                }
            }
        }

        .additional-links {
            margin-left: 8px;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    .item-detail-content {
        margin-bottom: 36px;

        @media (max-width: 1366px){
            margin-bottom: 28px;
        }

        @media (max-width: 1024px){
            margin-bottom: 24px;
        }
    }

    .delivery {
        padding-top: 4px;
        margin-bottom: 28px;

        .delivery-title-block {
            display: flex;
            margin-bottom: 12px;

            .title {
                margin-right: 8px;
            }

            .change-delivery {
                display: flex;
                align-items: flex-end;
                color: @color-primary;
                transition: color 0.2s;

                @media (min-width: 1024px) {

                    &:hover {
                        color: darken(@color-primary, 20);
                    }
                }
            }
        }

        .item {
            color: @color-text-primary;
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 10px;
            }

            .delivery-type,
            .time {
                color: @color-text-secondary;
            }
        }

        .all {
            display: inline-flex;
            color: @color-text-semi;
            transition: color 0.2s;

            @media (max-width: 575px) {
                border-bottom: 1px solid @color-border-7;
                width: 100%;
                padding-bottom: 7px;
            }

            @media (min-width: 1024px) {

                &:hover {
                    color: @color-primary;
                }
            }

            span {
                border-bottom: 1px dotted;

                @media (max-width: 575px) {
                    border-bottom: 0;
                }
            }

            .icon {
                margin-left: 8px;

                @media (max-width: 575px) {
                    margin-left: auto;
                }
            }
        }
    }

    .thumbs {
        margin-right: 16px;
        width: 96px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;

        @media (max-width: 1024px) {
            display: none;
        }

        .thumbs-wrapper {
            position: relative;
            height: 100%;
        }

        .swiper-button-prev,
        .swiper-button-next {
            bottom: 0;
            top: auto;
            margin-top: 0;
            width: 48px;
            height: 48px;
            border: 1px solid @color-border-7;
            border-radius: 0;
            transition: all 0.2s;

            &.swiper-button-disabled {
                opacity: 1;
                pointer-events: all;

                &:before {
                    opacity: 0.6;
                }

                &:hover {
                    background-color: #fff;
                }
            }
        }

        .swiper-button-prev {
            right: 1px;
            left: auto;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-right: 0;

            &:before {
                transform: rotate(90deg);
            }
        }

        .swiper-button-next {
            left: 1px;
            right: auto;
            border-left: 0;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            &:before {
                transform: rotate(90deg);
            }
        }

        .swiper-container {
            height:~"calc(100% - 64px)";
            border-radius: 12px;

            .swiper-slide {
                height: 96px !important;
                cursor: pointer;
            }
        }

        .swiper-slide-thumb-active {

            .img-wrapper {
                width: 94px;
                margin: 0 auto;
                height: 96px;
                border: 1px solid @color-primary;
                box-shadow: 0 0 0 1px @color-primary;
            }
        }

        .img-wrapper {
            width: 96px;
            height: 96px;
            border: 1px solid @color-border-7;
            transition: box-shadow 0.15s ;
            border-radius: 12px;
            overflow: hidden;

            .img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .video-thumb {
            filter: blur(3px);
        }

        .video-thumb-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            margin: auto;
            content: "";
            background: url("../icons/icon-play.svg") no-repeat center;
            background-size: contain;
            width: 48px;
            height: 48px;
            filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.15)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
        }
    }

    .with-this-good {
        margin-bottom: 36px;

        @media (max-width: 1366px) {
            margin-bottom: 28px;
        }

        @media (max-width: 1024px) {
            margin-bottom: 24px;
        }

        .section-name {

            .title {
                margin-bottom: 0;
            }
        }

        .item-wrap {
            padding: 0;

            @media (max-width: 1024px) {
                width: 232px;
            }
        }

        .product-items-block {
            padding-top: 0;
        }

        .swiper-slider {

            .swiper-slide {

                @media (max-width: 1024px) {
                    width: 232px;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 38%;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            .swiper-button-next {
                right: -24px;
            }

            .swiper-button-prev {
                left: -24px;
            }
        }
    }

    .img-block {
        width: 66.121%;
        float: left;
        margin: 0 24px 36px 0;
        display: flex;
        position: relative;

        &.disabled-slider {

            .image-wrap {
                margin: 0;
                width: 100%;
                padding-bottom: 100%;

                @media (max-width: 1024px) {
                    margin: 0 0 16px;
                }
            }

            .labels {
                left: 16px;
            }
        }
        
        .image-wrap {
            width: ~"calc(100% - 96px)";
            margin-left: 112px;
            border-radius: 12px;
            padding-bottom: 81.752%;
            overflow: hidden;
            position: relative;

            @media (max-width: 1024px) {
                width: 100%;
                margin: 0 0 16px;
                padding-bottom: 100%;
            }

            @media (hover: hover) {
                &:hover + .labels,
                &:hover + .labels + .badge-in-stock {
                    display: none;
                }
            }

            .image {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .image-wrapper {
                border-radius: 12px;
                overflow: hidden;
                display: flex;
                height: 100%;
            }

            .item {
                position: relative;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                border-radius: 12px;
            }

            .swiper-container {
                height: 100%;
            }

            .swiper-slide {
                width: 100%;
                min-height: 100%;
            }
            .swiper-pagination {
                bottom: 16px;
            }
        }

        .labels {
            position: absolute;
            top: 16px;
            left: 128px;
            display: flex;
            flex-direction: column;
            z-index: 1;

            @media (max-width: 1024px) {
                left: 16px;
            }

            .label-wrap {
                display: flex;
                margin-bottom: 4px;
            }
        }

        .badge-in-stock {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 1;
        }

        .video-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            cursor: pointer;

            &.playing:not(:hover) {

                .video-button {
                    opacity: 0;
                }
            }

            &:hover {

                .video-button {
                    width: 96px;
                    height: 96px;

                    &::after {
                        width: 48px;
                        height: 48px;
                        opacity: 1;
                    }
                }
            }
        }

        .video-button {
            position: absolute;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background: @color-blur-48;
            pointer-events: none;
            transition: 0.2s;

            &::after {
                content: "";
                background: url("../icons/icon-play.svg") no-repeat center;
                background-size: contain;
                width: 40px;
                height: 40px;
                opacity: 0.8;
                transition: 0.2s;
            }

            &.pause {

                &::after {
                    background: url("../icons/icon-pause.svg") no-repeat center;
                }
            }
        }

        video {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .previous {

        @media (max-width: 1528px) {
            max-width: initial;
        }

        .section-name {

            .title {
                text-align: left;
            }
        }

        .product-image-block .labels {
            display: none;
        }
    }

    .complect {
        margin-bottom: 24px;
    }

    .sidebar-block {
        float: right;
        width: ~"calc(33.879% - 24px)";
        @media (min-width: 1025px) {
            min-height: 1000px;
        }

        .code-wrapper {
            display: flex;
            align-items: center;
            padding-bottom: 8px;
            border-bottom: 1px solid @color-border-7;
            margin-bottom: 16px;

            @media (max-width: 575px) {
                margin-bottom: 12px;
            }
        }

        .code {
            color: @color-text-secondary;
        }

        .in-store {
            color: @color-text-semi;
            margin-left: auto;
        }

        .in-store-link {
            color: @color-primary;
            transition: 0.2s;

            &:hover {
                color: darken(@color-primary, 20);
            }
        }

        .sidebar-title {
            display: none;
            @media (max-width: 1024px) {
                display: block;
                margin-bottom: 16px;
                margin-top: 24px;
            }
        }

        .price-block {
            display: flex;
            align-items: flex-end;
            margin-bottom: 8px;

            .price {
                margin-right: 8px;
            }

            .price-old-block {
                margin-right: 4px;
                margin-bottom: 2px;
                color: @color-text-secondary;
            }

            .labels {
                margin-bottom: 2px;
            }
        }

        .price-ranges-block {
            margin-bottom: 8px;

            .product-item-detail-info-container-title {
                margin-bottom: 8px;
            }

            .product-item-detail-properties-item {
                display: flex;

                &:not(:last-child) {
                    margin-bottom: 4px;
                }

                .product-item-detail-properties-value {
                    order: -1;
                    margin-right: 8px;
                    color: @color-text-primary;
                }

                .product-item-detail-properties-name {
                    color: @color-text-secondary;
                }
            }
        }

        .one-click-buy {
            display: block;
            color: @color-primary;
            margin-bottom: 24px;
            transition: color 0.2s;

            @media (min-width: 992px) {

                &:hover {
                    color: darken(@color-primary, 20);
                }
            }

            @media (max-width: 1024px) {
                padding-bottom: 7px;
                border-bottom: 1px solid @color-border-7;
                width: 100%;

                &:after {
                    .icon {
                        margin-left: auto;
                    }
                }
            }
        }

        .buttons-wrap {
            display: flex;
            width: 100%;

            .btn-subscribe {
                margin-top: 0 !important;
                margin-right: 8px;
            }
        }

        .buttons {
            display: flex;
            margin-bottom: 24px;

            @media (max-width: 400px) {
                flex-direction: column;
            }

            .counter {
                margin-right: 8px;

                @media (max-width: 400px) {
                    margin: 0 0 8px 0;
                }

                .measure {
                    color: @color-text-primary;
                }
            }

            .btn-to-cart {
                margin-right: 12px;

                @media (max-width: 1365px) {
                    flex: 1;
                    padding: 17px;
                    margin-right: 8px;
                }
            }
        }

        .gifts {
            margin-bottom: 24px;

            .title {
                margin-bottom: 4px;
                color: @color-text-primary;

                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }

            .subtitle {
                color: @color-text-semi;
                margin-bottom: 12px;
            }
        }

        .custom-radio-gift {
            margin-bottom: 8px;
        }

        .gifts-link {
            display: flex;
            align-items: center;

            .icon {
                transform: rotate(90deg);
            }
        }

        .description {
            margin-bottom: 24px;
        }

        .chars {
            margin-bottom: 24px;

            .chars-link {

                .icon {

                    @media (max-width: 575px) {
                        margin-left: auto;
                    }
                }
            }

            .props {
                margin-bottom: 10px;
            }
        }

        .rating-brand-container {
            margin-bottom: 24px;
        }

        .similar-items {

            @media (max-width: 1024px) {
                padding-bottom: 24px;
            }

            .title {
                margin-bottom: 12px;

                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }

        .images-sku-block {
            margin-bottom: 24px;

            .title {
                margin-bottom: 12px;

                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }

    .text-block {
        width: 66.121%;
        float: left;

        @media (max-width: 1024px) {
            padding: 0;
            margin-left: 0;
        }

        .wrapper {
            display: flex;
            padding: 48px 32px 48px 24px;
            margin-left: -24px;
            position: relative;

            @media (max-width: 1024px) {
                padding: 20px 0;
                margin-left: 0;
            }

            &:before {
                right: 0;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 100vw;
                height: 100%;
                border: 1px solid @color-border-7;
                border-radius: 12px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                z-index: -1;

                @media (max-width: 1024px) {
                    width: 100vw;
                    right: -12px;
                    border-radius: 12px;
                }
            }
        }

        .text-sidebar {
            position: relative;
            margin-right: 24px;

            @media (max-width: 1024px) {
                display: none;
            }

            .list {
                position: sticky;
                top: 88px;
                left: 0;
                min-width: 190px;
            }

            .anchor {
                display: flex;
                color: @color-text-secondary;
                padding-left: 32px;
                transition: color 0.2s;

                @media (min-width: 1024px) {

                    &:hover {
                        color: @color-primary !important;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                .icon {
                    display: none;
                    margin-right: 8px;
                }

                &.active {
                    color: @color-text-primary;
                    padding-left: 0;
                    
                    .icon {
                        display: inline-block;
                    }
                }
            }

            .anchor.active + .anchor.active {
                padding-left: 32px;
                color: @color-text-secondary;

                .icon {
                    display: none;
                }
            }
        }

        .content {
            width: 100%;
            
            h2:first-child {
                margin-top: 0;
            }
        }
    }

    .set {
        position: relative;
        margin-left: -24px;
        padding: 48px 32px 48px 24px;
        margin-bottom: 36px;

        @media (max-width: 1366px) {
            margin-bottom: 28px;
        }

        @media (max-width: 1024px) {
            padding: 20px 0;
            margin-left: 0;
        }

        @media (max-width: 575px) {
            margin-bottom: 24px;
        }

        &:before {
            right: 0;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100%;
            border: 1px solid @color-border-7;
            border-radius: 12px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            z-index: -1;

            @media (max-width: 1024px) {
                width: 100vw;
                right: -12px;
                border-radius: 12px;
            }
        }
    }

    .price-wrap {
        display: flex;
    }
}

.images-sku-block {

    .images-sku-list {
        position: relative;
    }

    .swiper-slide {
        width: 64px;
    }

    .item {
        display: block;
        width: 64px;
        height: 64px;
        border: 1px solid @color-border-7;
        transition: border 0.2s;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @media (min-width: 1024px) {

            &:hover {
                border: 1px solid @color-border-hover;
            }
        }
        
        &.selected {
            border: 2px solid @color-primary;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 48px;
        height: 48px;
        top: 50%;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .swiper-button-next {
        right: -24px;
    }

    .swiper-button-prev {
        left: -24px;
    }
}

.brand-item {
    width: 100%;
    max-width: 344px;

    .item-img {

        @media (max-width: 575px) {
            height: 48px;
        }
    }
}

.rating-brand-container {
    display: flex;
    width: 100%;
}

.rating-circle-block {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 48px;

    @media (max-width: 374px) {
        margin-right: 24px;
    }

    .circle {
        height: 78px;
        width: 78px;
        min-width: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 4px 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.empty {
            background-image: url('../images/rating-circle-empty.svg');
        }

        &.small {
            background-image: url('../images/rating-circle-2-5.svg');
        }

        &.medium {
            background-image: url('../images/rating-circle-3-5.svg');
        }

        &.large {
            background-image: url('../images/rating-circle-4-5.svg');
        }

        &.full {
            background-image: url('../images/rating-circle-5.svg');
        }
    }

    .title-block {

        @media(max-width: 1024px) {
            width: 100%;
        }

        .dotted-link {
            padding-bottom: 0;
        }
    }

    .rating-title {
        margin-bottom: 4px;
    }
}

.complect {

    .complect-title {
        margin-bottom: 8px;
    }

    .price-wrap {
        align-items: center;
    }

    .list {
        border: 1px solid @color-border-7;
        border-radius: 12px;
        overflow: hidden;

        .item {
            padding: 7px;
            background-color: #fff;
            display: flex;
            color: @color-text-primary;
            white-space: nowrap;

            @media (min-width: 1024px) {

                &:hover {

                    .item-title {
                        color: @color-primary;
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid @color-border-7;
            }

            .item-title {
                white-space: initial;
                transition: color 0.2s;
            }

            .img {
                width: 63px;
                min-width: 63px;
                height: 63px;
                border: 1px solid @color-border-7;
                border-radius: 8px;
                margin-right: 12px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .price-block {
                display: flex;
                margin-bottom: 4px;
                align-items: center;

                @media (max-width: 1024px) {
                    align-items: flex-start;
                    flex-direction: column;
                }

                .price-old-block {
                    margin-bottom: 0;
                }
            }

            .labels {
                margin-right: 4px;
            }
        }
    }
}

.dotted-link {
    display: inline-flex;
    color: @color-text-semi;
    transition: color 0.2s;
    font-weight: 500;

    @media (min-width: 1024px) {

        &:hover {
            color: @color-primary;
        }
    }

    @media (max-width: 1024px) {
        border-bottom: 1px solid @color-border-7;
        width: 100%;
        padding-bottom: 7px;
    }

    span {
        border-bottom: 1px dotted;

        @media (max-width: 1024px) {
            border: none;
        }
    }

    .icon {
        margin-left: 8px;
    }
}

.custom-radio-gift,
.set-item {
    border-radius: 12px;
    border: 1px solid @color-border-7;
    transition: border 0.2s;
    cursor: pointer;

    @media (min-width: 1024px) {

        &:hover {
            border: 1px solid @color-border-hover;

            .label {
                cursor: pointer;

                .gift-title {
                    color: @color-primary;
                }

                &:after {
                    border: 1px solid @color-border-hover;
                }
            }
        }
    }

    label {
        position: relative;
        display: flex;
        padding: 8px 54px 8px 8px;
        margin: 0;
        cursor: pointer;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 27px;
            height: 27px;
            border-radius: 100%;
            border: 1px solid @color-border-7;
            transition: 0.15s all cubic-bezier(0.5, 0, 0, 1);
        }

        &:before {
            opacity: 0;
            border: 7px solid @color-primary;
            transition: 0.15s all cubic-bezier(0.5, 0, 0, 1);
        }
        
    }

    input {
        position: absolute;
        visibility: hidden;
        opacity: 0;

        &:checked + label {

            &:before {
                opacity: 1;
            }

            &:after {
                border: 0;
            }
        }
    }

    .img {
        position: relative;
        width: 64px;
        min-width: 64px;
        height: 64px;
        margin-right: 8px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid @color-border-7;
            border-radius: 8px;
        }
    }

    .price-block {
        white-space: nowrap;
    }

    .gift-price-block {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        white-space: nowrap;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;

            .price {
                margin:0 0 8px;
            }
        }
    }

    .price {
        margin-right: 8px;
    }

    .price-old-block, .labels  {
        margin-right: 4px;
        margin-bottom: 1px;
    }

    .price-old-block {
        color: @color-text-secondary;
    }

    .count {
        margin-bottom: 1px;
        color: @color-text-secondary;
    }

    .gift-title {
        color: @color-text-semi;
        transition: color 0.2s;
    }
}

.set {

    .main-element {
        display: flex;
        margin-bottom: 24px;

        .img {
            width: 127px;
            min-width: 127px;
            height: 127px;
            border-radius: 8px;
            border: 1px solid @color-border-7;
            margin-right: 16px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: 1024px) {
                width: 95px;
                min-width: 95px;
                height: 95px;
            }
        }
    }

    h2:first-child,
    .h2:first-child {
        margin-top: 0;
    }

    .count {
        margin-bottom: 1px;
        color: @color-text-secondary;
    }

    .price {
        margin-right: 8px;
    }

    .price-old-block,
    .labels {
        margin-right: 4px;
    }

    .price-old-block {
        color: @color-text-secondary;
    }

    .set-item-title {
        color: @color-text-semi;
        transition: color 0.2s;
    }

    .item-title {
        margin-bottom: 4px;
        color: @color-text-semi;
        transition: color 0.2s;

        @media (max-width: 575px) {
            margin-bottom: 8px;
        }
    }

    .price-block {
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;

            .price {
                margin: 0;
            }
        }

        .labels {
            display: flex;
            align-items: center;
        }
    }

    .total-block {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        .sum {

            @media (max-width: 1024px) {
                margin-bottom: 12px;
            }
        }

        .btn {

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .price-block {
            display: flex;
            align-items: flex-end;

            @media (max-width: 1024px) {
                align-items: flex-start;
            }
        }

        .subtitle {
            color: @color-text-secondary;
            margin-bottom: 8px;
        }
    }

    .list {
        margin-bottom: 24px;
    }

    .set-item {

        @media (min-width: 1024px) {

            &:hover {

                .set-item-title {
                    color: @color-primary;
                }
            }
        }

        label {
            
            &:after {
                border-radius: 8px;
            }
        }

        input:checked + label {

            &:after {
                background-color: @color-primary;
            }

            &:before {
                background-image: url(../icons/icon-check-white.svg);
                background-position: center;
                background-size: cover;
                width: 24px;
                height: 24px;
                border: 0;
                right: 16px;
                z-index: 1;
            }
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    .elem-chars {
        display: flex;
        flex-wrap: wrap;

        .item {
            margin-right: 16px;

            @media (max-width: 575px) {
                margin: 0 8px 8px 0;
            }

            span:first-child {
                color: @color-text-secondary;
                margin-right: 4px;
            }
        }
    }
}

@media (max-width: 1024px) {

    .item-detail {

        .img-block,
        .sidebar-block,
        .text-block {
            float: none;
            width: 100% !important;
            margin: 0;
        }
    }
}

.review {

    .name-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .subtitle {
        margin-bottom: 6px;
        color: @color-text-secondary;
    }

    .text {
        margin-bottom: 16px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .date {
        color: @color-text-secondary;
    }

    .like {

        &.voted {

            .icon {
                background-image: url('../icons/icon-thumbs-up-green.svg');
            }
        }
    }

    .dislike {

        &.voted {

            .icon {
                background-image: url('../icons/icon-thumbs-down-red.svg');
            }
        }
    }

    .votes-block {
        display: flex;
        align-items: center;

        .value {
            margin: 0 12px;
            padding: 8px 12px;
            border: 1px solid @color-gray;
            border-radius: 8px;

            &.positive,
            &.negative {
                border: none;
                color: #fff;
            }

            &.positive {
                background-color: #A4CE25;
            }

            &.negative {
                background-color: @color-error;
            }
        }
    }

    .rating {
        display: flex;

        .icon {

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
}

.rating-modal {

    .list {

        .review {
            padding-bottom: 16px;
            border-bottom: 1px solid @color-border-7;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    .review-count-label {
        margin-bottom: 16px;
    }

    .rating {
        margin-bottom: 24px;
    }

    .reviews-send-text {
        color: @color-text-semi;
        margin-bottom: 16px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .name-wrapper {
        display: flex;
        margin-bottom: 24px;

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        .custom-input {
            flex: 1;
            
            &:first-child {
                margin-right: 8px;

                @media (max-width: 1024px) {
                    margin: 0 0 24px 0;
                }
            }
        }
    }

    .textarea {

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-primary {
            margin-left: auto;
        }

        .back.mobile {
            display: none;
            margin: 0;

            @media (max-width: 1024px) {
                display: flex;
            }
        }
    }

    .back {
        display: flex;
        color: @color-text-semi;
        transition: color 0.2s;
        margin-bottom: 16px;

        &:not(.mobile){

            @media (max-width: 1024px) {
                display: none;
            }
        }

        @media (min-width: 1024px) {

            &:hover {
                color: @color-primary;
            }
        }

        .icon {
            margin-right: 8px;
        }
    }

    .back + .reviews-title {
        margin-top: 0;
    }
}

.h2.in-store-heading {
    margin-top: 0;

    @media (max-width: 575px) {
        margin-bottom: 16px;
    }
}

.in-store-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: -12px 0;
}

.in-store-item {
    display: flex;
    align-items: flex-start;
    margin: 12px 0;
    color: @color-text-primary;
}

.in-store-img {
    width: 96px;
    height: 96px;
    margin-right: 16px;
    flex-shrink: 0;

    @media (max-width: 575px) {
        width: 48px;
        height: 48px;
        margin-right: 12px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;

        @media (max-width: 575px) {
            border-radius: 4px;
        }
    }
}

.in-store-content {
    position: relative;
    width: 100%;
    margin: -3px 16px 0 0;

    @media (max-width: 575px) {
        max-width: 215px;
        margin: 0 12px 0 0;
    }
}

.in-store-title {
    font-weight: 600;
    margin-bottom: 3px;
}

.in-store-address {
    margin-bottom: 3px;
}

.in-store-time {
    color: @color-text-semi;
}

.in-store-qty {
    margin: -3px 0 0 auto;
    color: @color-blur-80;
    padding: 1px 7px;
    border-radius: 12px;
    border: 1px solid transparent;
    flex-shrink: 0;

    @media (max-width: 575px) {
        margin-top: 0;
    }

    &.green {
        background: #BCE052;
    }

    &.orange {
        background: #FFA940;
    }

    &.red {
        background: #FF7D54;
    }

    &.grey {
        background: @color-bg-gray;
        border-color: @color-border-7;
    }
}

/** SKU table **/
.sku-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 36px 0 72px;
    font-size: 16px;
    line-height: 24px;
    color: @color-text-semi;

    @media (max-width: 1024px) {
        font-size: 14px;
        line-height: 16px;
        color: @color-text-primary;
    }
}

.sku-table-row {
    position: relative;
    display: flex;
    border: 2px solid transparent;
    border-radius: 12px;
    margin-bottom: 1px;
    transition: 0.2s;

    @media (max-width: 1024px) {
        flex-direction: column;
        border-color: @color-border-7;
        padding: 6px 0 4px;
        margin-bottom: 8px;
    }

    &:hover {
        color: @color-text-primary;
        border-color: @color-border-7;
    }

    &.active {
        color: @color-text-primary;
        border-color: @color-primary;
    }

    &.sku-table-row-scroll {
      padding: 0;
      margin: 0;
      border: 0;
    }

    &:not(:last-of-type) {

        .sku-table-left {
            scrollbar-width: none;

            &::-webkit-scrollbar {
                height: 0;
            }
        }
    }

    .sku-table-cell {

        &:last-of-type {
            padding-right: 6px;

            @media (max-width: 1024px) {
                padding-right: 12px;
            }
        }
    }
}

.sku-table-head {
    background: @color-gray;
    border: 0;
    margin-bottom: 16px;

    @media (max-width: 1024px) {
        display: none;
    }

    &:hover {
        color: @color-text-primary;
    }

    .sku-table-cell {
        min-height: 48px;
        padding: 12px 16px;

        a {
            display: flex;
            align-items: center;
            color: @color-text-primary;
            white-space: nowrap;
            transition: 0.2s;

            &:hover {
                color: @color-primary;
            }

            .icon {
                margin-left: 8px;
            }
        }
    }
}

.sku-table-left {
    position: relative;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
        overflow-x: unset;
    }

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background: @color-gray;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgba(35, 40, 44, 0.15);

        &:hover {
            background: rgba(35, 40, 44, 0.3);
        }
    }
}

.sku-table-scroll {
  height: 24px;
}

.sku-table-scroll-inner {
  flex-shrink: 0;
}

.sku-table-right {
    display: flex;
    border-left: 1px solid @color-border-7;
    flex-shrink: 0;

    @media (max-width: 1024px) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .sku-table-cell {

        @media (max-width: 1024px) {
            width: auto;
        }
    }
}

.sku-table-cell {
    display: flex;
    align-items: center;
    max-width: 328px;
    min-height: 60px;
    padding: 6px 16px;
    flex-shrink: 0;

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        max-width: unset;
        min-height: unset;
        width: 33.33%;
        padding: 6px 12px;
    }

    @media (max-width: 575px) {
        width: 50%;
    }
}

.sku-table-name {

    @media (max-width: 1024px) {
        max-width: 100%;
        width: 100%;
    }
}

.sku-table-title {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        margin-bottom: 4px;
        color: @color-text-secondary;
    }
}

.sku-table-stock {
  white-space: nowrap;
}

.sku-table-price {
    justify-content: flex-end;
    font-weight: 700;
    color: @color-text-primary;
    white-space: nowrap;

    @media (max-width: 1024px) {
        justify-content: center;
    }
}

.sku-table-stock {

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 8px;
        border-radius: 10px;
        background: @color-gray;
        font-size: 12px;
        line-height: 16px;
        color: @color-text-semi;
        white-space: nowrap;
    }
}

.sku-table-btn {

    @media (max-width: 1024px) {
        display: none;
    }
}