#bx-soa-order {
    @media (max-width: 992px) {
        flex-direction: column;
    }

    .bx-soa,
    .bx-soa-sidebar {
        @media (max-width: 992px) {
            width: 100%;
            max-width: none;
            flex: 1;
            padding: 0;
        }
    }

    .bx-soa-sidebar {
        @media (max-width: 992px) {
            order: -1;
            margin-bottom: 24px;
        }
    }

}

#bx-soa-order-form {
    padding: 32px 0;

    * {
        // font-family: @font-family;
        font-family: "Inter", sans-serif;
        // letter-spacing: 0.04em;
    }

    .bx-soa {
        display: flex;
        flex-direction: column;
    }

    #bx-soa-basket {
        order: -1;
    }
}

#bx-soa-basket {
    .bx-soa-section-title-count {
        &:after {
            content: '1';
        }
    }
}

#bx-soa-region {
    .bx-soa-section-title-count {
        &:after {
            content: '2';
        }
    }
}

#bx-soa-delivery {
    .bx-soa-section-title-count {
        &:after {
            content: '3';
        }
    }
}

#bx-soa-pickup {
    .bx-soa-section-title-count {
        &:after {
            content: '4';
        }
    }
}

#bx-soa-paysystem {
    .bx-soa-section-title-count {
        &:after {
            content: '4';
        }
    }
}

#bx-soa-pickup.bx-active~#bx-soa-paysystem {
    .bx-soa-section-title-count {
        &:after {
            content: '5';
        }
    }
}

#bx-soa-properties {
    .bx-soa-section-title-count {
        &:after {
            content: '5';
        }
    }
}

#bx-soa-pickup.bx-active~#bx-soa-properties {
    .bx-soa-section-title-count {
        &:after {
            content: '6';
        }
    }
}



#bx-soa-basket {
    .btn-outline-secondary {
        display: none;
    }

    &.bx-step-completed {
        .bx-soa-section-content {
            padding: 0 15px;

            @media (max-width: 992px) {
                padding: 0 12px;
            }
        }
    }

    // .bx-soa-item-td {
    //     padding: 0;
    // }
    .bx-soa-item-info-container {
        height: auto;

        .bx-soa-item-td {
            padding: 8px 0;
            border: 0;
            position: static;

            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
            }
        }

        .bx-soa-item-info-block {

            .bx-soa-info-text,
            .bx-soa-info-title {
                .font-body-small;
            }

            margin-bottom: 0;
            height: 0 !important;

            &.bx-active {
                height: auto !important;
            }
        }

        .bx-soa-info-shower {
            color: @color-primary;
        }
    }
}

.bx-soa .bx-soa-customer-label,
.bx-soa .form-group label {
    padding-bottom: 0;
}

.bx-soa-section-title {
    .font-title;
    font-weight: bold;
    padding: 0;
    display: flex;
    align-items: center;
}

.bx-soa-section-title-container {
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid @color-border-7;
}

.bx-ui-sls-input-block.form-control {
    height: 48px;
}

.form-group {
    margin-bottom: 24px;
}


.bx-selected {
    .bx-soa-coupon-label {
        padding-top: 0;
    }
}

.bx-soa-more {
    // margin-top: 24px;
    margin-top: 16px;
    padding-top: 15px;
    border-top: 1px solid @color-border-7;

    .bx-soa-more-btn {
        display: flex;
        justify-content: flex-end;
    }

    .btn {
        .btn.btn-medium;

        &.btn-primary {
            margin-left: auto;

            &:after {
                content: '';
                width: 12px;
                height: 24px;
                background-image: url('../icons/icon-arrow-right-text-button-white.svg');
                margin-left: 8px;
            }
        }

        &.btn-outline-secondary {
            border: 1px solid transparent;
            transition: all 0.2s;

            &:before {
                content: '';
                width: 12px;
                height: 24px;
                background-image: url('../icons/icon-arrow-right-text-button.svg');
                transform: rotate(180deg);
                margin-right: 8px;
            }

            &:hover {
                background: transparent;
                border: 1px solid @color-border-7;
                color: @color-text-secondary;
            }
        }

    }
}

.alert {
    margin-bottom: 24px;
    border-radius: 12px;
}

#bx-soa-main-notifications {
    .alert-warning {
        background: @color-gray;
        border: 1px solid @color-border-7;
        border-radius: 12px;
        color: @color-text-semi;

        .icon-warning {
            display: none;
        }

        >div {
            padding: 0 !important;
        }
    }
}

.bx-soa-reference {
    .font-body-2;
    color: @color-text-secondary;
    padding: 0;
    margin-bottom: 8px;

}

.bx-sls,
.bx-slst {

    .bx-ui-sls-fake,
    .bx-ui-sls-route {
        .font-body-2;
        height: 48px;
    }

    .dropdown-fade2white {
        background: transparent;
    }

    .bx-ui-sls-clear {
        top: 50%;
        transform: translateY(-50%);
    }

    .bx-ui-sls-container {
        .font-body-2;
    }

    .form-control.dropdown-block {
        border: 1px solid @color-border-7;
        border-bottom: 1px solid @color-border-14;
        background-color: @color-gray;
        border-radius: 8px 8px 0 0;
        padding: 0 34px 0 40px;
        transition: border 0.2s;

        @media (min-width: 1024px) {

            &:hover,
            &:active,
            &:focus {
                border-bottom: 1px solid @color-primary
            }
        }

        input {
            padding: 12px;
        }
    }

    .dropdown-icon {
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        background-image: url('../icons/icon-search-2-line.svg');
        width: 20px;
        height: 24px;
    }
}

#zipProperty {
    height: auto;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    border: 1px solid @color-border-7;
    border-bottom: 1px solid @color-border-14;
    background-color: @color-gray;
    max-width: 282px;
    outline: none;
    box-shadow: none;
    color: @color-text-semi;
    transition: border 0.2s;

    @media (min-width: 1024px) {

        &:hover,
        &:active,
        &:focus {
            border-bottom: 1px solid @color-primary
        }
    }
    @media (max-width: 540px) {
        max-width: 100%;
        width: 100%;
    }
}

#bx-soa-delivery,
#bx-soa-region {
    .bx-soa-section-content {
        padding: 24px 12px 15px;

        @media (max-width: 992px) {
            padding: 16px 12px 15px;
        }
    }

    &.bx-step-completed {
        .bx-soa-section-content {
            padding: 24px;

            @media (max-width: 992px) {
                padding: 16px;
            }
        }
    }
}

#bx-soa-delivery {
    .bx-soa-pp.row {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .bx-soa-pp-item-container,
    .bx-soa-pp-desc-container {
        padding: 0;
        width: 100%;
        flex: 1;
        max-width: 100%;
    }

    .bx-soa-pp-item-container {
        >.row {
            margin: 0 -8px;
        }
    }

    .bx-soa-pp-company {
        padding: 0 8px;
        margin-bottom: 16px;

        @media (max-width: 575px) {
            flex: 0 0 100%;
            max-width: none;
            width: 100%;
        }

        &:not(.bx-selected) {
            .bx-soa-pp-company-graf-container {
                cursor: pointer;
            }
        }

        &:not(.bx-selected) {
            .bx-soa-pp-company-graf-container {
                @media (min-width: 1024px) {
                    &:hover {
                        &:before {
                            border: 1px solid @color-border-hover;
                        }
                    }
                }
            }
        }

        &.bx-selected {
            .bx-soa-pp-company-graf-container {
                border-color: @color-primary;
                box-shadow: inset 0 0 0 1px @color-primary;

                &:after {
                    content: '';
                    position: absolute;
                    left: 15px;
                    top: 16px;
                    width: 28px;
                    height: 28px;
                    border-radius: 100%;
                    border: 8px solid @color-primary;
                }
            }
        }

        .bx-soa-pp-company-graf-container {
            position: relative;
            height: 60px;
            padding: 0;
            border-radius: 10px;
            border: 1px solid @color-border-7;

            &:before {
                position: absolute;
                content: '';
                width: 28px;
                left: 15px;
                top: 16px;
                height: 28px;
                border-radius: 100%;
                border: 1px solid @color-border-7;
                transition: border 0.2s
            }
        }
    }

    .bx-soa-pp-company-smalltitle {
        .font-body-2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 62px;
        margin: 0;
        padding: 0;
        max-width: 60%;
        width: 60%;
        text-align: left;
        cursor: pointer;
        color: @color-text-primary;
        pointer-events: none
    }

    .bx-soa-pp-company-desc {
        .font-body-small;
        margin-bottom: 16px;
    }

    .bx-soa-pp-list {
        .font-body-small;

        .bx-soa-pp-list-termin {
            color: @color-text-secondary;
        }

        li {
            padding: 0;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    .bx-pagination {
        margin: 16px 0 24px;
    }

    .bx-pagination-container {
        display: flex;
        align-items: flex-start;

        ul {
            display: flex;
        }

        li {
            .font-large-button;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;

            a,
            span {
                padding: 12px 20px;
            }

            a {
                span {
                    padding: 0;
                }
            }

            span,
            a {
                .font-large-button;
                height: auto;
                display: inline;
                margin: 0;
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        li:not(:last-child) {
            margin-right: 4px;
        }

        li:not(.bx-pag-prev):not(.bx-pag-next) {


            border: 0;
            width: 48px;
            height: 48px;
            background: @color-gray;

            a {
                padding: 12px 20px;
            }

            &.bx-active {
                background: @color-primary;
            }

            span {
                display: inline;
            }
        }

        .bx-pag-prev,
        .bx-pag-next {
            a {
                padding: 11px 16px;
            }

            border: 1px solid @color-border-7;
        }

    }

    .bx-soa-pp-delivery-cost {
        .font-body-2;
        color: @color-text-semi;
        right: 20px;
        top: 50%;
        padding: 0;
        background: transparent;
        bottom: inherit;
        transform: translateY(-50%);
    }

    .bx-soa-pp-company-image {
        display: none;
    }

    input[type=checkbox].bx-soa-pp-company-checkbox {
        display: none;
    }

    .bx-soa-pp-desc-container {
        .bx-soa-pp-company {
            padding: 0;
            background: #fff;
            border: 0;
        }

        .bx-soa-pp-company-subTitle {
            .font-body-2;
            margin-bottom: 4px;
            color: @color-text-primary;
            font-weight: normal;
        }

        .bx-soa-pp-company-desc {
            padding: 0;
        }

        .bx-soa-pp-company-logo {
            display: none;
        }

        .bx-soa-pp-company-block {
            .font-body-2;
            color: @color-text-secondary;
        }
    }
}

#bx-soa-paysystem {
    .bx-soa-section-content.container-fluid {
        padding: 15px;
    }

    .bx-soa-pp-desc-container {
        display: none;
    }

    .bx-soa-pp-item-container {
        width: 100%;
        max-width: 100%;
        flex: 1;
        margin-bottom: -16px;

        .row {
            margin: 0 -8px;
        }

        .col-6 {
            padding: 0 8px;

            @media (max-width: 575px) {
                flex: 0 0 100%;
                max-width: none;
                width: 100%;
            }
        }
    }

    .bx-soa-pp-company {
        margin-bottom: 16px;

        .bx-soa-pp-company-smalltitle {
            .font-body-2;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 62px;
            margin: 0;
            padding: 0;
            max-width: 60%;
            width: 40%;
            text-align: left;
            cursor: pointer;
            color: @color-text-primary
        }

        &:not(.bx-selected) {
            .bx-soa-pp-company-graf-container {
                cursor: pointer;
            }
        }

        .bx-soa-pp-company-image {
            width: 40%;
            right: 16px;
            left: auto;

        }

        &:not(.bx-selected) {
            .bx-soa-pp-company-graf-container {
                @media (min-width: 1024px) {
                    &:hover {
                        &:before {
                            border: 1px solid @color-border-hover;
                        }
                    }
                }
            }
        }

        &.bx-selected {
            .bx-soa-pp-company-graf-container {
                border-color: @color-primary;
                box-shadow: inset 0 0 0 1px @color-primary;

                &:after {
                    content: '';
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 28px;
                    height: 28px;
                    border-radius: 100%;
                    border: 8px solid @color-primary;
                }
            }
        }

        input {
            display: none;
        }

        .bx-soa-pp-company-graf-container {
            position: relative;
            height: 96px;
            padding: 0;
            border-radius: 10px;
            border: 1px solid @color-border-7;

            &:before {
                position: absolute;
                content: '';
                width: 28px;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                height: 28px;
                border-radius: 100%;
                border: 1px solid @color-border-7;
                transition: border 0.2s;
            }
        }
    }
}

.bx-soa-coupon {
    padding-top: 16px;
    margin-top: 16px;
}

.bx-soa-coupon-label {
    padding: 0;
    margin-bottom: 8px;

    label {
        .font-body-small;
        font-weight: normal;
        margin: 0;
        padding: 0;

    }
}

#bx-soa-total {}

.bx-soa-coupon-item {
    margin-left: 16px;

    strong {
        .font-body-small;
        display: inline-flex;
        align-items: center;
        margin: 0;
        font-weight: normal;

        &.bx-soa-coupon-item-danger {
            color: @color-error;

            .bx-soa-tooltip-coupon {
                .tooltip-inner {
                    color: @color-error;
                }
            }
        }

        &.bx-soa-coupon-item-success {
            color: @color-green;

            .bx-soa-tooltip-coupon {
                .tooltip-inner {
                    color: @color-green;
                }
            }
        }

        .bx-soa-tooltip-coupon {
            .font-body-small;
            display: inline-block;
            opacity: 1;
            position: static;
            order: -1;
            padding: 0;

            .tooltip-inner {
                padding: 0;
                background: transparent;
                margin: 0 0.3em 0 0;
                display: inline;
                border: 0;
            }
        }

        .bx-soa-coupon-remove {
            margin-left: 8px;
            width: 24px;
            height: 24px;
            background: url('../icons/icon-trash.svg');
            background-size: cover;
        }
    }
}

.bx-soa-coupon-input {
    top: 0;

    input[type=text].form-control {
        border: 1px solid @color-border-7;
        background-color: @color-gray;
        border-radius: 8px 8px 0 0;
        border-bottom: 1px solid @color-border-14;
        padding: 12px;
        height: auto;
        transition: border 0.2s;

        @media (min-width: 1024px) {

            &:hover,
            &:active,
            &:focus {
                border: 1px solid @color-border-7;
                border-bottom: 1px solid @color-primary
            }
        }

    }
}

.bx-soa-section-content {
    .font-body-2;
}

#bx-soa-region {

    .bx-soa-custom-label {
        .font-body-2;
        display: flex;
        align-items: center;
        color: @color-text-secondary;
        margin-bottom: 12px;
        font-weight: normal;

        .bx-authform-starrequired {
            order: 1;
            color: @color-text-secondary;
        }
    }

    .form-check-group:not(:last-child) {
        margin-bottom: 24px;
    }

    .tooltip-inner {
        position: absolute;
        right: 0;
        top: 0;
        @media (max-width: 540px) {
            position: relative;
            margin-bottom: 12px;
        }
    }

    .bx-soa-location-input-container {
        .form-control[name="PROFILE_ID"] {
            .font-large-button;
            padding: 12px 28px 12px 12px;
            border: 1px solid @color-border-7;
            border-radius: 8px;
            max-width: 348px;
            height: auto;
            outline: none;
            box-shadow: none;

            &:active,
            &:focus {
                box-shadow: none;
            }
        }
    }

    .form-check {
        padding: 0;
        margin-bottom: 8px;

        input {
            display: none;
        }

        input:not(:checked)+label {
            @media (min-width: 1024px) {
                &:hover {
                    &:before {
                        border: 1px solid @color-border-hover;
                    }
                }
            }

        }

        input:checked+label {
            cursor: auto;

            &:before {
                display: none;
            }

            &:after {
                display: block;
            }
        }

        label {
            .font-body-2;
            color: @color-text-primary;
            position: relative;
            padding: 2px 0 2px 36px;
            cursor: pointer;

            @media (max-width: 1366px) {
                padding: 5px 0 5px 36px;
            }

            @media (max-width: 575px) {
                padding: 7px 0 7px 36px;
            }

            &:after,
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 28px;
                height: 28px;
                border-radius: 100%;
                border: 8px solid @color-primary;
                transition: border 0.2s;
            }

            &:after {
                display: none;
            }

            &:before {

                border: 1px solid @color-border-7;
            }
        }
    }
}

#bx-soa-pickup {
    .bx-soa-section-content {
        .font-body-small;
        padding: 15px;
    }

    .bx-soa-pickup-preview-img {
        float: left;
        margin: 0 12px 15px 0;
        padding: 0;
        width: 208px;
        height: 156px;

        @media (max-width: 992px) {
            float: none;
            width: 100%;
            height: auto;
        }
    }

    strong {
        .font-body-small;
        color: @color-text-semi;
        font-weight: normal;

        &:nth-child(2) {
            .font-body-2;
            margin-bottom: 8px;
            color: @color-text-primary;
        }
    }

    .bx-soa-pickup-list-item {
        padding: 15px;
        border: 1px solid @color-border-7;
        border-radius: 12px;
        background: #fff;
        min-height: 224px;
    }

    .bx-soa-pickup-l-item-adress {
        .font-body-2;
        display: flex;
        padding: 0;
        margin-bottom: 12px;
        align-items: center;

        &:before {
            position: static;
            width: 10px;
            height: 16px;
            background: url('../icons/icon-bx-location.svg');
            background-size: cover;
            margin: 0 8px 0 0;
        }
    }

    .bx-soa-pickup-l-item-detail {
        padding: 0;
        margin-bottom: 12px;

        .bx-soa-pickup-l-item-img {
            position: static;
            float: left;
            margin: 0 12px 15px 0;
            padding: 0;
            width: 208px;
            height: 156px;
            border-radius: 8px;
            border: 0;
            max-width: none;
            max-height: none;

            @media (max-width: 992px) {}
        }

        .bx-soa-pickup-l-item-name {
            .font-body-2;
            margin-bottom: 8px;
            color: @color-text-primary;
        }

        .bx-soa-pickup-l-item-desc {
            .font-body-small;
        }

    }

    .bx-soa-pickup-l-item-btn {
        padding: 0;
        margin: 0;

        .btn {
            .btn.btn-medium;
        }
    }
}

#bx-soa-orderSave {
    display: flex;
    justify-content: flex-end;

    .btn {
        .btn.btn-large;
        .font-large-button;
        display: inline-flex !important;
        margin-left: auto;

        @media (max-width: 992px) {
            display: none !important;
        }

        &:after {
            content: '';
            width: 12px;
            height: 24px;
            background-image: url('../icons/icon-arrow-right-text-button-white.svg');
            background-size: cover;
            margin-left: 8px;
        }
    }
}

#bx-soa-properties {
    .bx-soa-section-content {
        padding: 15px;
    }

    &.bx-step-completed {
        .bx-soa-section-content {
            padding: 24px;
        }
    }

    .bx-soa-customer {
        display: flex;
        flex-wrap: wrap;
    }

    .bx-soa-custom-label,
    .bx-soa-customer-label {
        .font-body-small;
        display: flex;
        color: @color-text-semi;
        margin-bottom: 4px;

        .bx-authform-starrequired {
            order: 2;
            color: @color-text-semi;
        }
    }

    .bx-soa-customer-field {
        width: 100%;
        margin-bottom: 16px;

        &:nth-child(3),
        &:nth-child(4) {
            width: ~"calc(50% - 8px)";

            @media (max-width: 575px) {
                width: 100%;
            }
        }

        &:nth-child(3) {
            margin-right: 16px;

            @media (max-width: 575px) {
                margin-right: 0;
            }
        }
    }

    .tooltip-inner {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-110%);
        border: 1px solid @color-error;
        background: @color-gray;
        color: @color-error;
    }

    .bx-soa-customer-input,
    .bx-soa-customer-textarea {
        height: auto;
        padding: 12px;
        border-radius: 8px 8px 0 0;
        border: 1px solid @color-border-7;
        border-bottom: 1px solid @color-border-14;
        background-color: @color-gray;
        outline: none;
        box-shadow: none;
        color: @color-text-semi;
        transition: border 0.2s;

        @media (min-width: 1024px) {

            &:hover,
            &:active,
            &:focus {
                border-bottom: 1px solid @color-primary
            }
        }
    }
}

.bx-soa-editstep {
    .font-large-button;
    border: none;
    color: @color-text-semi;
    margin-right: 16px;

    &:hover {
        color: @color-primary;
    }
}

.bx-soa-section {
    border-radius: 12px;
    border: 1px solid @color-border-7;
    overflow: hidden;
    margin-bottom: 24px;

    &.bx-selected {
        border: 1px solid @color-border-7;

        .bx-soa-section-title-container {
            padding: 0;
        }

        .bx-soa-section-title {
            .font-title;
        }
    }

    .alert {
        padding: 16px;
        // background: @color-gray;
        border: 0;
        border-radius: 10px;
        margin-bottom: 16px;

        strong {
            .font-body-2;
            // color: @color-text-primary;
            margin-bottom: 4px;
        }

        small {
            .font-body-2;
            // color: @color-text-semi;
        }

    }

    .alert-danger {
        color: @color-text-semi;
    }

    &.bx-step-warning {
        .bx-soa-section-title-count {
            border: 1px solid @color-border-7;
            background-color: @color-label-action;

            &:before {
                display: none;
            }
        }
    }

    &.bx-step-completed {
        border: 1px solid @color-border-7;

        .bx-soa-section-title-container {
            background: @color-gray;
            border-bottom: 0;

        }

        .bx-soa-item-img-block {
            @media (max-width: 600px) {
                float: none;
                width: 172px;
                height: 172px;
                margin: 0 0 16px;
                max-width: none;
            }
        }

        .bx-soa-section-content {
            padding: 24px;
        }

        .bx-soa-section-title {
            font-weight: normal;
        }

        .bx-soa-section-title-count {
            border: 1px solid @color-border-7;
            background-color: @color-primary;

            &:after {
                color: #fff;
            }

            &:before {
                display: none;
            }
        }
    }

    .bx-soa-section-title-count {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        margin: 0 16px 0 0;
        border-radius: 0;
        width: 59px;
        height: 57px;
        border-right: 1px solid @color-border-7;

        &:after {
            .font-title;
            position: static;
            color: @color-text-primary;
        }
    }
}

.bx-soa-item-td {
    padding: 0;
    border: 0;

    @media (min-width: 769px) {
        padding: 0;
    }

    &:first-child {
        width: 70%;
    }
}

#bx-soa-total-mobile {
    // display: none !important;
    order: 9;
}

.bx-soa-item-properties {
    &.bx-text-right {
        @media (max-width: 575px) {
            .bx-soa-item-td-text {
                text-align: left;
            }
        }

        .bx-soa-item-td-title {
            @media (max-width: 992px) {
                display: none !important;
            }

            @media (max-width: 575px) {
                .font-body-small;
                color: @color-text-semi;
                display: inline-flex !important;
                padding: 2px 0;
            }
        }
    }

    .bx-soa-item-td-text {

        .bx-discount {
            .font-tiny-text;

            display: inline-block;
            padding: 2px 6px;
            background-color: @color-label-action;
            border-radius: 4px;
            color: @color-blur-60;

            &:before {
                content: '-'
            }
        }

        .bx-price.all {
            .font-body-2;
            font-weight: bold;
        }

        .bx-price-old {
            .font-body-small;
            font-weight: normal;
            color: @color-text-secondary;
        }
    }
}


.bx-scu-container {
    display: flex;
    align-items: center;
    height: auto;

    &:after {
        content: none;
    }

    .bx-soa-item-td-title {
        .font-body-small;
        color: @color-text-semi;
        padding: 2px 5px;

        @media (max-width: 575px) {
            padding: 2px 0;
        }
    }

    .bx-soa-item-td-text {
        .font-body-small;

        color: @color-text-primary;
        padding: 2px 5px;
    }
}

.bx-soa-cart-total {
    border: 1px solid @color-border-7;
    border-radius: 12px;
    padding: 15px;

    &.bx-soa-cart-total-fixed {
        @media (max-width: 992px) {
            position: static;
            top: 0;
        }
    }

    .bx-soa-cart-total-line {
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-content: flex-start;

        &:not(:first-child) {
            margin-bottom: 8px;

        }

        &:not(:first-child):not(.bx-soa-cart-total-line-total) {
            .bx-soa-cart-t {
                .font-body-2;
                color: @color-text-secondary;
            }
        }

        .bx-soa-price-free {
            color: @color-text-primary;
        }

        &:not(.bx-soa-cart-total-line-total) {
            .bx-soa-cart-d {
                .font-body-2;
                font-weight: bold;
            }
        }

        &.bx-soa-cart-total-line-total {
            padding-top: 15px;
            margin-bottom: 12px;

            .bx-soa-cart-t {
                .font-title;
                font-weight: normal;
            }

            .bx-soa-cart-d {
                .font-price-large;
                font-weight: bold;
            }
        }

        &.bx-soa-cart-total-line-highlighted {
            background: transparent;
            margin-bottom: 0;

            .bx-soa-cart-d {
                background-color: @color-label-action;
                padding: 2px 6px;
                border-radius: 4px;
            }
        }

        &:first-child {
            .bx-soa-cart-d {
                .font-title;
                color: @color-text-primary;

                .bx-price-old {
                    .font-body-small;
                    color: @color-text-secondary;
                }
            }

            .bx-soa-cart-t {
                .font-title;
                color: @color-text-primary;
                font-weight: normal;
            }
        }

        &:nth-child(2) {
            margin-top: 8px;
            padding-top: 18px;
            border-top: 1px solid @color-border-7;
        }
    }
}

.bx-soa-price-not-calc {
    color: @color-primary;
    text-decoration: none;
    border: none;
    transition: color 0.2s;

    @media (min-width: 1024px) {
        &:hover {
            color: @color-primary-hover;
        }
    }
}


.bx-soa-cart-total-button-container {
    padding: 0;

    .btn {
        position: relative;
        display: flex;
        align-items: center;

        &:after {
            content: '';
            position: static;
            display: block;
            background-image: url('../icons/icon-arrow-right-text-button-white.svg');
            width: 12px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            margin-left: 8px;
        }

        .btn.btn-large;
        .font-large-button;

    }
}

.bx-soa-section-content.container-fluid {
    padding: 0 15px;
}

.bx-soa-item-table {
    margin: 0;

    .bx-soa-item-tr {
        @media (max-width: 992px) {
            display: flex;
            padding: 12px 0;

        }

        @media (max-width: 575px) {
            flex-direction: column;
        }

        >.bx-soa-item-td {
            padding: 16px 0 15px;

            @media (max-width: 575px) {
                display: flex;
                width: 100% !important;
                padding: 0;
                border: 0;
            }
        }

        &:not(:last-child)>.bx-soa-item-td {
            border-bottom: 1px solid @color-border-7;

            @media (max-width: 575px) {
                border: 0;
            }
        }
    }

    .bx-soa-cart-t {
        .font-body-2;
        color: @color-text-secondary;
    }

    .bx-soa-item-title {
        .font-title;
        margin-bottom: 8px;
        padding: 0;

        @media (max-width: 575px) {
            font-size: 18px;
            line-height: 22px;
        }

        a {
            color: @color-text-primary;
            transition: 0.2s;

            @media (min-width: 1024px) {
                &:hover {
                    color: @color-primary;
                }
            }
        }
    }

    .bx-soa-item-img-block {
        width: 64px;
        height: 64px;
        margin-right: 12px;
        padding: 0;

        @media (max-width: 600px) {
            float: none;
            width: 172px;
            height: 172px;
            margin: 0 0 16px;
        }

        .bx-soa-item-imgcontainer {
            border-radius: 8px;
            border: 1px solid @color-border-7;
        }
    }
}