
.page-404 {
    padding: 56px 0 200px;
    background: @color-text-primary;
    color: #fff;
    margin-bottom: -80px;
    @media (max-width: 992px) {
        padding: 16px 0 64px;
    }
    .container {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
    .img {
        margin-right: 30px;
        width: 466px;
        height: 388.66px;
        flex-shrink: 0;
        background-color: @color-text-primary;
        background-size: 101%;
        background-position: center;
        @media (max-width: 992px) {
            margin: 0 0 16px 0;
            width: 232px;
            height: 193px;
        }
    }
    .d2 {
        margin-bottom: 32px;
        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
    }
    .text {
        margin-bottom: 48px;
        color: @color-blur-text-secondary;
        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
        
    }
    .buttons {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        .btn-primary {
            margin-right: 24px;
            @media (max-width: 992px) {
                width: 100%;
                margin: 0 0 24px 0
            }
        }
        .link {
            color: #fff;
            display: flex;
            justify-content: space-between;
            @media (max-width: 992px) {
                width: 100%;
                padding-bottom: 7px;
                border-bottom: 1px solid @color-blur-cutter;
            }
            .icon {
                display: none;
                @media (max-width: 992px) {
                    display: block;
                }
            }
        }
    }
}