

.profile-detail {
    >.container {
        padding: 0;
        >.row {
            >.col-md-3 {
                margin-left: auto;
            }

            >.col-md-9 {
                // @media (max-width: 575px) {
                //     padding: 0;
                // }
                >.row {
                    // @media (max-width: 860px) {
                    //     margin: 0 -4px;
                    // }
                }

                >.row:first-child {
                    margin-bottom: 24px !important;
                    .col {
                        > a {
                            .font-large-button;
                            color: @color-primary;
                            transition: color 0.2s;
                            @media (min-width: 1024px) {
                                &:hover {
                                    color: @color-primary-hover;
                                }
                            }
                        }
                    }
                }
                >.row.mb-5 {
                    margin-bottom: 24px !important;
                }

                >.row:nth-child(2) {
                    margin-bottom: 24px !important;
                    @media (max-width: 575px) {
                        margin: 0;
                    }
                    h2 {
                        .h4;
                        margin: 0 !important;
                    }
                }

                @media (min-width: 768px) {
                    flex: 0 0 66.666667%;
                    max-width: 66.666667%;
                }

                @media (max-width: 767px) {
                    margin-bottom: 24px;
                }
            }
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        .item {
            padding: 8px 12px;
            border-radius: 8px;
            color: @color-text-semi;
            transition: background 0.2s;
            @media (min-width: 1024px) {
                &:hover {
                    background: @color-gray;
                }
            }
            &.active {
                background: @color-gray;
            }
            &.exit {
                color: @color-primary;
            }
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    .col-lg-3.col-md-4.col-6 {
        margin-bottom: 24px;
        @media (max-width: 1240px) {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
        @media (max-width: 860px) {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 4px;
            margin-bottom: 8px;
        }
    }
    
    
    .sale-personal-section-index-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin: 0;
        background: @color-gray;
        border: 1px solid @color-border-7;
        border-radius: 12px;        
        opacity: 1;
        height: 100%;
        transition: border 0.2s;

        @media (min-width: 1024px) {
            &:hover {
                border: 1px solid @color-border-hover;
                .sale-personal-section-index-block-name {
                    color: @color-text-primary;
                }
            }
        }

       

        .sale-personal-section-index-block-link {
            padding: ~"calc(48.22% - 50px)" 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .sale-personal-section-index-block-name {
            .font-title;
            font-weight: normal;
            color: @color-text-semi;
            text-transform: initial;
            transition: color 0.2s;
            margin-bottom: 0;
        }
        .sale-personal-section-index-block-ico {
            display: flex;
            justify-content: center;
        }
        .fa {
            width: 64px;
            height: 64px;
            display: block;
            background-position: center;
            margin-bottom: 16px;
            &.fa-calculator {
                .icon-lk-bag;
            }
            &.fa-credit-card {
                .icon-lk-money;
            }
            &.fa-user-secret {
                .icon-lk-person;
            }
            &.fa-list-alt {
                .icon-lk-history;
            }
            &.fa-list-ol {
                .icon-lk-profiles;
            }
            &.fa-shopping-cart {
                .icon-lk-cart;
            }
            &.fa-envelope {
                .icon-lk-subs;
            }
            &.fa-info-circle {
                .icon-lk-contacts;
            }
        }
    }
    .sale-order-title {
        .h4;
        padding: 0;
        margin: 0 0 24px;
    }
    .sale-order-list-accomplished-title-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 16px;
        border-radius: 8px 8px 0 0;
        border: 1px solid @color-border-7;
        border-bottom: 0;
        h3 {
            .font-title;
            font-weight: normal;
            padding: 0 !important;
            margin: 0 0 8px!important;
        }
        .col-sm-auto {
            padding: 0 !important; 
        }
        .sale-order-list-accomplished-date {
            .font-body-2;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }
    }
    .sale-order-list-accomplished-title-container + .row {
        margin: 0;
        .sale-order-list-inner-container {
            padding: 0 !important;
            .sale-order-list-inner-row {
                margin: 0;
            }
        }
    }
    .sale-order-detail-payment-options-shipment-composition-map {
        margin-top: 16px;
        table {
            .sale-order-detail-order-item-img-container {
                width: 64px;
                height: 64px;
                border: 1px solid @color-border-7;
                border-radius: 8px;
                padding: 0;
            }

            .sale-order-detail-order-item-title {
                .font-body-2;
                color: @color-text-primary;
                padding-bottom: 8px;
            }

            .sale-order-detail-order-item-properties-type {
                .font-body-small;
                color: @color-text-semi;
            }

            td {
                padding: 16px 0;
                border: 0;
                border-bottom: 1px solid @color-border-7;

                &:not(:last-child) {
                    padding-right: 16px;
                }

                &:not(:nth-child(2)) {
                    .font-body-2;
                    text-align: right;
                }
                &:first-child {
                    padding-right: 12px;
                }
            }
        }
    }
    .sale-order-detail-more-info-details {
        margin-top: 16px !important;  
        @media (max-width: 575px) {

        }
    }
    .sale-order-detail-more-info-details-title {
        display: none;
    }
    .sale-order-detail {
        .sale-order-detail-card {
            border: 1px solid @color-border-7;
            border-radius: 12px;
            padding: 0;
            >.row {
                margin: 0 0 32px 0 !important;
                @media (max-width: 575px) {
                    margin: 0 0 16px 0 !important;
                }
            }
            div.payment-options-methods-row {
                margin: 0;
                padding: 0;
                
            }
            div.payment-options-methods-row:before,
            div.payment-options-methods-row:last-child:after,
            .sale-order-detail-payment-options-methods-container:before {
                display: none;
            }
            .sale-order-detail-total-payment {
                margin-bottom: 0 !important;
                padding: 0 0 16px;
                .sale-order-detail-total-payment-list-right-item {
                    .font-body-2;
                    font-weight: bold;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }

                }
                .sale-order-detail-total-payment-list-left-item{
                    .font-body-2;
                    color: @color-text-secondary;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
                .col {
                    margin-bottom: 0;
                }
            }
            >.row:nth-child(2) {
                .btn-primary {
                    .btn.btn-medium;
                    background: transparent;
                    color: @color-text-semi;
                    border: 1px solid @color-border-7;
                    border-radius: 8px;
                    margin: 0 0 8px !important;
                    transition: border 0.2s;
                    &:before {
                        content: '';
                        width: 20px;
                        height: 24px;
                        background-position: center;
                        background-image: url('../icons/icon-arrow-refresh.svg');
                        margin-right: 8px;
                    }
                    &:active, &:focus {
                        background: transparent !important;
                        border: 1px solid @color-border-7 !important;
                    }
                    @media (min-width: 1024px) {
                        &:hover {
                            border: 1px solid @color-border-14;
                        }
                    }
                    @media (max-width: 575px) {
                        margin-bottom: 24px !important;
                    }
                }
                .btn-link {
                    margin: 0 !important;
                    @media (max-width: 575px) {
                        justify-content: center;
                        border: 0;
                    }
                }
                .col-sm, .col-sm-auto {
                    padding: 0 8px;
                    margin: 0 !important;
                    @media (max-width: 575px) {
                        padding: 0 15px;
                        margin-bottom: 12px !important;
                    }
                    >.pt-3 {
                        padding: 0 !important;
                        margin-top: 16px;
                        @media (max-width: 1023px) {
                            margin-bottom: 16px;
                        }
                        @media (max-width: 575px) {
                            margin-top: 4px;
                        }
                        .sale-order-detail-more-info-more, .sale-order-detail-more-info-less {
                            .font-large-button;
                            color: @color-primary;
                            border-bottom: 1px dotted fade(@color-text-primary, 70);
                            transition: color 0.2s;
                            @media (min-width: 1024px) {
                                &:hover {
                                    color: @color-primary-hover;
                                }
                            }
                        }
                    } 
                }
                .col-sm:first-child{
                    padding: 0 8px 0 15px;
                }
                .col-sm-auto:last-child {
                    padding: 0 15px 0 8px;
                }
                .col-sm-auto.mb-3.text-center {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media (max-width: 575px) {
                        padding: 0 15px;
                    }
                }
            }
            >.row:nth-child(3) {
                .col {
                    padding: 0 15px;
                }
                .sale-order-detail-payment-options-methods-info {
                    @media (max-width: 575px) {
                        padding: 0 !important;
                    }
                }
                .sale-order-detail-payment-options-methods {
                    border: 0;
                    padding: 0;
                }
                .sale-order-payment-change-pp {
                    padding: 0;
                    .sale-order-payment-change-payment-title {
                        .font-body-2;
                    }
                }
            }
            >.row:nth-child(4) {
                >.col {
                    >.row {
                        padding: 0 15px;
                        
                    }
                }
                .sale-order-detail-payment-options-shipment-image-container {
                    margin-right: 16px;
                }
                .sale-order-detail-payment-options-methods-shipment-list-item-title {
                    .font-body-2;
                    margin-bottom: 4px !important;
                }
                .sale-order-detail-payment-options-methods-shipment-list-item {
                    .font-body-2;
                    margin-bottom: 4px !important;
                }
                .sale-order-detail-payment-options-methods-shipment-list-item-link {
                    margin: 12px 0 0 !important;
                    a {
                        .font-large-button;
                        color: @color-primary;
                        border-bottom: 1px dotted fade(@color-text-primary, 70);
                        transition: color 0.2s;
                        @media (min-width: 1024px) {
                            &:hover {
                                color: @color-primary-hover;
                            }
                        }
                    }
                }
                .sale-order-detail-payment-options-shipment-image-element {
                    height: 64px;
                    padding: 2px 8px;
                    border: 1px solid @color-border-7;
                    border-radius: 8px;
                    background-size: 75%;
                }
                .col-2 {
                    flex: 0 0 14.666667%;
                    max-width: 14.666667%;
                }
                .col, .col-2 {
                    padding: 0;
                }
                .row {
                    margin: 0;
                }
            }
            >.row:nth-child(5) {
                margin-bottom: 0 !important;
                .mx-0 {
                    >.col {
                        padding: 0 15px;
                    }
                }
                
                table {
                    // th:first-child {
                    //     display: none;
                    // }
                    .sale-order-detail-order-item-img-container {
                        width: 64px;
                        height: 64px;
                        border: 1px solid @color-border-7;
                        border-radius: 8px;
                        padding: 0;
                    }
                    .sale-order-detail-order-item-title {
                        .font-body-2;
                        color: @color-text-primary;
                        padding-bottom: 8px;
                    }
                    .sale-order-detail-order-item-properties-type {
                        .font-body-small;
                        color: @color-text-semi;
                    }
                   
                    td {
                        padding: 16px 0;
                        border: 0;
                        border-bottom: 1px solid @color-border-7;
                        &:not(:last-child) {
                            padding-right: 16px;
                        }

                        &:not(:nth-child(2)) {
                            .font-body-2;
                            text-align: right;
                        }
                        &:nth-child(3) {
                            font-weight: bold;
                        }
                        &:first-child {
                            padding-right: 12px;
                        }
                    }

                    th {
                        .font-body-small;
                        padding: 0 16px;
                        color: @color-text-secondary;
                        font-weight: normal;
                        border: 0;
                        &:nth-child(2) {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
            
        }
        >.col {
            >.mb-3 {
                > a {
                    color: @color-primary;
                    transition: color 0.2s;
                    @media (min-width: 1024px) {
                        &:hover {
                            color: @color-primary-hover;
                        }
                    }
                }
            }
        }
        .sale-order-detail-section-payment-image {
            display: none !important;
        }

        .table-bordered th,
        .table-bordered td {
            .font-body-2;
            font-weight: normal;
            padding: 12px 8px;
            border: 0;
            border-bottom: 1px solid @color-border-7;

        }

        .table-striped tbody tr:nth-of-type(odd) {
            background: #fff;
        }

        .sale-order-detail-payment-options-info-order-number {
            .font-body-2;
            margin-bottom: 4px;
        }

        .sale-order-detail-payment-options-info-total-price {
            .font-body-2;
            color: @color-text-secondary;

            span {
                color: @color-text-primary;
            }
        }

        .sale-order-detail-payment-options-methods-information-block {
            align-items: flex-start !important;
        }

        .sale-order-detail-payment-options-methods-info {
            padding: 0 16px;
            
            >.col {
                padding: 0 !important;

                >.row {
                    margin: 0;
                }
            }
            .sale-order-payment-change-pp-company {
                max-width: 50%;
                flex: 0 0 50%;
                padding: 0 8px;
                margin-bottom: 16px;
                @media (max-width: 575px) {
                    max-width: none;
                    flex: 1;
                    width: 100%;
                    padding: 0;
                    min-width: 100%;
                }
            }
        }

        

        .sale-order-detail-payment-options-methods-info-title {
            margin-bottom: 4px !important;
        }

        .sale-order-detail-payment-inner-row-template {
            padding: 0;
            margin: 0;
            
        }
        .sale-order-list-cancel-payment {
            display: inline-flex;
            align-items: center;
            margin: 0;
            color: @color-primary;
            transition: color 0.2s;

            @media (min-width: 1024px) {
                &:hover {
                    color: @color-primary-hover;
                }
            }
        }
        .sale-order-detail-methods-title {
            .font-body-2;
        }

        .sale-order-detail-payment-options-methods-info-total-price {
            .font-body-2;
            margin-bottom: 12px;
        }

        .sale-order-detail-sum-name,
        .sale-order-payment-change-payment-element {
            color: @color-text-secondary;
        }

        .sale-order-detail-payment-options-methods-info-title-status-alert,
        .sale-order-payment-change-status-alert {
            .font-tiny-text;
            padding: 4px 8px;
            border-radius: 4px;
            border: 0;
            font-weight: normal;
            background-color: @color-error;
            color: #fff;
        }

        .sale-order-detail-payment-options-methods-image-container {
            padding: 4px 8px;
            border: 1px solid @color-border-7;
            border-radius: 8px;
        }

        .sale-order-detail-payment-options-methods-button-container {
            padding: 0;

            .btn {
                .btn.btn-large;
                .font-large-button;

                &:after {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 24px;
                    background-image: url('../icons/icon-arrow-right-text-button-white.svg');
                    margin-left: 8px;
                }
            }
        }



        .sale-order-payment-change-payment-title-element {
            margin-right: 8px;
        }

        .sale-order-detail-payment-options-methods-info-change-link {
            border-bottom: 1px dotted fade(@color-text-primary, 70)
        }
        .sale-order-detail-prop-name {
            .font-body-2;
            margin-bottom: 4px;
            color: @color-text-semi;
        }
        .sale-order-detail-prop-value {
            .font-body-2;
            color: @color-text-primary;
            font-weight: normal;
        }
        .sale-order-detail-card-title {
            .font-title;
            margin: 0;
            padding: 15px;
            margin-bottom: 16px;
            border-bottom: 1px solid @color-border-7;
            color: @color-text-primary;

        }
        .sale-order-detail-section-title {
            .font-body-2;
            font-weight: normal;
            padding: 8px 16px;
            margin: 0 15px 16px;
            border-radius: 8px
        }

        > .col {
            h1.mb-3:first-child {
                margin: 0 0 32px !important;
            }
            .mb3:nth-child(2) {
                margin-bottom: 24px !important; 
            }
        }
        
    }

    .sale-order-detail-active-event .sale-order-detail-payment-options-methods-template {
        border: 1px solid @color-border-7;
        border-radius: 8px;
        padding: 16px;
        .mb-4 {
            margin: 0 !important;
        }
        .btn-success {
            .btn;
            .btn.btn-primary;
            .btn.btn-large;
            border-radius: 8px;
        }
    }

    .sale-order-payment-change-pp-company {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 8px;
        margin-bottom: 16px;

        @media (max-width: 575px) {
            max-width: none;
            flex: 1;
            width: 100%;
            padding: 0;
            min-width: 100%;
        }
    }

    .sale-order-list-cancel-payment {
        .font-body-2;
        color: @color-primary;
        transition: color 0.2s;
        border-bottom: 1px dotted fade(@color-text-primary, 70);
        @media (min-width: 1024px) {
            color: @color-primary-hover;
        }
    }

    .sale-order-payment-change-pp-company-graf-container {
        position: relative;
        height: 96px;
        padding: 0;
        margin: 0 !important;
        border-radius: 10px;
        border: 1px solid @color-border-7;
        cursor: pointer;
        transition: border 0.2s;

        @media (min-width: 1024px) {
            &:hover {
                border: 1px solid @color-border-hover;
            }
        }

        .sale-order-payment-change-pp-company-image {
            width: 40%;
            right: 16px;
            left: auto;

        }
    }

    .sale-order-payment-change-pp-company-smalltitle {
        .font-body-2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        margin: 0 !important;
        padding: 0;
        max-width: 60%;
        width: 40%;
        text-align: left;
        cursor: pointer;
        pointer-events: none;
        color: @color-text-primary;
    }

    .sale-profile-detail-form {
        >.row {
            margin: 0;
            &:last-child {
                .col {
                    display: flex;
                }
            }
        }
        >.row:not(.form-group) {
            .col {
                padding: 0;
            }
        }
        >.form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px !important;
            >.col-sm-3, >.col-sm-9 {
                text-align: left !important;
                padding: 0;margin: 0;
                max-width: none;
                width: 100%;
            }
            >.col-sm-9 {
                .dropdown-fade2white {
                    background: transparent;
                }
                .bx-ui-sls-clear {
                    top: 50%;
                    transform: translateY(-50%);
                }

                .dropdown-icon {
                    top: 50%;
                    left: 12px;
                    transform: translateY(-50%);
                    background-image: url('../icons/icon-search-2-line.svg');
                    width: 20px;
                    height: 24px;
                }
                .bx-sls .bx-ui-sls-fake,
                .bx-sls .bx-ui-sls-route {
                    top: 4px;
                }
                .bx-ui-sls-pane {
                    top: ~"calc(100% + 4px)";
                    box-shadow: none;
                    border-radius: 8px;
                    background: #fff;
                    border: 1px solid @color-border-7;
                }
                .dropdown-block {
                    input {
                        padding: 0 0 0 32px !important;
                    }
                }
                input, .dropdown-block  {
                    .font-body-2;
                    font-weight: normal;
                    color: @color-text-primary;
                    padding: 18px 12px;
                    border-radius: 8px 8px 0 0;
                    background: @color-gray;
                    border: 1px solid @color-border-7;
                    border-bottom: 1px solid @color-border-14;
                    height: auto;
                    box-shadow: none;
                    &:active, &:focus, &:hover {
                        border-bottom: 1px solid @color-primary;
                    }
                }
            }
            >.col-sm-3 {
                .font-body-2;
                color: @color-text-secondary;
                margin-bottom: 4px;
            }
        }
        .btn-primary {
            .btn.btn-medium;
            margin-right: 16px;
            &:first-child {
                margin-left: auto;
            }
        }
        .btn-link {
            color: @color-text-semi;
            transition: opacity 0.2s;
            text-decoration: none;
            @media (min-width: 1024px) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .bx-order-cancel {
        max-width: none;
        border-radius: 12px;
        border: 1px solid @color-border-7 !important;
        padding: 16px;
        .mb-2 {
            .font-title;
            margin-bottom: 4px !important;
            color: @color-text-primary;
            a {
                color: @color-primary;
                text-decoration: none;
                @media (min-width: 1024px) {
                    &:hover {
                        color: @color-primary-hover;
                    }
                }
            }
        }
        .mb-3 {
            .font-body-2;
            color: @color-error;
            margin-bottom: 16px !important;
            strong {
                font-weight: normal;
            }
        }
        .btn {
            .btn.btn-primary;
            .font-large-button;
            .btn.btn-medium;
            margin-left: auto;
            display: block;
        }
        .btn-link {
            display: none;
        }
        .form-group {
            margin-bottom: 24px;
            label {
                .font-body-2;
                margin-bottom: 4px;
                color: @color-text-secondary;
            }
            textarea {
                .font-body-2;
                padding: 18px 12px;
                border-radius: 8px 8px 0 0;
                background: @color-gray;
                border: 1px solid @color-border-7;
                border-bottom: 1px solid @color-border-14;
                box-shadow: none;
            }
        }
    }

    table {
        a {
            color: @color-primary;
            @media (min-width: 1024px) {
                &:hover {
                    color: @color-primary-hover;
                }
            }
        }
        td {
            padding: 12px 0;
        }
        .sale-personal-profile-list-border {
            border-right: 1px solid @color-border-7;
            margin: 0 6px 0 11px;
        }
        .sale-personal-profile-list-close-button {
            background: url('../icons/icon-trash.svg');
            width: 24px;
            height: 24px;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 1;
            transition: opacity 0.2s;
            @media (min-width: 1024px) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        tbody {

            tr {
                transition: background 0.2s;
                &:hover {
                    background: rgba(0,0,0,0.015);
                }
            }
        }
    }

    .bx_profile {
        .main-profile-block-date-info {
            .font-body-2;
            color: @color-text-secondary;
            margin-bottom: 24px;
            .col-12:not(:last-child) {
                margin-bottom: 4px;
            }
            strong {
                font-weight: normal;
            }
        }
        .main-profile-social-block {
            margin: 24px 0 0 0;
            padding: 0;
            .soc-serv-title-grey {
                .font-body;
                color: @color-text-secondary;
                margin-bottom: -20px;
            }
        }
        form {
            >.row {
                .col {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row-reverse;
                    @media (max-width: 575px) {
                        flex-direction: column;
                    }
                }
            }
            >.row:last-child {
                margin-top: 20px;
            }
        }
        .main-profile-submit {
            .btn.btn-large;
            margin-left: 24px;
            @media (max-width: 575px) {
                width: 100%;
                margin: 0 0 16px;
            }
        }
        .btn-link {
            .font-large-button;
            color: @color-text-semi;
            text-decoration: none;
            transition: opacity 0.2s;
            height: max-content;
            @media (min-width: 1024px) {
                &:hover {
                    opacity: 0.7;
                }
            }
            @media (max-width: 575px) {
                width: 100%;
                margin: 0;
            }
        }
        .main-profile-block-shown {
            .row {
                position: relative;
                
            }
            .main-profile-block-date-info {
                margin-bottom: 16px;
            }
            .form-group {
                height: 55px;
                /*&:nth-last-child(2) {
                    margin-top: 44px;
                }*/
                .col-md-9 {
                    flex: 1;
                    max-width: 100%;
                    position: absolute;
                    
                }
                @media (max-width: 1180px) {
                    height: 90px;
                    div {
                        .form-control {
                            padding-left: 12px;
                            height: 90px;
                        }
                        .form-text.text-muted {
                            margin-bottom: 20px;
                        }
                    }
                    .main-profile-form-label {
                        max-width: calc(~'100% - 24px');
                    }
                } 
            }
            .form-control {
                .font-body-2;
                height: auto;
                padding: 18px 12px;
                background-color: @color-gray;
                color: @color-text-primary;
                border: 1px solid @color-border-7;
                border-bottom: 1px solid @color-border-14;
                border-radius: 8px 8px 0 0;
                outline: none;
                box-shadow: none;
                padding-left: 35%;
                @media (min-width: 1024px) {
                    &:hover, &:active, &:focus {
                        border-bottom: 1px solid @color-primary;
                    }
                }
            }
            .main-profile-form-label {
                .font-body-2;
                position: absolute;
                border-right: 1px solid lightgrey;
                z-index: 1;
                left: 24px;
                color: @color-text-semi;
                padding: 0;
                top: 18px;
                max-width: 30%;
                pointer-events: none;
                &.filled {
                    display: none;
                }
            }
        }

        .main-profile-block-shown + .row {
            
        }
        .main-profile-social-block {
            
            .soc-serv-title-grey {
                padding: 0;
            }
        }
    }

    .sale-order-list-title-container {
        border-radius: 12px 12px 0 0;
        padding: 16px 12px;
        border: 1px solid @color-border-7;
        background: @color-gray;
        h3 {
            .font-title;
            font-weight: normal;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    .sale-order-list-inner-container {
        padding: 24px 12px 0 !important;
        border-radius: 0 0 12px 12px;
        border: 1px solid @color-border-7;
        border-top: 0;
        background: #fff;
        >.row.mb-3.align-items-center {
            margin-bottom: 8px !important;
            .col {
                display: none;
            }
        }
        >.row:last-child {
            padding: 16px;
            border-top: 1px solid @color-border-7;
            @media (max-width: 992px) {
                flex-direction: column;
            }
        }
        
        >.row:nth-last-child(2) {
            display: none;
        }
    }
    .sale-order-list-shipment-status-block {
        .font-tiny-text;
        color: @color-text-semi;
        background: @color-gray;
        border-radius: 4px;
        border: 0;
        margin-left: 4px;
        font-weight: normal;
        padding: 4px 8px;
    }
    .sale-order-list-shipment-status-item,  .sale-order-list-shipment-item {
        .font-body-2;
    }
    
    .sale-order-list-shipment-element {
        .font-body;
    }
    .sale-order-list-inner-title-line-item {
        .font-body-2;
        font-weight: normal;
        color: @color-text-secondary;
    }
    .sale-order-list-payment {
        @media (max-width: 575px) {
            margin-bottom: 12px;
        }
    }
    .sale-order-list-payment-title, .sale-order-payment-change-payment-title {
        .font-body;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 4px !important;
    }
    
    .sale-order-list-payment-title-element {
        margin-right: 8px;
    }
    .sale-order-list-status-alert, .sale-order-payment-change-status-alert {
        .font-tiny-text;
        font-weight: normal;
        white-space: nowrap;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: @color-error;
        border: 0;
    }
    .sale-order-list-about-link {
        .btn;
        .btn.btn-primary;
        .btn.btn-medium;
        width: 100%;
    }
    .sale-order-list-inner-title-line {
        display: none;
    }
    .sale-order-list-about-container {
        padding: 0;
        @media (max-width: 992px) {
            margin: 0 0 24px;
        }
    }
    .sale-order-list-repeat-container,
    .sale-order-list-cancel-container {
        display: flex;
        align-items: center;
        padding: 0;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    .sale-order-list-cancel-container {
        @media (max-width: 992px) {
            margin: 0 0 24px;
        }
    }
    .sale-order-list-cancel-link {
        color: @color-text-semi;
        transition: opacity 0.2s;
        @media (min-width: 1024px) {
            &:hover {
                opacity: 0.7;
            }
        }
        @media (max-width: 992px) {
            width: 100%;
            text-align: center;
        }
        
    }
    .sale-order-list-repeat-container {
        order: 1;
        margin-left: 16px;
        @media (max-width: 992px) {
            margin: 0;
        }
        a {
            .btn;
            .btn-secondary;
            .btn.btn-medium;
            border: 1px solid @color-border-7;
            color: @color-text-semi;
            transition: border 0.2s;
            @media (max-width: 992px) {
                width: 100%;
            }
            @media (min-width: 1024px) {
                &:hover {
                    border: 1px solid @color-border-hover;
                }
            }
            &:before {
                .icon-arrow-refresh;
                content: '';
                width: 20px;
                height: 24px;
                margin: 0;
                padding: 0;
                background-position: center;
                background-size: cover;
                margin-right: 8px;
                
            }
        }
    }
    .sale-order-list-button-container {
        .btn {
            .btn.btn-large;
            @media (max-width: 992px) {
                width: 100%;
            }
            /*&:after {
                content: '';
                display: block;
                width: 12px;
                height: 24px;
                background-image: url('../icons/icon-arrow-right-text-button-white.svg');
                margin-left: 8px;
            }*/
        }
    }
    .sale-order-list-change-payment {
        .font-large-button;
        color: @color-primary;
        border-bottom: 1px dotted fade(@color-text-primary, 30);
        transition: color 0.2s;
        @media (min-width: 1024px) {
            &:hover {
                color: @color-primary-hover;
            }
        }
        @media (max-width: 575px) {
            border-bottom: 1px solid @color-border-7;
            display: block;
            width: 100%;
        }
    }
    .sale-order-list-payment-price, .sale-order-payment-change-payment-price {
        .font-body-2;
        margin-bottom: 12px !important;
        
        .sale-order-list-payment-element {
            color: @color-text-secondary;
            margin-right: 4px;
        }
        .sale-order-list-payment-number {
            color: @color-text-primary;
        }
    }

    .sale-personal-account-wallet-container {
        padding: 24px 15px;
        border: 1px solid @color-border-7;
        border-radius: 12px 12px 0 0;
        .sale-personal-account-wallet-sum {
            .font-price-large;
            color: @color-text-primary;
            margin-bottom: 8px;
        }
        .sale-personal-account-wallet-date {
            .font-body-2;
            color: @color-text-secondary;
        }


    }
    .sale-accountpay-pp-company-graf-container {
        position: relative;
        height: 96px;
        padding: 0;
        margin: 0 !important;
        border-radius: 10px;
        border: 1px solid @color-border-7;
        cursor: pointer;
        transition: border 0.2s;

        @media (min-width: 1024px) {
            &:hover {
                border: 1px solid @color-border-hover;
            }
        }

        .sale-accountpay-pp-company-image {
            width: 40%;
            right: 16px;
            left: auto;

        }
    }

    .sale-accountpay-pp-company-smalltitle {
        .font-body-2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        margin: 0 !important;
        padding: 0;
        max-width: 60%;
        width: 40%;
        text-align: left;
        cursor: pointer;
        pointer-events: none;
        color: @color-text-primary;
    }
    >.container>.row>.col-md-9>.sale-personal-account-wallet-container {
        & + .row:nth-child(2) {
            margin: 0;
            border: 1px solid @color-border-7;
            border-top: 0;
            border-bottom: 0;
            margin-bottom: 0 !important;
            padding-top: 16px;
            >.col {
                padding: 0 15px;
            }
            .sale-personal-section-account-sub-header {
                .font-body;
                margin-bottom: 8px;
                font-weight: bold;
            }
        }
        &~.row:nth-child(3) {
            margin: 0;
            border: 1px solid @color-border-7;
            border-top: 0;
            margin-bottom: 0 !important;
            border-radius: 0 0 8px 8px;

            >.col {
                padding: 0 15px;
            }

            .sale-accountpay-fixedpay-title {
                .font-body-2;
                color: @color-text-secondary;
                margin-bottom: 12px;
            }

            .sale-accountpay-fixedpay-list {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: -8px;
                @media (max-width: 575px) {
                    margin-bottom: -4px;
                }
            }

            .sale-accountpay-fixedpay-item {
                .font-large-button;
                color: @color-text-semi;
                padding: 11px 15px;
                background: #fff;
                border: 1px solid @color-border-7;
                border-radius: 8px;
                margin: 0 8px 8px 0;
                height: auto;
                transition: border 0.2s;
                @media (max-width: 575px) {
                    margin: 0 4px 4px 0;
                }
                @media (min-width: 1024px) {
                    &:hover {
                        border: 1px solid @color-border-hover;
                    }
                }
                // &:not(:last-child) {
                //     margin-right: 4px;
                // }
            }
        }
    }   
    .sale-accountpay-pp-title {
        .font-body-2;
        color: @color-text-secondary;
        margin-bottom: 12px;
    }

    input[type=checkbox].sale-accountpay-pp-company-checkbox {
        display: none;
    }
    .row.sale-accountpay-pp {
        margin: 0 -8px;
    }
    .sale-accountpay-pp-company {
        // max-width: ~"calc(50% - 16px)";
        // flex: 0 0 ~"calc(50% - 16px)";
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 8px;
        margin-bottom: 16px;
        @media (max-width: 575px) {
            flex: 0 0 100%;
            max-width: 100%;
            
        }
        &.bx-selected {
            .sale-accountpay-pp-company-graf-container {
                border: 1px solid @color-primary;
                box-shadow: inset 0 0 0 1px @color-primary;
            }
        }
    }

    .bx-sap {
        .col {
            .row:last-child {
                .col {

                    display: flex;
                }
            }
        }
    }

    .sale-account-pay-button {  
        .btn.btn-large;
        margin-left: auto;
        @media (max-width: 575px) {
            width: 100%;
        }
        &:after {
            content: '';
            width: 12px;
            height: 24px;
            background-image: url('../icons/icon-arrow-right-text-button-white.svg');
            margin-left: 8px;
            display: inline-block;
        }
    }
    
    .sale-accountpay-custompay-container {
        .input-group {
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 282px;
            label {
                .font-tiny-text;
                position: absolute;
                color: @color-text-semi;
                z-index: 100;
                top: 8px;
                left: 24px;
                pointer-events: none;
            }
            input {
                .font-body-2;
                width: 100%;
                padding: 28px 12px 8px;
                text-align: left !important;
                height: auto;
                border: 1px solid @color-border-7;
                border-radius: 8px 8px 0 0;
                background: @color-gray;
                border-bottom: 1px solid @color-border-14;
                box-shadow: none;
                &:active, &:hover, &:focus {
                    border-bottom: 1px solid @color-primary;
                }
            }
        }
    }
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_title {
    height: 50px;
}