.stories {
    padding: 36px 12px;

    @media (max-width: 1600px) {
        padding: 28px 12px;
    }

    @media (max-width: 991px) {
        padding: 24px 0; 
    }

    .stories-wrapper {
        display: flex;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    .text-container {
        min-width: 224px;
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1600px) {
            min-width: 188px;
        }

        @media (max-width: 991px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 24px;
        }

        .title {
            margin: 0 0 12px;

            @media (max-width: 991px) {
                margin: 0;
            }
        }
    }

    .swiper-button-next {
        right: -32px;

        @media (max-width: 1400px) {
            right: 0;
        }
    }

    .swiper-button-prev {
        left: -32px;

        @media (max-width: 1400px) {
            left: 0;
        }
    }

    .link {
        display: flex;
        color: @color-text-semi;
        transition: color 0.2s;
        
        @media (min-width: 991px) {

            &:hover {
                color: @color-primary;

                .icon {
                    margin-left: 12px;
                }
            }
        }

        .icon {
            transition: margin-left 0.2s;
            margin-left: 8px;
        }
    }

    .stories-list {
        max-width: ~"calc(100% - 248px)";
        position: relative;
        flex: 1;

        @media (max-width: 991px) {
            max-width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .swiper-slider {
        position: relative;
        margin: 0 auto;

        @media (max-width: 991px) {
            padding: 0;
            margin: 0;
        }
    }

    .swiper-container {
        border-radius: 12px;
        
        @media (max-width: 991px) {
            padding: 0;
            border-radius: 0;
            box-shadow: none;
        }
    }
    
    .swiper-arrows {
        @media (max-width: 991px) {
            display: none;
        }
    }

    .item {
        display: block;
        width: 166px;
        border: 1px solid @color-border-7;
        border-radius: 15px;
        padding: 3px;
        flex: 1;

        @media (max-width: 1600px) {
            width: 141px;
        }

        &.unseen {
            border: 1px solid @color-primary;
        }

        .image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 100%;
        }
    }

    .swiper-slide {
        width: 166px;

        @media (max-width: 1600px) {
            width: 141px;
        }
    }

    .swiper-slide.placeholder-slide {
        width: 166px;
        border: 1px solid @color-border-7;
        border-radius: 15px;
        padding: 3px;
        height: 100%;

        @media (max-width: 1600px) {
            width: 141px;
        }

        .placeholder-img {
            background-color: @color-gray;
            padding-bottom: 178.49%;
            border-radius: 12px;
        }
    }

    &.type-1 {

        .item {

            .image,
            .placeholder-img {
                padding-bottom: 178.49%;
                border-radius: 12px;
            }
        }
    }

    &.type-2 {

        .item {
            height: 166px;
            border-radius: 100%;

            @media (max-width: 1600px) {
                height: 141px;
            }

            @media (max-width: 575px) {
                width: 96px;
                height: 96px;
            }
        }

        .swiper-slide.placeholder-slide {
            height: 166px;

            @media (max-width: 1600px) {
                height: 141px;
            }

            @media (max-width: 575px) {
                width: 96px;
                height: 96px;
            }

            .placeholder-img {
                padding-bottom: auto;
                border-radius: 100%;
                width: 100%;
                height: 100%;
            }
        }

        .swiper-slide {

            @media (max-width: 575px) {
                width: 96px;
            }
        }
    }
    
    &.stories-inner {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
        padding: 60px 0;

        @media (max-device-height: 1000px) and (orientation: landscape) {
            padding: 28px 0;
        }

        @media (max-width: 575px) {
            padding: 0;
        }

        &.opened {
            display: flex;

            .image {

                @media (max-width: 575px) {
                    padding-bottom: 100vh;
                    padding-bottom: ~"calc(var(--vh, 1vh) * 100)";
                }
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);

            body:not(.macos) & {
                @media (min-width: 1025px) {
                    backdrop-filter: blur(7px);
                    -webkit-backdrop-filter: blur(7px);
                }
            }
        }

        .progress-bar {
            position: absolute;
            display: none;
            left: 16px;
            right: 16px;
            top: 16px;
            height: 2px;
            background: @color-blur-cutter;
            border-radius: 1px;

            @keyframes story-loading-animation {
                0% {
                    width: 1px;
                }
                100% {
                    width: 100%;
                }
            }

            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                height: 2px;
                width: 1px;
                border-radius: 1px;
                background: #fff;
                animation: story-loading-animation linear forwards;
                animation-duration: inherit;
            }
        }

        .close {
            position: absolute;
            z-index: 1000;
            right: 32px;
            top: 32px;
            padding: 20px;
            border-radius: 100%;
            background: #fff;
            opacity: 1;
            transition: background-color 0.2s;

            @media (min-width: 1024px) {

                &:hover {
                    background-color: @color-primary;
                    opacity: 1;

                    .icon {
                        .icon-close-big-white;
                        opacity: 0.7;
                    }
                }
            }

            @media (max-width: 1024px) {
                right: 16px;
                top: 16px
            }

            .icon {
                transition: background-image 0.2s, opacity 0.2s;
            }
        }

        .item {
            width: 100%;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);

            @media (max-width: 575px) {
                padding: 0;
                border: 0;
            }

            .btn {
                display: flex;
                position: absolute;
                bottom: 16px;
                left: 16px;
                right: 16px;
                opacity: 0;
                pointer-events: none;
                transition: all 0.2s;

                @media (max-device-height: 1000px) and (orientation: landscape) {
                    left: 8px;
                    right: 8px;
                    padding: 6px 0;
                    font-size: 12px;
                }
            }
        }

        .swiper-container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:before,
            &:after {
                display: none;
            }

            .swiper-wrapper {
                height: auto;
                margin-left: -8vw;
                align-items: center;

                @media (max-width: 1024px) {
                    margin-left: 1vw;
                }

                @media (max-width: 575px) {
                    margin: 0;
                }
            }

            .swiper-slide {
                height: auto;
                margin: 0 12px;
                transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);

                @media (min-width: 1024px) {

                    &:not(.swiper-slide-active):hover {
                        transform: scale(1.1);

                        .item{

                            .image {

                                &:after {
                                    opacity: 0.3;
                                }
                            }
                        }
                    }
                }

                @media (max-width: 1024px) {
                    width:~"calc(49vh - 8px)";
                    width: ~"calc(var(--vh, 1vh) * 49 - 8px)";
                    margin: 0 4px;
                }

                @media (max-width: 575px) {
                    width: 100%;
                }

                &.swiper-slide-active {
                    width: ~"calc(49vh - 24px)";
                    width: ~"calc(var(--vh, 1vh) * 49 - 24px)";

                    @media (max-width: 1024px) {
                        width: ~"calc(49vh - 8px)";
                        width: ~"calc(var(--vh, 1vh) * 49 - 8px)";
                    }

                    @media (max-width: 575px) {
                        width: 100%;
                    }

                    .progress-bar {
                        display: block;
                    }

                    .item {
                        padding: 0;
                        border: 1px solid transparent;

                        @media (max-width: 575px) {
                            border: 0;
                        }

                        .btn {  
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
}
