.tabs-with-goods {
    padding: 36px 0;

    @media (max-width: 1366px) {
        padding: 28px 0;
    }

    @media (max-width: 575px) {
        padding: 24px 0;
    }

    .section-name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;

        @media (max-width: 1366px) {
            margin-bottom: 32px;
        }

        @media (max-width: 575px) {
            margin-bottom: 24px;
            text-align: left;
        }

        .title {
            margin: 0 0 12px;

            @media (max-width: 575px) {
                margin-bottom: 8px;
            }
        }

        .subtitle {
            display: flex;
            justify-content: center;
            color: @color-text-semi;
            transition: all 0.2s;

            @media (min-width: 992px) {
                &:hover {
                    color: @color-primary;

                    .icon {
                        margin-left: 16px;
                    }
                }
            }

            @media (max-width: 575px) {
                justify-content: flex-start;
                padding-bottom: 7px;
                border-bottom: 1px solid @color-border-7;
            }

            .icon {
                transition: all 0.2s;
                margin-left: 8px;
                @media (max-width: 575px) {
                    margin-left: auto;
                }
            }
        }
    }

    .col-sm-6 {
        padding: 0 12px;

        @media (max-width: 575px) {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: center;
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        width: 100%;
        flex-wrap: nowrap;
        white-space: nowrap;
        @media (max-width: 1366px) {
            margin-bottom: 32px;
        }
        @media (max-width: 768px) {
            margin-bottom: 24px;
            justify-content: flex-start;
            margin-left: 16px;
        }
        
    }

    .buttons {
        margin-top: 32px;

        @media (max-width: 1366px) {
            margin-top: 28px;
        }
        @media (max-width: 767px) { 
            margin-top: 24px;
        }
    }
    
    .more-items {
        margin: 24px -16px 24px;
        @media (max-width: 768px) {
            margin: 0 -4px 24px;
        }
        .item {
            margin-bottom: 24px;
        }
        .col-6 {
            @media (max-width: 768px) {
                padding: 0 4px;
            }
        }
    }

    .name {
        text-align: left;
    }

    .items-list {
        display: flex;
        margin: 0 -12px;
        
        @media (max-width: 767px) {
            margin: 0 -4px;
            flex-direction: column;
        }
        .item {
            @media (max-width: 767px) {
                margin-bottom: 24px;
            }
            &.big {
                @media (min-width: 768px){
                    height: 100%;
                }
                .product-image-block {
                    
                    @media (min-width: 768px) {
                        padding-bottom: 0;
                        height: 100%;
                    }
                }
                
            }
        }
        &>.col-md-6:nth-child(1) {
            @media (max-width: 767px) {
                margin-bottom: 8px;
            }
        }
        &>.col-md-6:nth-child(2) {
            .col-6 {
                &:nth-child(1), &:nth-child(2) {
                    margin-bottom: 24px;
                    @media (max-width: 767px) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .col-6, .col-12 {
            padding: 0 12px;
            @media (max-width: 767px) {
                padding: 0 4px;
            }
        }
        .row {
            margin: 0 -12px;
            @media (max-width: 767px) {
                margin: 0 -4px;
            }
        }
    }
}