h1 {
    color: #161A1D;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 32px;
}

h2 {
    color: #161A1D;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
}

div + h2, p + h2 {
    margin-top: 32px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
    color: #161A1D;
    font-weight: bold;
    margin-bottom: 24px;
}

div + h3, p + h3 {
    margin-top: 32px;
}

h4 {
    font-size: 24px;
    line-height: 28px;
    color: #161A1D;
    font-weight: bold;
    margin-bottom: 20px;
}

div + h4, p + h4 {
    margin-top: 32px;
}

h5 {
    color: #161A1D;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}

div + h5, p + h5 {
    margin-top: 32px;
}

h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #161A1D;
    margin-bottom: 12px;
}

div + h6, p + h6 {
    margin-top: 32px;
}

ul {
    margin: 30px 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    position: relative;
    min-height: 28px;
    padding-left: 24px;
    margin: 8px 0;
}

ul li:before {
    content: "";
    width: 16px;
    height: 1px;
    position: absolute;
    background: #12B4F6;
    left: 0;
    top: 9px;
}

ul li:before + ul {
    display: none;
}

ol {
    counter-reset: myCounter;
    margin: 30px 0;
    padding: 0;
}

ol li {
    list-style-type: none;
    margin: 8px 0;
    padding: 0;
}

ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter) ".";
    color: #12B4F7;
    display: inline-block;
    width: 28px;
    text-align: right;
    margin-right: 8px;
}

hr {
    background: rgba(0, 0, 0, 0.07);
    height: 1px;
    display: block;
    margin: 32px 0;
    width: 100%;
    border: none;
}

div.note {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    color: #161A1D;
    padding-left: 34px;
    margin: 24px 0;
}

div.note:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #12B4F6;
    border-radius: 2px;
    left: 0;
    top: 0;
    position: absolute;
}

div.row.images > div img {
    width: 100%;
}

div.infobox {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #161A1D;
    padding-left: 43px;
    min-height: 32px;
    position: relative;
    margin: 32px 0;
}

div.infobox:before {
    content: "";
    display: block;
    background-image: url('/bitrix/wizards/nextype/alpha/site/templates/alpha/icons/icon-infobox.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    position: absolute;
}

blockquote, div.blockquote {
    display: block;
    position: relative;
    margin: 32px 0;
    padding-left: 43px;
    font-size: 20px;
    line-height: 32px;
    color: #161A1D;
    min-height: 32px;
}

blockquote:before, div.blockquote:before {
    content: "";
    display: block;
    background-image: url('/bitrix/wizards/nextype/alpha/site/templates/alpha/icons/icon-quote.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    position: absolute;
}

blockquote .author, div.blockquote .author {
    display: block;
    position: relative;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #7A8086;
    padding-left: 20px;
    min-height: 20px;
}

blockquote .author:before, div.blockquote .author:before {
    content: "";
    display: block;
    width: 14px;
    height: 1px;
    position: absolute;
    background: #7A8086;
    top: 10px;
    left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table th {
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding: 12px 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    text-align: left;
}

table td {
    border: none;
    padding: 12px 8px;
    font-size: 16px;
    line-height: 24px;
    color: #161A1D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}